[2020-09-01 21:36] #196 closed, assigned to nobody

[2020-09-02 13:01] AndreSteenveld commented on #193
I'm sorry for my late reply but thank you for looking at this thread (and all my ramblings 😅).

I would like to elaborate on why the services and configurations are split across multiple files; the main reason is to make working with docker-compose more pleasant. Every "service" in this project has several compose files associated with it which add or override some part of the service definition o

[2020-09-02 18:52] peterfeifanchen opened #197 "Adding key/value pairs to attribute in YAML"
I couldn't get overlay to work If I want to overlay key/values onto an attribute say `annotations:` at the top level. I tried:

[code]

AND

[code]

What is the correct way to do this? The first error I get was that

[code]
I think this is because in the left side, my `annotations: nil` initially but I would like to add to it as a map.

[2020-09-02 19:22] peterfeifanchen commented on #197
Oh figured it out, you pass in a map and you don't even have to do the overlay.

[2020-09-02 19:22] #197 closed, assigned to nobody

[2020-09-02 22:22] peterfeifanchen opened #198 "Overlaying maps with a different group of keys?"
Hi I was wondering since Append is only for lists, is there a way to merge maps together?

E.g.
[code]
and I would like to overlay `another: value` to create:
[code]

[2020-09-02 22:48] ewrenn8 commented on #198
Hi @peterfeifanchen,

You will just need to add the `missing_ok=True` keyword arg to the key and ytt will know to add it if it doesn't exist, or override it if it does. Here is an example: https://get-ytt.io/#gist:https://gist.github.com/ewrenn8/fe60708eb3a7b35703c21d6155049131

Eli & Steven

[2020-09-02 22:51] peterfeifanchen commented on #198
what would I do if the right map is a variable passed into the function?
[code]

[2020-09-03 01:10] peterfeifanchen opened #199 "Prettier way of loading data.values"
Right now in my starlark program I do:

[code]

Is there a way to do this in load? Like:
[code]

[2020-09-03 09:25] AndreSteenveld commented on #193
For future reference, I've created a mixin function which takes a path and list of values and returns a document which can be used as an overlay. [Link](https://get-ytt.io/#gist:https://gist.github.com/AndreSteenveld/045cbb70e166a54a5dee435e898c51e3) to the playground.

[2020-09-03 18:18] pivotaljohn commented on #199
If I _really_ want to keep it terse (in practice, less often than I originally thought), I'll sneak in a semi-colon and make the assignment:
[code]

The `load()` statement allows you to name values that are exported from the module and optionally manage the local identifier to bind to; but not whole expressions.

For more: https://github.com/google/starlark-go/blob/master/doc/spec.md#load-statemen

[2020-09-08 19:40] cari-lynn commented on #198
Hey! You can use the template module for this. You will also need to set the `missing_ok=True` in the parent annotation, via `#@overlay/match-child-defaults`.

Here's an example: https://get-ytt.io/#gist:https://gist.github.com/pivotal-dean/109853fd6682bbe223c00935e03c9a31

[2020-09-08 20:53] cari-lynn opened #201 "Panic when overlaying a replaced node"
[code]
Creates a panic

[code]

[2020-09-09 00:27] peterfeifanchen commented on #198
Yes that worked thanks!

[2020-09-09 00:27] #198 closed, assigned to nobody

[2020-09-09 00:28] peterfeifanchen commented on #199
Thanks!

[2020-09-09 00:28] #199 closed, assigned to nobody

[2020-09-09 16:51] cppforlife commented on #201
duplicate as this: https://github.com/k14s/ytt/issues/151

[2020-09-09 16:51] #201 closed, assigned to nobody

[2020-09-16 06:51] m0un10 opened #202 "Conditional check on existence of a variable"
I've spend 3 hours googling, so it might be a good one for the docs.
I can't for the life of me work out how to check existence of a variable.

I thought this would work...
[code]

But, I get something like
`struct has no .y field or method`

[2020-09-16 07:00] ewrenn8 commented on #202
Hey @m0un10,

You can use the hasattr() function. There is some more info in the [FAQ](https://github.com/k14s/ytt/blob/develop/docs/faq.md#how-do-i-check-if-a-key-is-set), but, I agree, a more observable spot in the docs would also help. We will get this added!

Eli

[2020-09-16 10:59] m0un10 commented on #202
Thank you so much for the prompt response! And nice to see it was actually in FAQ. My bad for missing that.
For what it is worth, the playground was amazingly helpful for getting started.
When I needed to loop across a map, that's when things got hard because it can't be done except for changing the data to be an array by moving the key into the object. The `hasattr()` function could be useful at

[2020-09-17 01:04] peterfeifanchen opened #203 "Ytt load files in parent directories"
My file structure is like this

common/rule.star
component/*.yml
component/branch/master/testplan.star

I tried to run `ytt -f component/branch/master -f component -f common` and `ytt -f testplan.star -f ../../ -f ../../../common/` but both gave me

[code]

Is there not a way to do this? Or will it basically resort to symbolic links to deal with this?

[2020-09-17 02:37] peterfeifanchen commented on #203
Ohhh, is it the order at which you feed in the directories that matters?

[2020-09-17 18:09] cppforlife commented on #193
@AndreSteenveld 👍.

when ytt processes individual -f. it's not concatenating them. it's seeing them as separate files that you have to explicitly load (similar to other programmaing languages). error message makes sense since you arent specifying explicit load directives between those files.

if it works, it works.

let's see what happens as we keep on improving ytt.

after thinking a bit more abo

[2020-09-17 18:09] #193 closed, assigned to nobody

[2020-09-17 19:18] ewrenn8 commented on #202
@m0un10

Thanks for the suggestion! I am unsure of your use case, but you may be able to use the [vals function](https://github.com/k14s/ytt/blob/develop/docs/lang-ref-yaml-fragment.md#yaml-map) to loop over a yamlfragment map.

Eli

[2020-09-17 21:25] StevenLocke commented on #203
Hi @peterfeifanchen

ytt does allow this without needing to resort to symlinks :)

A key insight for the `load` command is that the first argument passed into it, the path for the file to load, is relative to where the caller is loaded.

We set up a similar example, with this directory structure:

[code]

where testplan.star is trying to load a function from rule.star:
[code]

You can take a look

[2020-09-17 21:43] pivotaljohn commented on #202
Hey @m0un10!

FWIW, we also have a Slack channel in the Kubernetes slack: [#k14s](https://kubernetes.slack.com/archives/CH8KCCKA5). It's very welcoming and usually responsive.

+1 to the idea of turning up the volume on this bit of knowledge. 👍🏼

[2020-09-17 21:44] peterfeifanchen commented on #203
I see that explains it very well. Thank you!

[2020-09-17 21:44] #203 closed, assigned to nobody

[2020-09-24 00:38] abetaev opened #204 "rfc: instrumenting Concourse pipeline job plans"
hi!

i am trying to build templates, which using overlay generate Concourse pipeline with a specific configuration. everything seems to be fine until i get to job plan which has arbitrary structure.

i am trying to find the most generic way to apply overlay onto same elements which may be in different nodes of YAML tree.

example:

    plan:
    - in_parallel:
      - get: resourceA
        param1

[2020-09-24 18:52] larsks opened #205 "make structs iterable"
Let's allow maps to be used in `for` loops by iterating over the keys.

If I have a map defined:

[code]

It would be conveninent to be able to do something like:

[code]

The examples in https://github.com/k14s/ytt/commit/ead85c65ed47542199debc2ae974f4687a27179a featuring `struct.decode(...)` seem convoluted:

[code]

[2020-09-24 19:04] larsks opened #206 "Should `item.subkey` and `item["subkey"]` always be identical?"
I have values that look like this:

[code]

In a template, I can refer to `data.values.simple_map.key1` and it Just Works. Given:

[code]

I get:

[code]

But when attempting to iterate over `nested_map`:

[code]

I end up with the following failure:

[code]

Of course, that's ~~a dirty lie~~ misleading; and if we just change the syntax to use `var["key"]` instead of `var.key`:

[code]

It works a

[2020-09-24 19:07] cppforlife commented on #205
yes, totally agree. we should catch up data.values struct abilities to be able to do `[x]` accessor (in addition to `.x`) and also make it iterable.

[2020-09-24 19:11] cppforlife commented on #206
struct.decode(data.values) returns data values decoded into dicts and lists. that's why you have to use [] accessor instead of dot notation.

[2020-09-24 19:12] cppforlife commented on #206
(once we improve structs to be iterable most uses of struct.decode with data.values should disappear)

[2020-09-24 19:21] larsks opened #207 "ytt directives inside for/end loops"
I wanted to do this:

[code]

But this fails with because I've got a ytt directive instead of a YAML node immediately following the `for/end`:

[code]

I can of course just rewrite it like this:

[code]

But it would be nice if ytt directives in this situation didn't cause it to tail like that.

[2020-09-24 23:29] gcheadle-vmware commented on #204
Hi @abetaev,

Thank you for reaching out! We would love to assist you with your issue; it would be helpful if you could provide an example showing your starting (base) config, as well as the desired final config.

Once we have a more concrete understanding of what you would like to do, we can provide suggestions and examples to help solve your issue.

[2020-09-25 14:34] cppforlife commented on #207
i believe the reason why we put that restriction was to avoid confusion for folks that thought /end applies to following line vs following YAML node.

[2020-09-25 14:55] cppforlife opened #208 "enhance structs to support iteration, bracket accessor, ..."
currently we use struct package provided by starlark. it seems that it lacks few things that would make it friendlier to use (especially for case of data.values).

- [ ] support iteration (e.g. `for k in st`)
- [ ] support [] accessor (e.g. st["foo"] in addition to st.foo)
- [ ] `in` check (e.g. `"foo" in st`)
- [ ] anything else that we have done for yaml fragments https://github.com/k14s/ytt/blo

[2020-09-25 14:57] cppforlife commented on #205
closing this in favor of https://github.com/k14s/ytt/issues/208.

[2020-09-25 14:57] #205 closed, assigned to nobody

[2020-09-25 15:43] larsks commented on #207
That's fine. It's obviously not a big issue; I was mostly curious if this was expected (which I guess it is) or not. I'm going to go ahead and just close this issue. Thanks!

[2020-09-25 15:43] #207 closed, assigned to nobody

[2020-09-26 20:16] abetaev commented on #204
yeah, sure. sorry for missing that obviously necessary part :)

`<additional-context>`
Concourse's pipeline YAML i want to instrument can be roughly split onto 2 sections:
[code]
jobs may depend on resources. reference to resources is made via `get` and `put` elements which as any plan step may appear on different levels.
the final goal of this job is to deploy application to an environment.
job h

[2020-09-30 23:10] larsks commented on #206
Thanks for responding here! Since there are other issues open that will address this, I'm going to close this one to reduce the clutter ;)

[2020-09-30 23:10] #206 closed, assigned to nobody

[2020-09-30 23:50] pivotaljohn commented on #204
Thanks for the extra context, @abetaev! That makes it absolutely clear what you're asking...

Your question is about whether it is possible to apply an overlay on an arbitrary location in a YAML document.

That _is_ a challenge! I'm not sure it's possible, but I'm looking into it.

In the meantime, here are some thoughts. Perhaps we might find that you don't need overlays afterall?

## General tho

[2020-10-01 18:05] abetaev commented on #204
thanks @pivotaljohn

the basic templating was the first thing i started to experiment with. and fortunately i have control over pipelines, so, yes, i can do it.

i will take closer look at the `template` module, i think it might be helpful for me.

my original goals were (and that's why overlays):
* externalize/separate generics (add imperative constructs and functions into pipeline definitions)
*

[2020-10-01 19:33] pivotaljohn commented on #204
So, we huddled on this "rfc" and @cppforlife came up with a pretty clean solution to meet exactly your request. (_"yet"_ is right 😉 ).

https://get-ytt.io/#gist:https://gist.github.com/pivotaljohn/069ff5bd36e3d69f9edde1b9c4541894

It contains four files:
- `overlay-partial.star` which provides that query feature you were talking about in the form of a Starlark function
- `pipeline.yml` is your sam

[2020-10-02 03:13] peterfeifanchen opened #209 "Calling ytt as a library in code"
Is it possible to create my own `TemplateOptions` (e.g., filling out RegularFilesSourceOpts and DataValuesFlags) and just call `func (o *TemplateOptions) Run() error` directly in code instead of executing ytt in bash?

https://github.com/k14s/ytt/blob/fc9b97d211e866adcb2b21a7cfa707784fc01b2c/pkg/cmd/template/cmd.go#L16

[2020-10-02 20:08] cppforlife commented on #209
@peterfeifanchen we actually do something like that in our e2e tests here for example: https://github.com/k14s/ytt/blob/fc9b97d211e866adcb2b21a7cfa707784fc01b2c/pkg/cmd/template/cmd_overlays_test.go#L47-L59

generally i recommend to calling out to the binary (dont have to wrap it in bash though, just direct binary call) like ive done in github.com/k14s/kapp-controller and github..com/k14s/terrafor

[2020-10-02 20:34] peterfeifanchen commented on #209
Can you point me to how you did it in binary in kapp-controller and terraform? My use case is I have some files and some initial data values and rather than currently doing `os.Exec("ytt ...")` I would like to call the ytt code directly to compile the files. This way I can write test hermetically instead of relying on ytt being installed.

[2020-10-03 15:38] abetaev commented on #204
@pivotaljohn @cppforlife thank you so much for making this beautiful example! i didn't expect to get solution so soon, and it looks simple, comprehensible.

still, i will need time to understand it better and deeper. thanks for making references to the documentation. i will definitely walk through those pages.

---
feedback is important, and i will reach out to give it as soon as i will have enoug

[2020-10-04 02:20] pivotaljohn commented on #204
In the meantime, we'll close this issue — only to indicate that you've been unblocked.

Good luck!

[2020-10-04 02:20] #204 closed, assigned to pivotaljohn

[2020-10-05 02:07] jtigger commented on #208
Started working on this.
Thought I was done when `struct.encode()` was working as described in this issue.
However, while writing up corresponding docs, discovered that `struct.make()` is an entirely different code-path.
Will address that bit too.

[2020-10-05 15:14] cppforlife commented on #209
example above shows how to call ytt in code instead of calling the binary.

kapp-controller and terraform both exec to the binary (similar to what you are doing): https://github.com/k14s/kapp-controller/blob/develop/pkg/template/ytt.go#L57-L60 (uses fs) and https://github.com/k14s/terraform-provider-k14s/blob/develop/pkg/ytt/ytt.go#L25-L28 (uses stdin to pass in additional config).

ytt also has -

[2020-10-05 17:40] peterfeifanchen commented on #209
Is `data` in this case just unrestricted text? (e.g., it doesn't have to be yaml, l could write starlark functions in there also and pass in a x.star file as well)?

[2020-10-06 18:31] pivotaljohn commented on #209
Yes, `data` is the contents of the file. So any file you're used to loading in to `ytt` on the command-line works equally well through the "bulk" interface.

[2020-10-07 00:44] cppforlife opened #211 "improve error message when ) is missing on prev line"
when closing ) is missing on a prev line error message `got identifier, want ','` pops up. since ytt shows error related line it's a bit confusing that ) is missing on the prev line.

- https://get-ytt.io/#gist:https://gist.github.com/cppforlife/c34961a5e9a5aa31a16d6d678ed28f96
- https://get-ytt.io/#gist:https://gist.github.com/cppforlife/8c7088cab2b7b64752fbc4481cac5a17

should we add some hint t

[2020-10-07 02:58] jcfj opened #212 "improve error message when trying to put a docset into a document"
Input:
[code]
Panic:
[code]

Reproducible with `ytt version 0.30.0` and whatever is currently running on [get-ytt.io](https://get-ytt.io/)

[2020-10-07 16:47] jorgemoralespou opened #213 "Provide a way to generate output as part of the ytt processing"
When combining ytt to kapp for installing some templates I want to be able to give the end user some information about what was installed. An example would be credentials or URL access like what happens when installing applications with Helm.
When not combined with kapp, it probably doesn't make sense, as the output I would expect from ytt will most likely be only the processed templates.

There n

[2020-10-08 15:47] pivotaljohn commented on #212
In YAML, a document cannot contain another document.

From time-to-time, we _do_ want to insert multiple things — just like you are illustrating, here.

For that there is the `template.replace()` function...

[code]

That bit if knowledge in buried, currently.  We currently only make an oblique reference at the bottom of the [Language > Functions](https://github.com/k14s/ytt/blob/7dac1c3425e719857

[2020-10-08 15:54] pivotaljohn opened #215 "Document the `template` module"
_edit: rewritten in Cohen-style User Story to be more precise_

**As a** Configuration Author
**I want** to learn of the behavior and intent of the `template` module
**So that** I can confidently include its functionality in my templates

---

### Scenario: Navigating for reference

**Given** I'm aware that there's this `template` module and want to learn more
**When** I step through the table of

[2020-10-08 15:57] pivotaljohn commented on #212
And yes, when we release a new version of `ytt`, the Playground on the website is automatically updated to use that latest release. 👍🏼

I believe this is unblocked; closing. I captured the need to reduce the effort to find `template.replace()`. Please comment further if there's more here.

[2020-10-08 16:09] pivotaljohn commented on #213
Trying to envision this...

Can you give an example of what this would look like, @jorgemoralespou (e.g. sample output from Helm)?

Are these some kind of post-install notes?

[2020-10-08 16:28] jorgemoralespou commented on #213
Exactly, it would be something just like that. If kapp, succeeds with the installation I would want to  be able to get some notes out to the user.

[code]

[2020-10-09 00:34] jcfj commented on #212
I know. Is it ok for ytt to panic in that kind of situation, though? (The panic message is not the most terrible error description, so maybe it is.)

[2020-10-09 00:38] jcfj commented on #215
Isn't really. I saw the [example](https://get-ytt.io/#example:example-replace) with `template.replace` and deliberately removed it to find out what would break.

[2020-10-09 03:16] jtigger commented on #14
I have now had many conversations with users who have found many little sharp edges in the UX of `ytt` like this to be a kind of "death by a 1,000 cuts" experience... to the point where some are reporting that the tool can feel outright hostile.

It's becoming my understanding that the views expressed in this issue are widely held. And that we have crossed a threshold from "safe by default" to "pe

[2020-10-09 16:41] ewrenn8 commented on #212
Yea, we probably shouldn't have a user facing panic like this. I am going to reopen the issue so we can use it to track improving the error message.

[2020-10-12 15:54] pivotaljohn opened #216 "When attribute is not found on a struct, hint to use the `hasattr()` function to avoid an error"
https://kubernetes.slack.com/archives/CH8KCCKA5/p1602500676363100?thread_ts=1602500071.360700&cid=CH8KCCKA5

[2020-10-12 21:37] cppforlife commented on #216
do note that starlark adds a hint about typo in the struct field name. let's make sure this hint works well with the other hint.

[2020-10-12 21:50] pivotaljohn opened #217 "Implement Language Server Protocol for ytt"
Write a [Language Server Protocol](https://microsoft.github.io/language-server-protocol/) for `ytt` files (i.e. Starlark within YAML).

_(TODO: there is a lot that can be packed into an LSP; enumerate the features so that we can prioritize and tackle.)_

(Potentially) Useful Resources:
- https://github.com/juliosueiras/terraform-lsp
- https://github.com/mauve/vscode-terraform
- https://github.com/

[2020-10-12 22:09] pivotaljohn commented on #215
Apologies, @jcfj; didn't mean to mischaracterize your experience/experiment, there.

I over-indexed on having had prior conversations where the practitioner was unaware of the `template` module. I assumed that was true in your case.

This issue still stands as a need to be able to reference this module and make plain its intended use.

[2020-10-12 22:36] pivotaljohn commented on #213
Understood. Perhaps a port of [Creating a NOTES.txt File](https://helm.sh/docs/chart_template_guide/notes_files/) from Helm... with a twist...

Are we looking to include data from the cluster in the output?

[2020-10-13 17:08] peterfeifanchen commented on #209
Is there a way to capture the output of ytt if I call it as a "library" instead of it going to a file in stdout?

[2020-10-14 20:36] jorgemoralespou commented on #213
I don't think that aligns with the goals that ytt should not have any random value, and whatever the cluster provide works be considered random I guess. Ashleigh depending on where/how is implemented (if kapp plays a partner to the feature) maybe possible and helpful.

[2020-10-14 21:04] pivotaljohn commented on #213
Yup. `ytt` will never directly talk to any outside world source. Any solution, here, I suspect would involve `kapp inspect`-like output.  `ytt` _could_ consume that output to produce notes...

Sorry, I couldn't parse this sentence.

[2020-10-15 06:01] jorgemoralespou commented on #213
Although depending on where/how is implemented (if kapp plays a partner to the feature) maybe possible and helpful.

What I mean is that both tools can collaborate. We can have ytt producing output that kapp could use and modify for final result to the user, although this might mean that we would need a way for kapp to parade this output and modify it, and not sure if worth.

I'm any case, I think

[2020-10-15 15:55] cppforlife opened #218 "add assert.equals to @ytt:assert"
this would help folks write tests within ytt and not have implement equals themselves (like in cf-for-k8s: https://github.com/cloudfoundry/cf-for-k8s/blob/18b4f3f676a85e49e675120f5b720aab91ac3892/config/istio/gateway_test.star#L77-L81)

- [x] #555
- [x] document the `assert.equals()` function

[2020-10-15 17:31] cari-lynn commented on #209
Yes, you can capture the output of ytt when calling it in code. We capture the output in this test as an example:

https://github.com/k14s/ytt/blob/fc9b97d211e866adcb2b21a7cfa707784fc01b2c/pkg/cmd/template/cmd_overlays_test.go#L56-L65

`RunWithFiles` returns a `TemplateOutput`, which contains `Files` that are the resulting templated output.

Does this capture the output you need?

[2020-10-16 13:54] bodymindarts opened #219 "Literal key "on" gets rendered as "true""
Simplest reproducible example:

[code]

[2020-10-16 16:11] cppforlife commented on #219
dup of https://github.com/k14s/ytt/issues/146. feel free to comment on the that issue.

[2020-10-16 16:11] #219 closed, assigned to nobody

[2020-10-17 19:39] pivotaljohn opened #220 ""Port" over Starlark's native `struct` features to `ytt`'s custom implementation"
Starlark's struct has some features we should port over to the `ytt` implementation of this data structure.  Doing so avoids any surprises that arise from an enterprising user seeing the Starlark struct in use, somewhere, and attempting to mimic such expressions in their `ytt` templates/programs.

Starlark’s struct:
- triggers adding a hint when an attribute is not found by returning an `starlark.

[2020-10-17 19:56] pivotaljohn opened #221 "Make `yamlfragment` and `struct` as interface-capable as possible"
Today, users who lean on these data structures can find it surprising that certain expressions are available for, say, Data Values (a `struct`), but not for say values passed to an overlay matcher (a `yamlfragment`).

It's a reasonable expectation that `yamlfragment`s and `struct`s can participate in the same set of expressions.

Suggested tasks:
- [ ] implement `HasAttrs` on `yamlfragment` (like

[2020-10-20 17:52] cppforlife commented on #220
i would be ok without having this. its a bit weird to merge structs.

[2020-10-20 17:55] cppforlife commented on #221
i think we need to come up with a plan for when we need out own methods on yamlfrag. would that be a separate function that we would give yamlfrag to which would expose yamlfragwithmethods type? or do we just have module level methods for yamlfrags? (not saying we need to implement anything, just have a plan).

[2020-10-20 18:34] pivotaljohn commented on #221
To be clear, the design concern here is that once `yamlfragment` opens up the dot notation to expose any contained keys from the YAML it wraps, we risk collisions with methods we might wish to implement on `yamlfragment`.

And the plan would be to make sure that implementing `HasAttrs` doesn't prevent the possibility of adding methods to `yamlfragment`, later.

[2020-10-20 23:29] peterfeifanchen commented on #209
This worked for me thanks! Although I had to call `files.NewSortedFiles` on the files first!

[2020-10-20 23:29] #209 closed, assigned to nobody

[2020-10-21 21:59] pivotaljohn commented on #81
User (specifically a Configuration Author) reports

[2020-10-21 23:16] pivotaljohn commented on #81
Currently reconsidering.

The currently supported way of doing this is to pair any newly-introduced template with an explicit data values overlay file that "declares" the additional keys (with reasonable defaults or zero values)... and then the `-v` and friends are available from the command-line.

[2020-10-23 17:43] amalagaura opened #223 "Can I add a map to an array of maps?"
I am not sure if this is supported and I am trying different overlay syntax. I am not really able to modify the source yamls so trying to do this with YTT.

[code]

[code]

So trying to add a map to the reviewers array in both books..

I created a StackOverflow ticket for it.
https://stackoverflow.com/questions/64504795/how-do-i-add-a-map-to-an-array-of-maps-in-ytt

[2020-10-23 21:32] pivotaljohn commented on #114
The allowing multiple annotations issue can result in very unexpected outcomes, like #223. This can be a particularly rough UX.

[2020-10-23 22:00] gcheadle-vmware commented on #223
Hi @amalagaura!

Overlays are a great way to patch yaml and can certainly work for your case.

You are really close and only two moves away, all you have to do is remove the `overlay/match missing_ok=True`, and make `reviewers:` an array item. Right now, having multiple `overlay/match` annotations cancel out all but the last one, so your  `#@overlay/match missing_ok=True` annotation inadvertently

[2020-10-24 00:34] amalagaura commented on #223
Awesome thanks!

[2020-10-24 00:34] #223 closed, assigned to nobody

[2020-10-24 08:58] amalagaura commented on #223
I think this example would be great in your overlay playground. Can I just add this in there with a PR or are you planning to do that?

[2020-10-26 19:24] peterfeifanchen opened #224 "unit testing starlark code"
I have defined some starlark functions that output a list of yamlFragment tuples. I see that I can load starlark directly using the starlark-go compiler like ytt does and read its output:

https://github.com/k14s/ytt/blob/582ad9ca849559e5d75b680b1831105059a0e953/pkg/template/compiled_template_test.go

But, I was wondering where the yamlFragment starlark struct is defined? Is there a way to check t

[2020-10-27 16:51] ewrenn8 commented on #224
Hi @peterfeifanchen, could you explain your use case and what you are trying to achieve a bit more? Is it that you want to be able to make assertions about a yamlfragment returned from a function?

[2020-10-27 17:23] peterfeifanchen commented on #224
So in my case I have a starlark function that erturns a list of yamlFragment tuples which come from an overlay file:

starlark file
[code]

overlayfile
[code]

I would like to unit-test func1 (starlark). So far it seems I would have to call the starlark intepreter and feed the overlayfile and starlark file and then add a global like the case above to the starlark file:
[code]
Get its output into G

[2020-10-27 20:55] cppforlife commented on #224
@peterfeifanchen im not familiar with your setup and why/how you are using Go... have you considered to do your unit testing in ytt files e.g.

gateway_test.star

[code]

(related issue to add assert.equals as a first class method: https://github.com/k14s/ytt/issues/218)

[2020-10-27 21:23] peterfeifanchen commented on #224
[code]
Is assert here a deep check where it only returns true if the function is the same and the parameters are the same? Or could you point me to how to deal with comparisons between yamlfragments and yamlfragment(*yamlMeta.Map)?

Also how does `test_gateway_when_http_allowed` get called? Is it that I would simply need to call `ytt -f gateway_test.star` and in the body of gateway_test.star I add

[2020-10-28 19:34] peterfeifanchen commented on #224
I see here, yamlFragment comparisons are still yet to be implemented

https://github.com/k14s/ytt/blob/develop/pkg/yamltemplate/starlark_fragment.go#L52

And I am also unable to do a `dir(yamlFragment)` as that returns `[]`.  I see that there is a `Get` call implemented:

https://github.com/k14s/ytt/blob/develop/pkg/yamltemplate/starlark_fragment.go#L56

But I am not sure what the attribute keys a

[2020-10-28 20:13] cppforlife commented on #224
that's right you would call test_* function yourself.

yamlfrag doesnt implement any methods today. you can however call `yaml.encode(arg)` where arg is yamlfrag to get a string representation. do note that it will not retain annotations on the nodes when serializing it to YAML.

may be you can expand on why you are trying compare overlays?

[2020-10-28 21:56] peterfeifanchen commented on #224
what is the library I load to use `yaml` in starlark?

So I am using ytt to template a base configuration file with the different combinations that it can have. Instead of doing this in a yml file where the user would have to write in #@ starlark (hard to read and have them do since you can't new line indent), I provide them with a starlark function that accumulates yamlFragments which a generator

[2020-10-28 21:58] peterfeifanchen commented on #224
Oh never mind found the library!

[2020-10-30 00:49] pivotaljohn opened #225 "When a document literal is conditionally removed and there is subsequent content, the resulting program attempts to build an invalid YAML document"
When:
1. a YAML document is annotated with `ytt` flow control
1. that flow control encapsulates a document start
1. that flow control evaluates such that the compiled template does not insert the document node
1. one or more Map or Array Items appear after the `end` of the flow control (and there is no intervening document)

Then:
- the template is compiled to a Starlark program where a `start_nod

[2020-10-30 18:33] cari-lynn commented on #223
Hey @amalagaura! We welcome PR's for documentation improvements. So thank you.

I took a look at the overlay playground and it looks like there is an [append an array item example](https://get-ytt.io/#example:example-append-array-item). The main difference being that the item we are matching in this case is an array item, and in the playground example it's a map.
In the [match by key example](http

[2020-10-30 21:20] amalagaura commented on #223
As a newcomer I went through those examples but I was not able to combine the two examples and get it working on my own. It is up to you but I felt like the example provided above was new to me. I personally think it should be added as an additional example, but it is up to you.

[2020-11-05 00:57] pivotaljohn opened #227 "struct.encode() should support YAML Fragments as values"
Today:
[code]

results in ...

[code]

Given that YAML Fragments are data structures, themselves (very similar to `struct`s), `struct.encode()` should include the YAML Fragment.

[2020-11-06 20:02] cari-lynn commented on #223
We definitely want to improve that experience, and would love a PR for this example. If you can create a 16th example in the overlays section that puts matching an array item and appending an array item together that would be helpful.

[2020-11-10 18:35] pivotaljohn commented on #224
How's all this going @peterfeifanchen ?!

[2020-11-10 22:33] DennisDenuto opened #230 "adding duplicate key into map via an overlay should error before serialization time checks"
### Steps to reproduce
1. template yml:

[code]
overlay.yml
[code]

2. ` ytt -f template.yml -f overlay.yml`

### Expected
A useful error message

### Actual
a go stack trace

[code]

[2020-11-10 22:36] peterfeifanchen commented on #224
Ahh thanks! I think this is what I needed. Everything's resolved.

[2020-11-10 22:36] #224 closed, assigned to nobody

[2020-11-11 09:09] MPV commented on #85
Any ideas on supporting this similar use case (with merged lists, not maps)?

[code]

Doing something like this today just gives:
`Error: Compiling YAML template 'intutive.yaml': Expected YAML node at line intutive.yaml:1234 to have either computed or YAML value, but found both`

[2020-11-11 16:31] pivotaljohn commented on #132
**As a** Configuration Consumer (particularly someone who hasn't used `ytt` to render non-YAML files before),
**I want** to quickly (and in a kind way) learn how to specify where output should go
**So that** I don't waste time wondering why my non-YAML files didn't seem to render.

---

### Scenario: Library includes just non-YAML files and no output flag is specified
**Given** the enumerated inpu

[2020-11-11 16:54] pivotaljohn commented on #224
Terrific, @peterfeifanchen!

We'd love to hear about your adventures in unit testing. Many of the k14s maintainers have worked in shops where Test-Driven Development was table-steaks. We'd enjoy hearing what you are finding hard, easy, useful, etc.

[2020-11-11 23:45] peterfeifanchen commented on #224
We are writing the tests now, but one thing that seems interesting is for the overlay.apply function, is there a way to create an empty yaml fragment? This would be useful to test each overlay specifically in the most minimal manner, but we get the error

`overlay.apply: Expected map, but was <nil>`

when we try

[code]

[2020-11-12 00:58] cari-lynn commented on #224
Thanks for sharing how things are going! You may be running into [this issue](https://github.com/k14s/ytt/issues/108). If the map you are trying to overlay has a nil value, overlaying it results in a type mismatch.  A way around this is to add a value to it.

Does this fit with your implementation? If it doesn't solve your problem it would be helpful for debugging if you share more code on how you

[2020-11-12 17:31] peterfeifanchen commented on #224
Ahh yes that's the problem we are running into. We ended up just putting something in it. That's fine to do for us, but was just curious if we could have a nil or "" map object, but it seems that issue is still open. Thanks!

[2020-11-12 19:35] StevenLocke opened #231 "Pressing enter on a filename in the playground removes the file"
Reproduction steps:

Go to the playground and open one of the examples, e.g. [Load data files](https://get-ytt.io/#example:example-load-data-files)

Attempt to rename a file, (like config.yml) and select the text box with the name.

Press enter.

Expected:
The file name is saved

Actual:
The file is removed.

[2020-11-12 19:51] StevenLocke commented on #231
Update:

Pressing enter seems to delete the top-most item, regardless of which filename is selected.

Eg. In the same load data files example, pressing enter on "data2.csv" deletes the config file! Pressing enter again, deletes the data1 file!

[2020-11-12 23:41] pivotaljohn commented on #14
Update (from conversations around #226)

## TL;DR.

We'll take the message improvements. In a separate feature request, we'll teach `ytt` to detect which YAML files are templates and which are not. Once that is in place, we can toggle the default for `--ignore-unknown-comments`. The net experience will be the effective deprecation of this flag _without_ losing the linting of YAML templates.

## De

[2020-11-13 01:04] jessehu commented on #14
@jtigger & @cppforlife Thanks a lot for the detailed analysis 👍

[2020-11-13 03:45] pivotaljohn opened #232 "Automatically detect when a YAML file is a template or plain YAML (obviating the `--ignore-unknown-comments` flag)"
_Context: https://github.com/k14s/ytt/issues/14#issuecomment-726409172_

**I want to** provide supply a combination of plain YAML and ytt YAML templates
and have `ytt` automatically figure out which are `yaml-plain` and which are `yaml-template`
**so that** I can — without doing any extra work — a) easily include YAML from 3rd party sources; and b) get the full benefits of `ytt` ensuring my templa

[2020-11-13 04:19] jessehu commented on #232
Thanks @pivotaljohn.
1) So if the yaml file doesn't contain '#@' or marked as "yaml-plain", ytt will treat it as a plain yaml file and will not throw error if there is '# ' in the yaml file, even if --ignore-unknown-comments is not specified (by default) for ytt?
2) `--ignore-unknown-comments is deprecated` means there will be no --ignore-unknown-comments option in future. So in future will ytt th

[2020-11-13 04:48] pivotaljohn commented on #232
🖖🏼

Exactly. 👍🏼

- `ytt` will continue to report an error if a YAML template contains a plain comment (the message specified in #226, or an improvement).
- the `--ignore-unknown-comments` flag will _eventually_ be removed. We can be quite patient about it given that we'll be giving a deprecation warning as part of this work. At the very least, it must be gone from any documentation of products tha

[2020-11-13 04:53] jessehu commented on #232
Works perfect! 👍

[2020-11-13 06:51] patricknelson commented on #14
I presume we'd expect a similar failure scenario as in in @davedittrich's use case as well (e.g. `#cloud-config`), not just hash-spaces, correct?

It appears this has morphed from being "Support standard YAML comments" (I suppose treating `# Comment` as `#! Comment` without erroring) into how to treat an entire file (e.g. `yaml-plain` vs `yaml-template`). For me, my 95% use case will be `yaml-temp

[2020-11-13 07:10] patricknelson commented on #14
Maybe we could also summarize and discuss the expected behavior (along with explanations for those decisions) with regard to `#` and `ytt`, in all of its permutations? That is:

[code]

The above is just an example of the expectations, of course. I know that sort of guidance would help me a lot in understanding what `ytt` expects of me when passing code to it. Once settled, it'd be great to have t

[2020-11-14 06:01] adriens opened #234 "Minor Feature request > CLI improvement when no args passed on 0.30.0"
# Context ie/ actual behavior

Actually if we run ytt without arguments we do get no response:

![image](https://user-images.githubusercontent.com/5235127/99141013-c2cd8500-269a-11eb-9f98-8bc9f0037d34.png)

# Feature description

It could be great to send the same output than the `--version` :

![image](https://user-images.githubusercontent.com/5235127/99141030-e0025380-269a-11eb-9f52-541d3641e4f6

[2020-11-14 14:44] danielhelfand commented on #234
Thanks for opening this @adriens. Maybe the output of `--help` would make sense if no args are passed? What do you think about that?

[code]

[2020-11-14 14:53] danielhelfand opened #235 "Update Location of ytt Docs in Help Message Once Org Migration is Complete"
Currently the output of `ytt --help` shows doc links for https://github.com/k14s/ytt/tree/develop/docs and https://github.com/k14s/ytt/blob/develop/docs/ytt-data-values.md as shown below:

[code]

Once migrated to the `vmware-tanzu` org, the doc links should be updated to the new repo location.

[2020-11-14 21:11] adriens commented on #234
Hi @danielhelfand , sure it would totally make sense 👍

[2020-11-16 15:38] cppforlife commented on #234
this came up recently in our last community meeting. ytt and kbld both have root commands (templating commands) which take _0_ or more files. (so it's perfectly valid for ytt to take 0 files and return 0 stdout as a result). on the other hand kapp does not have a root command. filed this as related: https://github.com/k14s/design-docs/issues/2

[2020-11-16 17:47] benmoss opened #238 "YAML merge keys are not supported, get stripped"
YAML merge keys are a [working draft](https://yaml.org/type/merge.html) feature of the YAML spec, but are implemented by a lot of YAML parsing libraries and used somewhat widely in the wild.

ytt doesn't support these, but even more problematically strips them from emitted YAML. If they were retained other downstream tools processing this YAML after ytt could still use/make sense of them.

[code]

[2020-11-16 19:17] gcheadle-vmware commented on #238
Hi @benmoss,

Thanks for reaching out and bringing this to our attention. Using the YAML merge key is currently unsupported in ytt, however we want to be able to support this workflow so that you have still use the output as expected. Someone reported this problem in #186, and we are currently waiting on a PR in the go-yaml library which will fix this issue.

[2020-11-16 20:52] benmoss commented on #238
Ah cool, I'll close this then! Thanks 😄

[2020-11-16 20:52] #238 closed, assigned to nobody

[2020-11-16 21:06] adriens commented on #234
So I should close this issue regarding this design 👍

[2020-11-16 21:06] #234 closed, assigned to nobody

[2020-11-16 21:20] benmoss commented on #238
This was actually fixed by https://github.com/vmware-tanzu/carvel-ytt/commit/237b7e2

[2020-11-17 20:09] danielhelfand commented on #231
I was able to reproduce following the steps provided.

[2020-11-17 22:00] danielhelfand commented on #85
@MPV Similar to what was shown in the comment [here](https://github.com/vmware-tanzu/carvel-ytt/issues/85#issuecomment-582467489), you could use a `- #@ template.replace(items('one'))` approach as shown below to add the result of the `items` function to an array.

One thing to point out is the second `#@ end` is not needed in your example. Also, the document start `---` is required in order to sep

[2020-11-17 22:14] danielhelfand commented on #230
We were able to reproduce this in `ytt` playground. Digging further, there are actual panic calls within `pkg/yamlmeta/convert.go` that is leading to the panic. The actual error is shown [here](https://github.com/vmware-tanzu/carvel-ytt/blob/582ad9ca849559e5d75b680b1831105059a0e953/pkg/yamlmeta/convert.go#L65).

It would be an improved user experience to have a simple error message without the sta

[2020-11-17 22:50] cppforlife commented on #230
that's right it's coming from serialization layer. that's a layer of defense (aka internal consistency check). the "true" problem is that overlay code does not check when it adds a new keys that it's not duplicate. we should fix this problem at the overlay level. (and live last layer of defense as is).

[2020-11-19 01:18] StevenLocke opened #239 "Should YAML nodes included through a merge operation `<<` or anchor reference `&` have updated line numbers."
Consider this fragment:

[code]

Running this through ytt returns: (the expected parsed YAML)
[code]

As we've started to introduce schemas, a situation could arise where a legal value in one place becomes unacceptable in another. For example, consider a schema validation that says "all entries in seq2 are greater than 10". This is obviously a broken contract, so how can we alert the user that val

[2020-11-20 02:58] cppforlife opened #240 "skip hidden directories (start with .) picked up by -f"
there is probably a common case for ignoring hidden directories by default.

common case within carvel tools might be: imgpkg pull results in a directory with .imgpkg directory. if bundle's files arent wrapped within a directory (eg config), then running `ytt -f .` would include `.imgpkg/*.yml` which isnt really desired within templates.

another example: currently ytt -f . that includes .git dire

[2020-11-20 05:48] danielhelfand commented on #240
Running into this same issue with `kbld`. The bundle pulled using `imgpkg` has the `.imgpkg` contents. If running a `kbld -f ... | kapp deploy -a simple-app -f-`, the following error is thrown:

[code]

[2020-11-20 16:33] pivotaljohn commented on #85
Fascinating conversation...

I can imagine a way to combine these ideas into a rather feasible approach (from @phil9909 's original example)....

[code]

Which:
- introduces a new annotation `@<<` that precisely supersedes `template.replace()` (_looooong_ deprecation period).
- maps that contain such meta (i.e. one or more of it's items is annotated with a shovel-shovel) would infer an `@overlay/m

[2020-11-20 16:43] pivotaljohn commented on #240
For the main use-cases we're targeting, this seems like a sensible default.

Let's add a flag to include hidden files: `-a, --all-files    Include all files (including hidden files) when scanning for files`

`-f` should obviously allow hidden files, if specified explicitly.

[2020-11-20 16:56] joaopapereira commented on #240
Just to see if I understand clearly

`ytt -f config/*` This command will only include files that are not hidden

`ytt -a -f config/*` This command will include all the files in the directory, including the hidden ones

Is this correct?

[2020-11-20 19:11] joaopapereira commented on #240
Can y'll please review these acceptance criteria to ensure they match our view of the feature

---

**Scenario:** Ignore hidden folders
**Given** I have a folder that contains YAML files
**And** Also contains a hidden folder (sample below)
**When** I invoke `ytt -f config`
**Then** the output contains only the files that aren't hidden
[code]

**Scenario:** Use hidden folders with a short flag
**Gi

[2020-11-20 19:19] danielhelfand commented on #240
I wonder if this story should be more general as far as what the idea is (i.e. ignore hidden files by default and support an option to allow hidden files) for all Carvel tools where applicable. I think it's possible that this should apply to `kbld` and `kapp` as well. The idea is so similar for each tool that I feel it can be written as a single idea first, and we should also consider where else t

[2020-11-21 00:37] cppforlife commented on #240
im still not quite sold on the feature tbh (also it's would be backwards incompat). i think this might be a good issue to discuss in community meeting.

[2020-11-24 00:32] pivotaljohn commented on #14
Absolutely — in effect, when a YAML file becomes a `yaml-template`, `ytt` is taking over the commenting "space" in that document. Any data in that space that isn't recognized by `ytt` is a potential template coding error.

Yeah, that shift happened. There are a number of use-cases we're solving for simultaneously. In an attempt to keep things as simple as possible, we're chunking down for a more f

[2020-11-24 00:37] pivotaljohn commented on #14
Excellent suggestions, @patricknelson; thank you.

Yeah, a straight-forward authoring guide seems in order. A key (and prominent) section would handle exactly this notation.

[2020-11-28 00:11] adriens opened #242 "Feature gift > Make windows install easier"
# Context

Actually, on windows, the install process is not that easy as it requires some manual actions. It would be very convenient to be able to install `ytt` within a single command line, even on Windows.

Therefore I created a [chocolatey ](https://chocolatey.org/)package which is still [under moderation process](https://chocolatey.org/packages/ytt/), but it's usable.

# Installation guidelin

[2020-11-30 17:40] danielhelfand commented on #242
Thanks @adriens. We greatly appreciate the `ytt` Chocolatey package.

Something we discussed in our last community meeting was establishing more definitions around our release processes for Carvel tools. One thing that came up is what Windows package manager (e.g. Chocolatey, Scoop, or winget) to use to support all Carvel tools. Potentially even defining a single repository for all of them.

We wo

[2020-11-30 17:44] danielhelfand commented on #242
One thing I am noticing though is that `choco uninstall ytt` is not working as expected:

[code]

[2020-11-30 20:24] adriens commented on #242
Hi @danielhelfand , thanks a lot for your feedback, I'll try to answer both questions:

- Carvel Tools on Windows
- `choco uninstall` process

## Carvel tools on windows

Yes, it totally makes sense, in fact I also asked my self I should not rather  provide a `Carvel tools` package that embeds all `cli`. S I started to implement choco packages for each of them (a global and meta version should be

[2020-11-30 20:37] adriens commented on #242
Uninstall process totally fixed see https://github.com/adriens/chocolatey-ytt/issues/4

[2020-11-30 20:41] adriens commented on #242
Here is the current status of chocolatey package for `ytt` :

- [ ] Relased of reject of [0.30.0](https://chocolatey.org/packages/ytt/0.30.0) waiting since November 14th
- [ ] Pushing [0.30.0.0](https://github.com/adriens/chocolatey-ytt/issues/4) to choco central
- [ ] Being officially moderated by choco central
- [ ] Enjoy the totally operational package

[2020-11-30 22:24] danielhelfand commented on #242
Thanks for the detailed write up, @adriens. We'll be sure to consider Chocolatey packages as part of the broader discussion of our release process. And thanks for putting these initial packages together.

[2020-11-30 23:06] danielhelfand commented on #239
@gcheadle-vmware and I reviewed and had the following thoughts on some questions:

From an error message standpoint, it would be helpful to show the error at the line number of the reference, such as below:

[code]

However, it would be nice to have a way (e.g. possibly an option with `ytt`) to further visualize what the error is for the rendered reference, such as below:

[code]

So by default, e

[2020-12-01 20:15] danielhelfand opened #245 "Fix Broken Link for Schema Error"
Running `ytt` with `--enable-experiment-schema` with an invalid schema definition, such as below, returns the error underneath the invalid schema.

Invalid schema:
[code]

Error:
[code]

When clicking on the link in the error to get more information, a 404 is returned.

[2020-12-02 00:41] peterfeifanchen commented on #224
@pivotaljohn I think having the equal operator on the yamlFragments would help make the testing easier. But for now we are doing yaml encode and comparing it to what we expect it would be instead. It's a bit less legible since starlark deletes yaml spaces and new lines, so to get the same structure we have to add a bunch of '\n'.

And to incorporate that into Go, we sort of wrap a go unit test aro

[2020-12-02 22:34] gcheadle-vmware commented on #245
Link removed in merged pull request #246

[2020-12-02 22:34] #245 closed, assigned to nobody

[2020-12-02 23:24] StevenLocke opened #248 "ytt should support providing arguments via a file"
This would benefit ytt users who want to template a variable list of files with a single repeated command.

ie. One could provide a file which indicates the `-f` arguments so that in a pipeline (such as argoCD) you could always provide the same command (maybe `ytt --arg-file file.yaml`) and the contents of the file could be updated to reflect the desired templating.

Further discussion could be us

[2020-12-03 14:34] joaopapereira commented on #248
Is the idea of what we are proposing here the creation of a flag that would pick up a file like the following:
[code]
and then we would be able to run `ytt --arg-file args.yml`. The expected result would be the same as running `ytt -f file1.yml -f file2.yml`?

If so is a YAML file the best option here or should it be a straight bash file with the arguments that would get processed by cobra?

[2020-12-03 15:34] dherbrich commented on #248
yes this is the idea. it should also be possible to add more or less all the other command line flags.
not sure if one is better than the other.

[2020-12-03 19:06] cppforlife commented on #248
last time this idea came up, i couldnt justify need for yaml flags config file vs just using basic script. example above is just:

[code]

it sounds like one use case is when it's not possible to integrate script with existing tool. in that case i do wonder what distinction would be between `ytt --args-file x.yml` vs establishing a convention (like we recommend in other places) to have a config di

[2020-12-04 15:58] DanielJonesEB commented on #14
May I politely suggest that upholding the principle of least astonishment is paramount for widespread adoption. I understand the decisions made up until this point, and the proposed remedy sounds good, but "your (perfectly valid) document isn't right" sends a bad message to new adopters, who are probably using `ytt` in part _because_ they can't change the upstream document.

It'd be great if the p

[2020-12-04 18:16] gcheadle-vmware commented on #14
@DanielJonesEB Thank you for these thoughts, I completely agree that our tools should be predictable and not surprise users. One of our goals for the upcoming work in `ytt` is to make the tool easier to use for beginners. So, we very much appreciate your thoughts on this topic.

[2020-12-04 18:24] cppforlife opened #251 "[overlay] support a way to replace single collection item with multiple items (more specifically document in docset)"
**Describe the problem/challenge you have**

given following yaml:

[code]

id like to get to this YAML

[code]

**Describe the solution you'd like**

not quite sure, but should be consistent in thinking about non-docset collections.

**Anything else you would like to add:**

currently `overlay/replace` supports arbitrary replacement of value of the node. when working with arrays one could in theo

[2020-12-04 19:39] gcheadle-vmware commented on #251
@joaopapereira and I attempted to tackle this problem and experienced the limitations that you described. However we are still confused about the use case.

Does the `kind` key in the desired output yaml come from the `kind: List`, or from the array `items[*].kind`?

Is the goal to replace the yaml in the template file with the desired yaml, or to produce a new doc set from the template file? For

[2020-12-04 20:43] patricknelson commented on #14
Great way of putting it, @pivotaljohn. Thanks for your thoughts!

@DanielJonesEB this is why I'm a major advocate of making sure we very clearly document comment behavior up front once it's fully settled. While I was originally in the camp of allowing regular YAML comments _by default_, they've got a very good logical case for why that shouldn't happen. So, parameterizing this (as an option in the

[2020-12-04 21:09] cppforlife commented on #251
from the array items[*].kind. here is example without duplicate keys:

given following yaml:

[code]

id like to get to this YAML

[code]

each yaml template has a docset already. so this is more about modification of that doc set. example shown above about service account could go either way -- it depends what ytt overlay code is written.

[2020-12-04 21:31] joaopapereira commented on #251
Is it same to assume then that what we what as an overlay would be:
[code]

To convert into your expected result? Or where you thinking about some other option?

[2020-12-07 19:40] cppforlife commented on #251
i think snippet above proposes _an option_ but i think it's too "specific" to be included into core ytt. we would want to come up with a solution that is more "general" and decouples sourcing of yaml documents from ability to replace one with many.

(this is probably worth discussing in community meeting as well).

[2020-12-07 23:52] #215 closed, assigned to joaopapereira

[2020-12-08 19:32] dherbrich opened #253 "ytt should have a functionality to generate value file skeletons"
**Describe the problem/challenge you have**
I was parameterizing a k8s yaml file and added a bunch of data values into it, e.g.:
[code]
The needed _values-skeleton.yml looks like this:
[code]
Currently this needs to be done by hand/manually. This is especially challenging if you need to merge multiple yaml snippets to compose an application/deployment unit and want to create a data values file for

[2020-12-08 23:24] danielhelfand commented on #253
@dherbrich Thanks for opening this issue. What I am seeing here is two requests:

1. A way to start by defining values in YAML as opposed to a data values file, which is maybe the preferred user experience of a lot of folks. I think it's really interesting and think it would be worthwhile to discuss this idea further.

2. A validation approach for requiring data values. We do support workarounds f

[2020-12-09 19:03] pivotaljohn commented on #240
_(will come back, add link and fill out a few more details)_

We talked about this in the December 9, 2020 Community Meeting (recording failed).

## TL;DR.

For now, we will:
1. recommend that imgpkg users follow the convention of sequestering their configuration files in a directory off the root of the bundle (rather than the root of the bundle itself).
2. for each tool that would want to conside

[2020-12-09 21:47] joaopapereira commented on #235
@danielhelfand is there anything left in this story?

[2020-12-09 22:01] danielhelfand commented on #235
No, I thought it would be closed but I guess comments in prs don't close issues. Will close now.

[2020-12-09 22:01] #235 closed, assigned to nobody

[2020-12-12 09:25] adriens commented on #242
![Chocolatey Version](https://img.shields.io/chocolatey/v/ytt)

Hi guys, `ytt` now is officially released on Choco central !

Now, things are as easy as :

- Install : `choco install ytt`
- Upgrade : `choco upgrade ytt`
- Uninstall : `choco uninstall ytt`

Hopefully you'll enjoy, other good news are coming 🎆

[2020-12-16 00:28] gcheadle-vmware opened #257 "Maintain order of Documents within the global Document Set throughout processing"
**What steps did you take:**
tests in the tkg-cli-provider repo CI

**What happened:**
The list of line numbers is non-deterministic, failure from the CI shows:
[code]

**What did you expect:**
Expected `(lines: base-template.yaml:125, aws-overlay.yaml:150, aws-overlay.yaml:163)` to be in the same order for every run.

**Anything else you would like to add:**
Accepted #256 as a temporary fix until

[2020-12-17 00:43] voor opened #259 "ytt support a toml library"
**Describe the problem/challenge you have**
Starting to see more instances of toml showing up as kubernetes or similar snippets embedded inside yaml:

https://github.com/containerd/containerd/blob/master/docs/man/containerd-config.toml.5.md
https://docs.gitlab.com/runner/configuration/advanced-configuration.html

**Describe the solution you'd like**
Add support for:

[code]

**Anything else you wo

[2020-12-17 16:39] pivotaljohn commented on #257
@gcheadle-vmware and I reviewed this together:
- **consider whether this solution is "sufficient"** — sorting the output directly, while addresses the symptom, leaves open the possibility that any future output relying on the order of documents in the output of templates may accidentally also be non-deterministic.
- **non-determinism comes from iterating over a map** — looks like the heart of the

[2020-12-17 21:58] danielhelfand commented on #259
Thanks for opening this @voor. I think this sounds reasonable for us to further consider. Any particular immediate use case for this, or just generally you have seen toml embedded in YAML and wanted to raise this?

[2020-12-17 22:10] voor commented on #259
We're doing advanced configuration for gitlab runners, which is managed in toml.  This is currently being done with yaml-templated-strings but it's messy and error prone.

I am aware of other users that have some echo scripts into containerd toml configuration, which is very brittle and would be better implemented with a ytt overlay.

[2020-12-21 03:56] braunsonm opened #260 "GitOps friendly command for ytt"
**Describe the problem/challenge you have**
Kapp provides a way to deploy all apps in a repo with a simple command. I would like to manage those apps config with ytt, however I would still need to call ytt on each subdirectory. This makes the one liner of kapp not as beneficial when each app uses ytt (or another tool like helm).

https://github.com/vmware-tanzu/carvel-kapp/blob/develop/docs/gitops

[2020-12-21 20:46] cppforlife commented on #260
@braunsonm i would recommend making your own script/tiny-tool (e.g. ytt-apps) that delegates to ytt/kapp in appropriate places. ytt-apps would execute ytt for each subdir, but output its results into a separate folder hierarchy. kapp app-group could be used with that rendered folder hierarchy to do the deploy.

alternative approach our team has been investigating is to codify each "app" into App C

[2020-12-21 20:54] braunsonm commented on #260
That's an interesting suggestion @cppforlife I'm curious why you think this doesn't fit in ytt when kapp does the exact same thing that could have been made from a simple script?

[2020-12-21 21:01] braunsonm commented on #260
Also apologies but I never really understood where kapp controller fits in.. It doesn't save time on the CI because you still need to setup a CI to push an image from your repository to run the app, it makes configuring the secrets more difficult because another pipeline needs to put those onto the repository (vs a pipeline just looking them up from Vault), and you still need to trigger the contro

[2020-12-22 09:44] maximeburri opened #261 "Merging two objects without overlay"
Is it possible to merge an object (e.g. given by a function) with another one in the template without overlay ?

Example for this function:
[code]

It is easy to define a list:
[code]

.. that outputs:
[code]

But how to add others keys by merging every objects without overlays ? Like:
[code]

I expected that the following template would have given this result:
[code]
... but it ignores functions

[2020-12-22 15:11] cppforlife commented on #260
that's an interesting question to think about. my current thoughts around this is that unlike kapp, ytt isnt necessarily the "end of the pipeline", whereas kapp is (e.g. common scenario is ytt | kbld | kapp workflow). arguably kapp shouldnt include app-group functionality either since it could be easily included as a wrapper on top of kapp.

point of kapp-controller isnt to save time for anything.

[2020-12-22 17:36] cppforlife commented on #261
@maximeburri template.replace should work for your use case: https://get-ytt.io/#example:example-replace.

it's effectively a top level merge: https://github.com/vmware-tanzu/carvel.dev/blob/develop/content/ytt/docs/latest/lang-ref-ytt-template.md. for your example, it would look something like this:

[code]

this is because nothing is being done with the result of the function. (special case of t

[2020-12-22 17:37] cppforlife commented on #261
(this issue is similar to https://github.com/vmware-tanzu/carvel-ytt/issues/85)

[2020-12-23 10:41] maximeburri commented on #261
`template.replace` is perfect.
Thanks you

[2020-12-23 10:41] #261 closed, assigned to nobody

[2020-12-29 04:52] patricknelson commented on #180
@cppforlife's example was helpful, but it confused me initially since it didn't make use of the `input` arguments. I've simplified it just for readability, in case anyone else also got here trying to learn how to accomplish the same thing (merging arrays in `ytt`). 😄

[code]

[2021-01-04 23:27] DennisDenuto commented on #260
@pivotal-dean and I have read this thread and are planning on talking/presenting this idea with our Product Manager.

As a general rule of thumb, before adding a new feature / new command we want to research into the 'why' behind it. i.e. what use case are we trying to solve, and whether that is a use case we want to solve.

The same applies to whether we remove the kapp app-group command or not.

[2021-01-11 21:50] #132 closed

[2021-01-12 00:50] DennisDenuto commented on #242
@adriens Thanks for the gift. We (@pivotal-dean and I) like the idea of having a single chocolatey repo to install all the tools.

We are currently iterating on defining a suitable release process for the team. We are hesitant in introducing an additional step to distribute windows binaries differently from the other OS's.

What about instead of us having to provide a zip file with all the binarie

[2021-01-12 00:57] adriens commented on #242
Hi,

yes, totally agree, it looks much more elegant.

For now I'm respecting package philosophy : one package for one software. I appreciate the fact when the packager makes no constraint on the main software developer. In addition to this, I can easily automate the build and release process without having to ask you to modifiy your release process 👍

I will put effort on this according to the fre

[2021-01-12 00:59] adriens commented on #242
Btw, I've submitted the `v0.31.0`  which is under moderation process : https://github.com/adriens/chocolatey-ytt/issues/5

[2021-01-13 18:01] pivotaljohn commented on #251
We _did_ talk about this in the Jan 13, 2021 community meeting.

We unpacked this issue, turned it over a bit.

There's a call for more motivation for this kind of feature:
- what are other examples of this kind of thing?
- are those examples compelling enough to increase the surface area of the tool?

[2021-01-14 19:14] joaopapereira opened #269 "Overlay default operation on array items is append"
## Story

**As a** Configuration Consumer
**I want** `ytt` when I specify an array item in an overlay, that unless I indicate otherwise, `ytt` should assume I mean to appending that item to the existing array
**so that** when I perform this common edit, I don't have to explicitly instruct `ytt` to do so.

## Context

We've been talking about possibilities for default operations for arrays. That _g

[2021-01-14 23:25] pivotaljohn commented on #269
This issue was copied from a Pivotal Tracker story that incorrectly appeared to be "shovel ready"; it was not.

When ready, we can update _this_ issue and re-open it or create a new one.

[2021-01-21 21:51] scottd018 opened #271 "Specify File Extensions for --output-files"
**Describe the problem/challenge you have**
Some people are opinionated that YAML files should end with a `.yaml` extension, however others prefer a `.yml` extension for brevity.  Additionally, there may be complex cases where users are transitioning from other templating languages (e.g. Jinja2 `*.yaml.j2`) and would like the resultant output to be a proper YAML extension.

**Describe the solution

[2021-01-21 22:19] scottd018 commented on #271
## Sample Input Example (SIMPLE)

### Input Contents - `simple-input1.yml` and `simple-input2.yml`

YTT can be given some input files (`simple-input1.yml` and `simple-input2.yml` in this example) with valid input:

`simple-input1.yml`
[code]

`simple-input2.yml`
[code]

### Command

A command to output the files with an extension is run:

[code]

### Result

An output file is written at the `--out

[2021-01-22 00:01] gcheadle-vmware commented on #271
@scottd018 Thank you for the detailed examples! This issue will be prioritized soon.

[2021-01-22 17:46] pivotaljohn opened #272 ""Full Screen" on Playground does not expand"
**What steps did you take:**
1. https://carvel.dev/ytt#playground
2. Click on the "Full Screen" button

**What happened:**
- 👍 other elements on the page went away
- 👎 the size of the content area did not change

**What did you expect:**
That the content area would expand to fill the document/window.

[2021-01-22 19:59] cari-lynn commented on #253
Generating data values files is a great idea. This would be a nice feature to add to our schema proposal. We could generate a data values file from a schema.

We will update the schema proposal to include this feature. You can find the proposal [here](https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ#Problem-Statement).

Adding a command for validation is also an interesting idea. I opened a separate issue

[2021-01-24 07:10] omgnuts opened #275 ""on:" as keyword becomes "true:""
**What steps did you take:**
Using ytt data values to generate github actions templates, and the "on:" key becomes "true:".

[code]

**What happened:**
The "on:" key was replaced by "true:"
[code]

**What did you expect:**
Expected the "on:" key to remain
[code]

**Anything else you would like to add:**
I figure "on:" might be recognized as a boolean flag somewhere. So I tried "off:" as a keyword

[2021-01-24 22:49] danielhelfand commented on #275
Thanks for reporting this. I can confirm being able to reproduce this. As you point out, `on` and `off` are interpreted by YAML as boolean values leading to the issue above:

[code]

It does look like "on": with quotes around it is still interpreted correctly by actions as a temporary workaround.

Can look a bit further on what the appropriate way to get around this scenario is.

[2021-01-25 15:08] danielhelfand commented on #275
Going to close this out as it seems to be a duplicate of #146.

The recommended workaround is to have the `on` key be a string for now (`"on":`), but we are going to look into prioritizing this as it appears this has come up quite a few times.

[2021-01-25 15:08] #275 closed, assigned to nobody

[2021-01-25 18:21] cari-lynn opened #278 "Command to validate a data values file"
**Describe the problem/challenge you have**
I have a schema file, and data values file, and some ytt templates. I want to run a command to validate that my data values adhere to my schema.

**Describe the solution you'd like**
A command that gives feedback on whether or not my data values adhere to my schema file. If my data values are not compatible with my schema, the command fails and give me h

[2021-01-25 18:50] StevenLocke commented on #278
I think this is a hard requirement of the templating command with a schema. If supplied values are not acceptable, we should fail and (hopefully nicely) explain where the issue lies. If they are compatible, then the command succeeds. How would the `validate` command modify that contract? Is it to ensure that warnings don't get ignored? Maybe the template command should be firmer with errors and fa

[2021-01-25 23:54] StevenLocke commented on #272
Works for me! What's that? Your monitor is wider than 980px? Preposterous :D

Reproduced on my machine. Agreed, we should allow the content to grow.

Looks like we're limiting the width in the `.content .playground-wrapper` css. It's hopefully easy enough to add a more specific selector (with the `playground-expanded` class incorporated) to change the width.

[2021-01-26 18:20] cari-lynn commented on #278
I think this purposed feature wouldn't modify the contract for the templating command. As a user I just want a way to get more validation that my data values are working as I intended. Alternatively, rather than a separate command, I suppose this could modify the template command with a flag like `--fail-on-warnings`.

Another use case may be to provide a warning for unused data values.
ytt allows

[2021-01-26 20:07] danielhelfand commented on #278
One interesting thing that I think could come out of this is some kind of `ytt` lint approach. Something that warns users about better practices with `ytt`. I think the use case above of the schema/data values duplicate is something that could be caught.

Another use case I could see is removing the append annotation from each array item if a user is still appending each item after #269 is impleme

[2021-01-26 22:54] StevenLocke opened #280 "Something has gone wrong (dummy test issue)"
**What steps did you take:**
Tried to do a thing.

**What happened:**
It didn't work.

**What did you expect:**
I wanted it to work.

**Anything else you would like to add:**
Testing github projects automation.

[2021-01-27 18:03] pivotaljohn commented on #278
What do you think of the idea of including messaging like this when the user employs one of the `--...inspect` flags?

[2021-01-27 18:14] danielhelfand commented on #278
Currently the flag (--inspect-data-values) just lists data values. Originally reading this issue, my first thought would be to look there for if this functionality already exists.

It would make the flag more closely align with its current name in my opinion. Maybe help separate cases of data values versus other use cases.

[2021-01-28 22:42] gcheadle-vmware opened #283 "Schemas v1 — Typing and Defaulting"
# Why?
Configuration Authors want to:
- provide an enforced and documented API to _their_ users in the form of data values _so that they can focus the bulk of their attention at considering their needs rather than wrestling with the tool_.

In order to experience that, Configuration Consumers want to:
- when they make a mistake in providing values, they get error messages that precisely identify w

[2021-01-28 22:47] gcheadle-vmware opened #284 "Document experimental Schema feature"
## Story

**As a** Configuration Author, interested in learning how to kick the tires on the Schema feature
**I want** documentation that introduces me to the features, when I'd want to use them, and how.
**So that** I can very quickly assess how well it is tracking to my needs.

## Acceptance Criteria

**Given** I have an interest in trying out what schema features exist
**When** I review the `yt

[2021-01-28 22:50] gcheadle-vmware opened #285 "Conduct Usability Test for Schemas"
## What?
Seek to verify/refute:

1. Configuration Authors can eliminate the complexity of verifying the presence of a Data Value in their templates.
1. Configuration Authors find value in being able to define defaults (especially for array items) rather than describe them in comments.
1. Configuration Authors — when they make mistakes in authoring schema — can easily identify the mistake, understa

[2021-01-28 23:15] cari-lynn opened #286 "Implement first round changes to overlay error messages"
### Why
After the first round of user interviews, we have identified initial desired changes to `ytt`'s overlay error messages.
With this initial change, a user with at least basic exposure to Overlays can more quickly understand what and where the problem is.

### Scenario:
**Given** any ytt execution with overlay errors,
**When** the ytt command is run,
**Then** I expect to see the new error mes

[2021-01-28 23:16] cari-lynn opened #287 "Identify possible overlay error message categories and apply error message template"
@cari-lynn commented on [Thu Jan 28 2021](https://github.com/vmware-tanzu/carvel-imgpkg/issues/69)

#### What are "helpful error messages"? Ask yourself these five questions to start:
Does the error...
1. focus my attention on the source of the problem?
2. give all of the relevant facts (and none of the irrelevant ones)?
3. consistently use a set of accessible terms?
4. make clear what's wrong?
5.

[2021-01-29 23:20] aaronshurley commented on #169
Looks like this work was merged in as part of https://github.com/vmware-tanzu/carvel-ytt/pull/191. Closing.

[2021-01-29 23:20] #169 closed, assigned to nobody

[2021-02-01 16:43] aaronshurley opened #288 "carvel-ytt #69"

[2021-02-01 16:44] aaronshurley commented on #288
Oops, still learning zenhub...

[2021-02-01 16:44] #288 closed, assigned to nobody

[2021-02-01 16:46] aaronshurley opened #289 "Improve overlay error messages"
# Why?

When an overlay matcher’s expectation fails, the error message `ytt` gives falls short of helping most users determine what to do next.

_For more details see the "Problem" and "Analysis" sections in_ [Overlay message errors](https://hackmd.io/_ttxzbpASVCtKUhWSzOMfg?view)

---

# What?

Do this loop until we find a good error message:
1. design a _**little**_ user research to test an idea

[2021-02-01 19:23] paulczar commented on #63
This would be super useful!  We're starting to explore using `ytt` to process and create yaml documents that are meant for human consumption.  Being able to pass comments through via `##` would be fantastic so we can have inline documentation for the files created.

This exact use case is having a bunch of shorter yaml docs in source that can be composed together to create a valid values.yaml file

[2021-02-01 21:56] StevenLocke opened #290 "Is Go's gzip implementation deterministic?"
Originally asked in the [kubernetes slack](https://kubernetes.slack.com/archives/CH8KCCKA5/p1600187626412900?thread_ts=1600179559.404200&cid=CH8KCCKA5).

[2021-02-01 22:00] StevenLocke commented on #290
Wrote a quick PoC to test it. It is deterministic; we ran [this gist](https://gist.github.com/StevenLocke/93d6608db15bf0e31ae011baebc63f47) a few times (each for 5k iterations) and only got identical hashes.

[2021-02-01 22:00] #290 closed, assigned to nobody

[2021-02-01 22:47] StevenLocke opened #291 "Present focusing, clear, complete, and actionable error messages"
## Tasks
* [x] Ensure tests pass
* [x] for nil, print "null", not "<nil>"
* [ ] verify we've met the spirit of the acceptance criteria through some exploratory 'testing" — how would _you_ answer the questions from #285 ?

## Story

**As a** Configuration Author
**I want** — when my schema is invalid — helpful error messages
**so that** when I inevitably make mistakes, I can fix them quickly, ideal

[2021-02-02 18:21] #280 closed, assigned to StevenLocke, cari-lynn

[2021-02-02 22:45] pivotaljohn opened #292 "Schema supports floating types"
Narrative:
**As a** configuration author
**I want** to denote a field in my schema as accepting non-whole numbers
**so that** consumers can provide reasonable values, and templates can depend on their existence.

---

## 🟢  Float checks as a float
**Given** I have a schema which includes a node whose value is a fractional number
**And** a data value which sets that node to a valid number
**When**

[2021-02-03 21:23] matthewcosgrove commented on #165
Also trying something similar for creating Ansible inventory yaml on the fly.

The first approach suggested above works well enough
(https://www.get-ytt.io/#gist:https://gist.github.com/matthewcosgrove/6cdee88fb804150ef2708e015b6bbc96)

[code]
with values
[code]

Based on the comment from @cppforlife I'm wondering is there a better way to do this more yaml-y? I took at a look at the suggested exam

[2021-02-04 15:31] joaopapereira commented on #165
I created a new gist using the text templating https://carvel.dev/ytt/#gist:https://gist.github.com/joaopapereira/d2a2701c488f68d0ee4c91a618aadb11 that can solve what you are looking for without the function and using the text templating.

@matthewcosgrove does this help?

[2021-02-04 15:49] matthewcosgrove commented on #165
Yes that's much nicer, thanks @joaopapereira

[2021-02-05 20:00] gcheadle-vmware commented on #291
Reopening since this is done but not released. This process is still being defined.

[2021-02-06 00:32] gcheadle-vmware commented on #269
Code is in 'default-append' branch

[2021-02-08 19:07] pivotaljohn opened #294 "Schema can be overlay'ed"
**As a** Configuration Consumer
**I want** to augment the Schema
**so that** I can declare additional data values for use in my own templates/overlays

---

## 🟢  Additional Schema Appends to Root Library's Schema

**Given** there are two or more YAML documents annotated as `@schema/definition`
**When** I run `ytt` that includes those schema
**Then** the effective schema is the merge of those two

[2021-02-08 19:08] pivotaljohn opened #295 "`@schema/default` Annotation"
## @schema/default
**work is on ytt branch: schema-default**
Explicitly sets the default value of the annotated node.

[code]

- `value` (any except `function`) — the overriding default value.

Notes:
- `value` must be of the type of the annotated node.
- The type of a node is never inferred from the overriding default value.
- this annotation is the _only_ way to set a non-empty default value for

[2021-02-08 19:17] pivotaljohn opened #296 "Type check private library data values"
**As a** Configuration Consumer using a private library
**I want** the set of data values supplied to the library to be subject to schema defined within the library.
**so that** when I misconfigure the library, I get specific, clear, and actionable feedback

---

### Scenario 1: Declarative Schema-Conforming Data Value

**Given** ytt input that includes a private library
**And** that private libra

[2021-02-08 19:52] aaronshurley commented on #287
Implementation notes:
- we want to make sure that our new overlay template can apply to all error cases
- take a look at the code to understand how the error cases could be implemented/bucketed
- initial timebox: 1 day, check-in with the team to determine if further investigation is needed

[2021-02-09 00:11] cari-lynn commented on #269
TODO checklist:
- [x] check if it's possible to use the `#@overlay/match-child-defaults missing_ok=True` annotation on an array item and add a test for it if so.

[2021-02-09 00:37] pivotaljohn opened #297 "Overlay inserting docset into array item results in panic"
**What steps did you take:**
Applied an overlay over a document.

https://carvel.dev/ytt/#gist:https://gist.github.com/pivotaljohn/6ed947ba79d31449dcb9b61921566429

[code]

[code]

**What happened:**

[code]

translated:
- "the document contains a map
- ... that has a map item containing a map
- ... that has a map item containing a map
- ... that has a map item containing an array
- ... that has a

[2021-02-09 00:47] StevenLocke commented on #278
My understanding of the original issue is to validate a set of data_values against a schema and provide helpful hints for improving formatting. That would feel pretty strange to me in the `--data-values-inspect` output which I see more as a "what does ytt have access to," something like debug information, and less like "user info".

I love the `--fail-on-warnings` flag suggestion. That feels like

[2021-02-11 15:04] benmoss opened #299 "New merge support doesn't allow overriding"
**What steps did you take:**
[code]
**What happened:**
`$ ytt -f /tmp/foo.yaml`
[code]

**What did you expect:**
yq does the right thing here:

`$ yq eval 'explode(.)' /tmp/foo.yaml`
[code]

**Environment:**

- ytt version (use `ytt --version`): 0.31.0

[2021-02-11 16:33] joaopapereira commented on #299
Thanks for opening this issue. ytt does not comply with the merge spec so we should definitely look into this issue.
For more information on the spec: https://yaml.org/type/merge.html

Not sure when this issue will be prioritized, let us know if this is something that is blocking your work so that we can review the priority of this issue. Also if you want to try and fix it just send a PR or reach

[2021-02-11 17:33] cppforlife commented on #284
given the size and impact of this feature, it's probably worth keeping this in a isolated area within docs until it's ready to be used by everyone.

[2021-02-11 18:30] juanr2001 opened #300 "multiple @data/values order execution"
Maybe I am doing `ytt` wrong but...:

It seems that `ytt` proccess multiple data/values files like:

[code]

`ytt` assumes that file `b` will override file `a`, just because `b` is after `a`

Is it possible if `ytt` allows something like this: `ytt -f "b.yml, a.yml"` (where `a` overrides `b`) in the future, so that we can specify what files overrides the others?

If `ytt` already support file orde

[2021-02-11 21:10] joaopapereira commented on #300
Hello @juanr2001 good question

The way for you to establish order when using data values files or overlays is from left to right of the files that you provide in the command line via `-f` flag and after that by alphabetic order inside folders.
You can find a little bit more information about this in these 2 links:
https://carvel.dev/ytt/docs/latest/lang-ref-ytt-overlay/#overlay-order
https://carv

[2021-02-12 03:53] #297 closed, assigned to pivotaljohn

[2021-02-12 14:42] juanr2001 commented on #300
Thank you @joaopapereira for your quick response!

I attacked an image.

I think `ytt -f template.yml -f b.yml -f a.yml` does not respect this order. Instead it respects the name of the file name in  acending order.

![b_yml_—_test-ytt](https://user-images.githubusercontent.com/11986307/107781707-315fc480-6d16-11eb-954a-18a7e3a9c0b6.png)

[2021-02-12 14:44] juanr2001 commented on #300
Thank you @joaopapereira for your quick response. I guess I skipped an important concept (overlap).

[2021-02-12 14:45] #300 closed, assigned to nobody

[2021-02-16 05:06] chris-chambers opened #302 "Output file access permissions are unusual"
Output file permissions are currently set to `0700` on creation for both files and directories.  Typically, files are created as `0644` and directories as `0755`, at least that's the default behavior for most shells on Unix-y systems.  Would it be possible to change the way files are created by default, or provide flags to control the behavior?

https://github.com/vmware-tanzu/carvel-ytt/blob/0b8c

[2021-02-16 16:31] pivotaljohn opened #303 "overlay/match's `by` does not accept a string when applied to a document"
**What steps did you take:**
[code]

**What happened:**

https://kubernetes.slack.com/archives/CH8KCCKA5/p1613490488283300?thread_ts=1613471663.281200&cid=CH8KCCKA5

**What did you expect:**

To behave identically to:

[code]

It's particularly surprising that this works for the array, but not the document.

**Anything else you would like to add:**

As a matter of practical use, there's a risk tha

[2021-02-16 20:35] cppforlife commented on #278
--data-values-inspect was added to show what data values are immediately before they get used in templates. the only way to get access to "final" data values is to go through validation of them against schema, and merging them with data values split over multiple documents/files. this happens to address this issue request of "validate that my data values adhere to my schema."

im not sure warning

[2021-02-17 16:00] joaopapereira commented on #303
As per the documentation in https://carvel.dev/ytt/docs/latest/lang-ref-ytt-overlay/#overlaymatch `ytt` should behave the same way for documents and arrays

[2021-02-17 21:07] joaopapereira commented on #302
Hello @chris-chambers thanks 😄
I started looking around into other tools to see if there was any kind of "industry standards" around the file/folder permissions. To be fair what I found was that this goes a little different depending on which tools you look at.
Just anecdotally I looked at terraform, helm and kostumize and they behave in different ways. Two of them used the default Unix behavior a

[2021-02-17 22:16] chris-chambers commented on #302
Thanks for the info, @joaopapereira! 0600 for files is perfectly fine, and I agree with your rationale.  The execute flag was my main complaint.  I should have been more clear about that. 🙂

[2021-02-17 22:49] joaopapereira commented on #302
Going to write some acceptance criteria for this issue

**Scenario** Create configuration and save to a disk
**Given** I am in the ytt folder
**When** I run `ytt -f examples/data-values --output-files /tmp/output`
**And** I execute `ls -l /tmp/output`
**Then** I should see the created files without execution permission
[code]

---

Vote on this request

This is an invitation to the community to vo

[2021-02-17 23:03] kenahoo opened #304 "Library?"
I'm having a little trouble getting started using YTT - is there a Python library that allows a developer to process a YAML file with YTT?  That's what I'd ultimately like to be able to do if possible.

I see that there's an executable binary at https://github.com/vmware-tanzu/carvel-ytt/releases that I can download for command-line processing, but the binary isn't signed so MacOS doesn't want to

[2021-02-18 05:58] cari-lynn opened #306 "Suggest configuration improvements to user"
**Describe the problem/challenge you have**
This issue originates from issue #278. There are scenarios where configuration (schema, data values, templates, etc) may be valid and running `ytt` succeeds, but the configuration could be improved or simplified.

**Describe the solution you'd like**
This issue is a place to collect **scenarios** where `ytt` could alert the user in some way of an improve

[2021-02-18 15:36] joaopapereira commented on #304
Hello @kenahoo sorry to hear that,
Let me try to help you in steps.

Access slack, you should be able to create an account in Kubernetes Slack(where our channel is) by going https://slack.k8s.io/ and you will be asked for your email address that will be used to send you the invitation to register. From there you should be all set and can join the #carvel channel

MacOS signing, unfortunately at th

[2021-02-18 15:47] joaopapereira commented on #306
Converting this issue into a discussion to ensure it does not trigger our stale checks

[2021-02-18 16:10] kenahoo commented on #304
Thanks @joaopapereira , very helpful.  For now I'll just do some exploration using my locally-built `ytt` binary and figure out the best ways to integrate it into the larger landscape if we choose to use it.

[2021-02-18 21:17] joaopapereira commented on #304
I am happy it was helpful.
Going to close the issue for now, but feel free to reopen it if you have more questions.

[2021-02-18 21:17] #304 closed, assigned to nobody

[2021-02-18 22:26] aaronshurley commented on #302
@chris-chambers I'm curious, does this impact a use case of yours? If so, could you please share more. Or is this just surprising to you?

[2021-02-19 00:06] StevenLocke opened #308 "#@overlay/insert inserts out of order"
ℹ️ This bug should be addressed by implementing #371. See _that_ story for details.

Original Report 👇🏻
---

**What steps did you take:**
Ran the following files through ytt:
[code]

[code]

**What happened:**
The command executed successfully, and output this yaml:
[code]

Note the order of the items in the array.  The "inserted before 0" item is added after the "appended" item in the first docum

[2021-02-19 16:35] joaopapereira commented on #308
I was able to reproduce the issue with
[code]

Also inverted the order that we do the overlay and looks like the ordering of the operations is correct.
[code]

Not sure if this will be relevant but I also tried to add an expectation in the match overlay of 1+ and it didn't fail in any case:
[code]

---

Vote on this request

This is an invitation to the community to vote on issues, to help us prio

[2021-02-19 17:22] cppforlife commented on #308
this ~~related~~ is task in https://github.com/vmware-tanzu/carvel-ytt/issues/112

[2021-02-19 20:52] chris-chambers commented on #302
@aaronshurley, there's no _major_ impact from having the executable bit set on non-executable files.  We lint for things like this because it's common for files created on Windows to have strange permissions.  But, removing the executable bit files seems like the easy part to agree on (seems like having it set was unintentional).

0755 vs 0700 for directories and 0644 vs 0600 for files doesn't rea

[2021-02-20 01:32] aaronshurley commented on #302
@chris-chambers Thank you for providing this detailed response. It's really helpful in understanding your expectations and why you have those expectations. I think we have all the information we need.

Just a heads up, this might not jump to the top of our backlog but we'd happily accept a PR for it. Just let us know if you hit any issues if you feel like diving in.

[2021-02-20 01:41] pivotaljohn commented on #81
As mentioned in [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5/p1613749069344600) ~Feb 2021...

In GitLab documentation on "[Dynamic child pipelines](https://docs.gitlab.com/ee/ci/parent_child_pipelines.html#dynamic-child-pipelines)", there's a pointer to ytt. It's easy to make the inference that one merely reference the many [pre-defined variables](https://docs.gitlab.com/ee/ci/variabl

[2021-02-20 11:05] erikgb commented on #81
There is also an open [GitLab issue to add an example of child/parent pipelines with `ytt`](https://gitlab.com/gitlab-org/gitlab/-/issues/229112).

[2021-02-20 12:12] pmorch opened #309 "How to reference a value when defining a new value?"
Newbie here.

# TL;DR

How do I create a new value in an `overlay.yaml` file achieving this:

[code]

so that it later can be used in the tempate as `data.values.serviceA_URL`?

# Details

Assume we have a number of REST endpoints. Normally all these REST endpoints are available on the same server in a default place, but sometimes, e.g. during development, some of the endpoints are available in a

[2021-02-23 19:14] aaronshurley commented on #283
- [x] when we cut this release, ensure that we include docs changes from https://github.com/vmware-tanzu/carvel.dev/pull/49

[2021-02-23 22:59] cari-lynn commented on #309
Hey @pmorch, thanks for opening this question!

I see a need to input a base_URL that can be used for all endpoints, and be able to modify any individual endpoints that may need to change.

Currently, accessing `data.values` is not supported until after all data values files have been processed, so it's not possible to share `base_URL` across data values files. We put together an alternative appro

[2021-02-24 02:33] pmorch commented on #309
Hi Cari,

Thank you very much for your well thought-out answer. I know these take time to write, and I appreciate it!

This was the original question, and "not possible" is a valid answer to it. :-(

For the specifics of my question, your workaround works great. I've come up with another that works for us too:

[code]

I like your solution better, actually.

But really, what I was looking for was

[2021-02-24 02:33] #309 closed, assigned to cari-lynn

[2021-02-25 23:22] mhubig opened #310 "duplicate key check in plain yamls"
ytt crashes when running  against the current tekton release:

[code]

I think this is because of the [strange merge syntax](https://yaml.org/type/merge.html) within the manifest:

[code]

**Environment:**

- ytt version (use `ytt --version`): 0.31.0
- OS (e.g. from `/etc/os-release`): macOS Big Sur (11.2.1)

[2021-02-26 15:13] joaopapereira commented on #310
Hello @mhubig
After some scavenging, I was able to reproduce your issue. Definitely, it is related to that piece of YAML there.
Unfortunately at this point in time `ytt` does not support the merge operator as described in https://yaml.org/type/merge.html

We do have another open issue with the same ask #299 but in your case, it is causing a panic because the file is marked as plain YAML and `ytt`

[2021-02-26 16:18] cppforlife commented on #310
ytt does support merge. can be demonstrated by following that works successfully+correctly:

[code]

the underlying problem here is that ytt is strict about setting same key in a map twice (there is a flag to control that feature `--implicit-map-key-overrides`). in the example above `*version` already includes a name, and the next line tries to set `name` again. this is a safety feature which is q

[2021-03-02 21:58] jmcclenny-PRE opened #311 "Support for file-marks or rawOptions in App-spec for ytt"
**Describe the problem/challenge you have**
I have a need to utilize file-marks within the app-spec for kapp-controller.

**Describe the solution you'd like**
Would be nice to either have file-marks as a first class field or pass in via rawOptions
eg.
[code]
or possibly?

[code]

[2021-03-02 22:29] #311 closed, assigned to nobody

[2021-03-02 22:29] pivotaljohn commented on #311
Issue moved to [vmware-tanzu/carvel-kapp-controller #121](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/121) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-03 19:20] cari-lynn opened #314 "ytt guides & examples"
## Problem Statement

The current ytt documentation goes in depth listing what features are available in ytt which is acting like a reference. However, it lacks in explaining how these various features can be applied in real-life scenarios which leaves new ytt users to figure out how to use ytt to solve their problems on their own. This not only takes time for new users to ramp up in ytt but also

[2021-03-04 21:41] pivotaljohn opened #315 "Schema node can be annotated to allow any type"
Narrative:
**As a** configuration author
**I want** to ensure a field exists in my data values, regardless of type
**so that** tooling can rely on its existence, and we can support multi-typed items like "intOrString"s

---

## 🟢 Any Type Allowed
**Given** a document, array item, or map item is annotated with `@schema/type any=True`
**And** the value for that node is any value (including null)
**W

[2021-03-05 20:15] aaronshurley commented on #310
For this issue, we would like to make a couple of improvements here:
- [ ] provide a better UX for this scenario (we shouldn't panic, consider referencing the `--implicit-map-key-overrides` flag)
- [ ] ensure that documentation around the `--implicit-map-key-overrides` is clear

As @cppforlife mentioned, we should think more about the functionality that we want for plain yaml vs ytt templates.

[2021-03-09 00:42] cari-lynn commented on #296
- [x] type check library schema
- [x] order steps in data values pre-processing so that the data values is being type-checked.
   - [x] when schema is present, make data values overlays more permissive
- [x] Respect `--enable-experiement-schema` flag
- [x] Implement remaining library functions
- [x] root dir data values that references private lib are checked independently of root dir schema
- [x]

[2021-03-09 22:03] blc1996 opened #316 "Issue identifying \ in regex library"
**What steps did you take:**
I used `regex.replace` function, trying to escape all the \ and " in the string. It seems that there is a bug in regex library when identifying slash.

expected:
\ => \\\\
" => \\"

**What happened:**
I tried
`input = 's\\om"etext'`
`regexp.replace('([\\"])', input, "\\$1")`
The output is
`s\om\"etext`

**What did you expect:**
We are expecting the output to be
`s\\om\

[2021-03-09 22:38] blc1996 commented on #316
After some digging, realized this is not a bug.

I'll need 4 `\`s (i.e. `\\\\`) in the regex expression in order to find one literal \ in the text. The overall process is:

function receives` \\\\`, passes `\\`
regex receives `\\`, searches `\`.

[2021-03-09 22:39] blc1996 commented on #316
Close this issue

[2021-03-09 22:39] #316 closed, assigned to nobody

[2021-03-10 17:45] pivotaljohn opened #317 "`in` operator on a `yamlfragment` wrapping an array fails to match elements"
**What steps did you take:**
Attempted to use the `in` operator on a `yamlfragment`.

For example, given the following input:

[code]

**What happened:**
The overlay failed its expectations:

[code]

**What did you expect:**
I expected `in` to iterate over the array wrapped in the `yamlfragment` in `l`.

**Anything else you would like to add:**
A work around is to unwrap the `yamlfragment`:

[code

[2021-03-10 21:51] cppforlife commented on #317
[code]

results in

[code]

[2021-03-11 01:34] cari-lynn commented on #296
Created this rough working diagram to map out how data values are processed https://miro.com/app/board/o9J_lRLsKNc=/

[2021-03-11 21:58] cari-lynn opened #318 "Create content for guide: When I would use a starlark module, private library, or a data values file"
**As a** Configuration Author using ytt to implement a well organized configuration
**I want** to see documentation on how to solve my use in a way that is recommended by seasoned ytt professionals
**so that** I can have confidence my code is DRY, simple, extensible, and maintainable

## Why
The current ytt documentation goes in depth listing what features are available in ytt which is acting like

[2021-03-12 19:02] Sly555 opened #320 "Change file content in configmap"
**Describe the problem/challenge you have**
I have a configmap used for storing configuration files for a tool. In each stages some values have to be different.
But the content is text in a yaml file ex :

`configmap.yaml`
[code]

`Values.yaml`
[code]

The #@ aren't recognized in this scenario.

**Describe the solution you'd like**
Can it be possible to add a new set of chars that can indicate to

[2021-03-12 23:38] pivotaljohn commented on #108
When a Configuration Author declares a map item in schema as `@schema/nullable`, its default value is `null`.
When a Configuration Consumer then provides a value for that item, that overlay hits this condition.

As far as I understand it, the hesitation for allowing this kind of operation is that it is not type safe: _anything_ can be placed over that null value. Kindly, subsequent type checks per

[2021-03-12 23:50] cari-lynn commented on #260
Capturing notes from when we talked about this issue in our community meeting here:

Currently ytt outputs to stdout for all commands. It's common to use ytt with other tools by piping them together (ytt | kbld | kapp).
For this feature ytt would write to the file system instead of stdout so that it can respect the directory structure needed.
That introduces a different UX for the tool, since then

[2021-03-14 19:02] pivotaljohn opened #323 "Schemas v2"
🚧 **Under Construction**  🚧

---

Candidate Story Categories:
- allow for more flexible use of schema with `@schema/key`
  - request: #656
- command-line flags to accept Schema (just like data values)

[2021-03-15 15:59] cppforlife commented on #320
@Sly555 check out text templating example: https://carvel.dev/ytt/#example:example-text-template (https://carvel.dev/ytt/docs/latest/ytt-text-templating/).

[2021-03-17 16:24] dprotaso opened #325 "Better error message when @data/values is on non-documents"
**Describe the problem/challenge you have**
ytt is spitting out the error:
[code]

But I have no idea what what file/line it is complaining about

[2021-03-17 16:45] #108 closed

[2021-03-17 22:11] gcheadle-vmware commented on #325
Hey @dprotaso,

Thanks for reaching out! That error message could definitely use more information regarding the context of the error.

We are curious what command and files you used, that way we could get a better understanding of how this error happened. We are guessing that you wanted to provide a data values file but did not annotate the top of the file with `#@data/values`.

cc @DennisDenuto

[2021-03-18 00:36] dprotaso commented on #325
[code]

`ytt -f` that file

[2021-03-18 17:34] gcheadle-vmware commented on #325
Thank you for the additional context. We can certainly run a story to improve this error message.

A Data Values file is a YAML document annotated with `#@data/values`. So you'll need to add a document start "`---`" under the `#@data/values` annotation.

Proposed Story:
### Problem
When files are annotated using `@data/values`, but no document start is provided, `ytt` errors with an unspecific err

[2021-03-18 23:50] cari-lynn commented on #269
This issue will be available in the v0.32.0 release. When we cut that release, we should merge the documentation PR related to this: https://github.com/vmware-tanzu/carvel.dev/pull/64

[2021-03-19 15:57] pivotaljohn commented on #325
I agree with this diagnosis...

... and I'd even go further:
- direct the user's attention to _where_, first — mention the spot where error occurred at the beginning
- we're leaking details that are irrelevant to the user (they don't care and might be confused by mention of the Go package in which the struct lives); let's coalesce all our communication around a ubiquitous language
- omitting the `

[2021-03-19 21:44] pivotaljohn commented on #320
@Sly555 — looks like the fastest turnaround time ever on a new feature request. ;)

Let us know if there's any gaps between what you want to do here and what the Text Templating feature provides. You can simply reply back to this issue, if you'd like.

[2021-03-19 21:55] #232 closed, assigned to pivotaljohn

[2021-03-19 22:04] pivotaljohn opened #327 "Bring back support for Starlark multi-line strings"
## Acceptance Criteria
White space stored in starlark multi-line strings should be preserved.

**Given** a template calling function that returns a multi-line starlark string:
[code]
when executing `ytt -f .`
**Undesired Result:**
[code]
**Desired Result:**
[code]

_Below is the original issue_

---
**What steps did you take? What happened?**
Attempted to use multi-line strings, but they lost thei

[2021-03-22 00:25] peterfeifanchen opened #329 "Calling a yamlFragment by its string name"
I was wondering if I have:

[code]
Is it possible to call `ingress` using a string in my starlark file? For example
[code]

[2021-03-22 05:15] adriens opened #330 "❔ How to generate files with "@" character ❔"
Hi, sorry for that question that looks dumb, but I need to generate a `yaml` file while the data input contains a `@`, and I did not find how to be able to embed it.

For example, let's say I'd like to get this file as input :

[code]

How should I espace it to get this :

[code]

Any help would be greatly appreciated.

Thanks a lot.

[2021-03-22 05:18] adriens commented on #330
`entete: \@Library('opt-shared-libraries') _` -> `entete: \@Library('opt-shared-libraries') _` ... but  keep the `\`

[2021-03-22 05:33] adriens commented on #330
With the help of this doc : https://carvel.dev/ytt/docs/latest/ytt-text-templating/

This input did the job :

[code]

output :

[code]

[2021-03-22 05:33] #330 closed, assigned to nobody

[2021-03-22 05:54] adriens opened #331 "❔ Generate (non-yaml) text file from yaml files examples ❔"
# Context

On a current project, I have some `yaml ` files but I need to generate a text file for Jenkins tha may look like this :

[code]

I've run some samples but I could not achieve to generate a non `yaml` file : is it possible to use `ytt` to read multiple `yaml` files to get a (**non-yaml**) text file as ouput ? I would use `ytt` to load datas as parameters.

Thank you in advance for any he

[2021-03-22 06:03] adriens commented on #331
Is there a way we can force `ytt` not to check that output is `yaml` ?

`{"errors":"Unmarshaling YAML template 'values.yml': yaml: line 3: did not find expected \u003cdocument start\u003e"}`

[2021-03-22 07:53] peterfeifanchen opened #332 "Calling overlay.apply on a list of yamlFragment"
I have a list of YAML fragments `list=[ a, b, c, d]`, when I apply:

[code]
The runtime seems to want to apply list[0] as a yamlFragment, even though it is the base.

[2021-03-22 08:10] peterfeifanchen commented on #332
never mind, it was a starlark set when converted into list that wasn't in the order I expected.

[2021-03-22 08:10] #332 closed, assigned to nobody

[2021-03-22 17:27] StevenLocke commented on #331
I think ytt may not be the right tool for this job. It's designed for structured content, YAML, JSON, etc. which gives ytt the ability to annotate, modify, and insert/replace nodes in a tree.

Can you provide an example of the files and command you'd hope would produce your desired output? What sort of constraints are you working under?

[2021-03-22 18:00] StevenLocke commented on #329
It is possible, though with a few tweaks! You're heading down the right path by getting the attribute from a loaded module and a parameter to the function, then calling it. I think your stumbling block may be getting that loaded module, and the accompanying `load` statement.

Similar to [this FAQ question](https://carvel.dev/ytt/docs/latest/faq/#can-i-load-multiple-functions-without-having-to-name

[2021-03-22 20:11] adriens commented on #331
Hi @StevenLocke , first, thanks for your feedback.

I intend to produce a `JenkinsFile` as for now it's manually produced by colleagues and I'd like to automate its production based on input `yaml` files.... and I did not want to use `sed` command.

Please find below an output sample :

[code]

My goal is to slowl automate this part and also to introduce `ytt` in our stack.

Hopefully my answer fi

[2021-03-22 20:20] adriens commented on #331
Should I rather use [gomplate](https://gomplate.ca/) or [mustache](http://mustache.github.io/) ?

[2021-03-22 20:31] stealthybox commented on #208
Just noting here that iterating over maps for this use-case does appear to work properly with ytt 0.31.0.
[code]
[code]
This is common with config for k8s Deployments.

I'm not knowledgeable whether maps and structs are similar or related in Starlark, and there may be other technicalities that mean they are not fully iterable yet.

Either way, this wasn't clear from these examples:
- https://carve

[2021-03-22 21:21] gcheadle-vmware opened #333 "Type Check Command Line Data Values"
**As a** Configuration Consumer using a [data values flag](https://carvel.dev/ytt/docs/latest/ytt-data-values/#overriding-data-values-via-command-line-flags)
**I want** the data values provided from the command line to be type checked against the schema,
**so that** when I provide a mistyped command line data value, I get specific, clear, and actionable feedback.

---

### Scenario 1: Schema-Confo

[2021-03-22 22:11] cppforlife commented on #331
@StevenLocke is right that ytt is really centered around data structure transformation in YAML; however, we do offer text templating as a feature that's occasionally needed. this example: https://carvel.dev/ytt/#example:example-k8s-helm-ish produces NOTES.txt for example via text templating (ytt interprets .txt extension in a special way). do note that ytt does not include text file result in stdo

[2021-03-22 22:15] adriens commented on #331
Ok, thanks a lot @cppforlife , this answer my question.

I'm having a closer look at [gomplate](https://docs.gomplate.ca/usage/) to generate not-yaml content.

Thanks a lot guys for your kind feedbacks. 🙏

[2021-03-22 22:15] #331 closed, assigned to nobody

[2021-03-22 22:28] cppforlife commented on #333
currently --data-value field reads values as strings. is this issue going to add behaviour so that --data-values is smart enough to pick "how to" read a value. (ie parse as int when field type is int, parse as float when field type is float, etc.)?

[2021-03-22 23:47] cari-lynn commented on #333
I think we would want to type check based on whatever type was input so for `--data-values` it would be type checking the input as strings, and for other flags like `--data-values-env-yaml` or `--data-value-yaml` where the input is yaml encoded, we could type check based on those yaml types. So I think we should change the acceptance criteria above to use the other flags instead. We could also add

[2021-03-23 00:04] peterfeifanchen commented on #329
Thanks!

[2021-03-23 00:04] #329 closed, assigned to nobody

[2021-03-23 10:17] fcremo opened #334 "Symlinking `_ytt_lib` not working"
**What steps did you take:**

I'm trying to use the same libraries in multiple templates. Ytt is being invoked on a whole template directory with `ytt -f <dir>`. As an alternative from adding `-f /path/to/_ytt_lib` I tried symlinking it into `<dir>`, since it would be more inconveniente to do that in my use case rather than linking. Ytt is not loading the libaries as I expected, even when using `-

[2021-03-23 18:47] StevenLocke commented on #334
This is some excellent investigation! Thanks for putting in that effort.

I think the concern extends beyond your original scope: ytt does not support symlinking directories for input at all, libraries or otherwise.

With a simple example,

[code]

`ln -s ~/test/ ~/Desktop`

`ytt -f ~/Desktop/test --dangerous-allow-all-symlink-destinations`

\<no output\>

If we run it with the `--debug` flag, we

[2021-03-24 09:32] fcremo commented on #334
My bad, I did not consider the possibility that symlinking directories was not a supported feature at all.
Your assumption is correct, I'll check out vendir, it seems like it might solve the problem. Thanks @StevenLocke!

[2021-03-24 09:32] #334 closed, assigned to nobody

[2021-03-24 17:16] aaronshurley commented on #325
This improvement makes sense. We're going to move this to the Unprioritized Backlog for right now so that we can group it with similar work. Contributions are welcome :)

[2021-03-24 17:25] #260 closed, assigned to nobody

[2021-03-25 03:58] pivotaljohn opened #335 "Support "replacert" in overlays"
**Describe the problem/challenge you have**

I would like to be able to, in one overlay operation:
- replace a {map item, array item, document} if it exists with my content; _or_
- append my content as a new item in the collection.

Today, I need to do that in two operations:
[code]

**Describe the solution you'd like**

I'd rather `@overlay/replace` have an "replacert" behavior.

If that were the

[2021-03-25 20:08] cppforlife commented on #335
is this not possible with when= kwarg?

[2021-03-26 00:00] StevenLocke commented on #335
`when` applies to the overlay/match annotation, is it possible to provide two actions to the same node with different matchers?

Or did you mean repeat the node, each with a matcher/action annotation.
[code]

[code]

[code]

These are both errors :/
I assume you had something else in mind :)

[2021-03-26 01:08] zhouhaibing089 opened #336 "ytt silently skips yaml merge key"
**What steps did you take:**

merge key is described [here][1], however ytt silently ignores those special syntax.

**What happened:**

I have a yaml like below`foo.yaml`:

[code]

You can see `&version` and `!!merge <<: *version`. Then I run `ytt -f foo.yaml`, and no error reported, but the result YAML is incorrect:

[code]

**What did you expect:**

I'd expect those merge key tags are preserved

[2021-03-26 01:39] zhouhaibing089 commented on #336
See https://github.com/tektoncd/pipeline/issues/3794 as well.

[2021-03-26 13:34] cppforlife commented on #335
[code]

this will fail since in both cases involve same map key. this isnt the case with array items and from what i see that's what the initial question was about.

[2021-03-29 13:00] Sly555 commented on #320
Hi,
First thanks for your quick answer ! I have tried your suggestion. If I put the multiline text with the replace fields the output is only a string (no crlf)
see picture and look for number one

If I put the text in another file and use the replace function I can have it in multilines. But it is less convinent. (number 2)

Do you think it will be possible to have multiline support for my exampl

[2021-03-29 18:28] gcheadle-vmware commented on #336
Hi @zhouhaibing089,

I see that the version of ytt that you are using is v0.30.0. If you take a peek at the [v0.31.0 release notes](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.31.0), you should see in that version we now support the merge operator.
With your example, I made some slight canges to `foo.yml`:
[code]
then running `ytt -f foo.yml`:
[code]

Let me know if this helps, and

[2021-03-31 17:07] aaronshurley commented on #335
I added the `discussion` label to this issue as it seems like we're still hashing out the details. Please feel free to remove the label and add `carvel-accepted` when we've reached an agreement.

[2021-03-31 17:21] aaronshurley commented on #327
This was discussed at the [Carvel Office Hours](https://hackmd.io/5Bh2IXwTShSrA0YdBY4AGg#March-25-2021-Agenda) and it was accepted.

[2021-04-05 16:43] pivotaljohn opened #338 "Explore: Support exporting OpenAPI from `ytt` Schema"
Questions
- what exactly will the user do to get the OpenAPI schema export?
- can we translate everything we say in `ytt` schema to OpenAPI? Do we need any more information to do so?

Acceptance Criteria
- there's a proposal on how this is done
- a set of stories covering the MVP of enabling this feature

[2021-04-05 16:44] pivotaljohn opened #339 "ytt Schema v2"

[2021-04-05 16:45] pivotaljohn commented on #339
Redundant with existing Epic.

[2021-04-05 16:45] #339 closed, assigned to nobody

[2021-04-05 17:55] cari-lynn commented on #296
We split up this issue into three separate PRs
[code]

The current focus is to tackle the `refactor-dvpp` PR first, to unblock `private-lib-schema`. Then, we can address the remaining feedback for `private-lib-schema` PR. After all that, then `overlay-position`.

[2021-04-05 17:57] pivotaljohn opened #340 "Remove the schemas feature flag"
**As a** Configuration Consumer
**I want** to enjoy the benefits of `ytt` Schemas when schema it is present
**But** not be blocked by `ytt` Schemas when schema is _not_ present
**so that** I can get all the benefits of it

---

**TL;DR** schema functions on a per-library basis (including the root library) with the same criteria: if schema is present, schema is enabled; if schema is not present, sc

[2021-04-06 12:48] pivotaljohn opened #342 "Overlay'ed data values set to Starlark expressions are schema-type compatible"
**As a** Configuration Consumer
**I want** to overlay my Data Values with using an `@overlay/replace` function and have the result be schema type-checkable
**So that** such configuration documents can properly benefit from schema-enforced checks

## Context
As detailed in the comments, below, currently when an overlay includes an `@overlay/replace via=...` the result of that function is converted

[2021-04-06 22:40] Birdrock opened #343 "overlay/remove added key with null value"
**What steps did you take:**
Modified the ytt playground [example-multiple-data-values](https://carvel.dev/ytt/#example:example-multiple-data-values) as follows:

config.yml
[code]

values-defaults.yml
[code]

values-production.yml
[code]

**What happened:**
[code]
`keys.key1` was inserted with a null value despite `#@overlay/remove`.

**What did you expect:**
[code]

**Environment:**

- ytt versi

[2021-04-07 17:02] gcheadle-vmware commented on #343
Hi @Birdrock,

The [`#@overlay/remove` action](https://carvel.dev/ytt/docs/latest/lang-ref-ytt-overlay/#overlayremove) will match and remove the node on the left side (values-defaults.yml), based on the right side (values-production.yml). Since it looks like you deleted the `keys:` map and its children in values-defaults.yml, the `#@overlay/remove` action in your overlay will not match any nodes i

[2021-04-07 20:54] cari-lynn opened #344 "Report Schema Error when Data Values Overlay Fails"
## Why / Context
Previously, there was some work done to report a schema error for when an overlay fails to overlay a data value onto a schema document, but the work was moved to this issue. Because of this, we have some tests that do not pass and are being skipped. Currently, instead of a schema error, we see an overlay error message.

Narrative:
**As a** configuration author
**I want** see a hel

[2021-04-08 00:51] cari-lynn commented on #296
Reopening this since we are using this work to motivate the changes for #341

[2021-04-08 23:27] gcheadle-vmware commented on #296
Currently the position of starlark structs does not exist. We will have to do some more thinking about what to do in this case.
cc: @cari-lynn

Update: we just report the position of a right side node so for Starlark structs that have no position, they just have no position reported. Lets tackle this work to add the position separately.

[2021-04-10 01:59] jmcshane opened #345 "arm64 architecture support"
**Describe the problem/challenge you have**
Want to install `ytt` on arm64 without needing to bridge using Rosetta

**Describe the solution you'd like**
Multi-architecture build for `ytt` to support arm64 architecture

**Anything else you would like to add:**
Would love to install via arm64 homebrew

[2021-04-11 17:44] dprotaso opened #347 "confusing error message when overlay/match expects is not quoted"
[code]

[code]

Gives you the error message
[code]

What's confusing is that there isn't a `)` in the annotation that I wrote.

I was hoping it would print an error saying my `expects` input should be quoted. Or ideally it accepts the `1+` as a valid token (ie. without the quoting)

[2021-04-12 14:36] jmcshane commented on #63
The use case of using ytt for something like a cloud-config is especially challenging here. What is the appropriate way to engage here to get some focus on this use case from the maintainers here? I think there are valid use cases that would be very helpful for the project to consider here.

[2021-04-12 14:59] joaopapereira commented on #345
Sounds like a good thing to have. Accepting the issue

[2021-04-12 15:16] dprotaso opened #348 "when target for overlay is null - ytt errors out with confusing error message"
[code]

overlay
[code]

Error message is
`
Overlaying (in following order: overlay.yml): Document on line overlay.yml:4: Map item (key 'annotations') on line overlay.yml:6: Expected map, but was <nil>
`

I'd prefer if the error message would highlight the _target_ value is null and print that file location instead of the overlay location.

Secondly, I wonder if a target `null` could be a special c

[2021-04-13 19:51] #345 closed, assigned to nobody

[2021-04-14 17:14] aaronshurley commented on #336
Hey @zhouhaibing089, did @gcheadle-vmware's comment above help?

[2021-04-14 17:16] aaronshurley commented on #343
Hey @Birdrock, did @gcheadle-vmware's comment above resolve your issue?

[2021-04-14 17:52] zhouhaibing089 commented on #336
Thanks @gcheadle-vmware.

Without the modifications:

[code]

In my opinion, `foo.yaml` should stay as is(This is a published file which as client, we don't have control with), and ytt should be able to parse this YAML without issues.

[2021-04-14 18:17] ghost opened #350 "How To Insert a Non Yaml file with Ytt"
Im looking for a way in ytt to easily do the following (pseudocode).

I can see that `ytt` already has a `load()` but this assumes the input file is already yaml.. my use case is different.

[code]

Currently I have this working with `sed` which works ok , but it is clunky and means a preprocessing phase, ideally I would  like to just have `ytt` handle the injection as `ytt` would also indent the

[2021-04-14 21:26] cppforlife commented on #348
@jtigger didnt we add this feature on develop?

[2021-04-14 21:30] cppforlife commented on #343
per related slack thread...

we have an item in https://github.com/vmware-tanzu/carvel-ytt/issues/112

that would solve this problem. in summary, ytt should not interpret chunk of yaml as plain yaml once it decided that key is missing and it needs to add chunk of yaml. instead it should interpret it as an overlay which would account for annotations such as overlay/remove.

[2021-04-14 22:37] StevenLocke opened #351 "Schema checking data values panics on nested items against scalars"
**What steps did you take:**
[code]

[code]

[code]

`$ ytt -f files/ --enable-experiment-schema`

(The important part is that array[0] in the schema is a scalar, and a map/array in the data values.)

**What happened:**
Panic!

[code]

**What did you expect:**
I expected a nice schema error message, something along the lines of:

[code]

**Anything else you would like to add:**
The actual panic co

[2021-04-14 23:11] cppforlife commented on #336
i would agree with @zhouhaibing089 for the case of plain yaml files. we recently, on develop branch, added feature to interpret certain yml files as regular yaml files so for those files i would imagine we should also relax duplicate key check.

wdyt @jtigger?

[2021-04-14 23:14] cppforlife commented on #350
as long as your ytt invocation includes necessary file (nginx.conf) in -f flags, then you can use `data.read(...)` function. example: https://carvel.dev/ytt/#example:example-load-data-files

invocation would look something like this `ytt -f nginx.conf -f configmap.yml` or if they are in the same directory `ytt -f stuff/`.

on a chance that you need to template variables inside nginx.conf itself ta

[2021-04-14 23:19] cppforlife commented on #347
yeah, that's an interesting one to fix. i think best we case scenario here is to figure out how to make error msg more understandable but even that would be hard.

[code]

gets turned into something like

[code]

which in plain starlark is invalid since + operation is expecting a second operand before function brace closes.

[2021-04-14 23:42] ghost commented on #350
Thanks for this.

using this markup...results
[code]
 results in

[code]

   notice the
[code]
 How do i get just
[code]

[2021-04-15 00:17] gcheadle-vmware commented on #333
Scenarios 3 and 6 are now on hold due to #344. Since command line data values are only meant to override existing keys, adding a key will cause an overlay error. In the context of schemas, I would expect adding a key will cause a schema error after the completion of #344.

[2021-04-15 09:44] damienleger opened #354 "Removing liveness/readiness probes on a Kubernetes Deployment"
Hello,

I'm trying to remove only liveness/probes of a Kubernetes Deployment.

Pre-requisites: download metrics-server (https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml)

My overlay.yaml is the following
[code]

The result is the following
[code]

But as you can see it also remove "args" key. When I remove `#@overlay/match by=overlay.index(0)` ytt fails. A

[2021-04-15 11:51] pmorch opened #355 "Using bash Process Substitution silently fails..."
**Describe the problem/challenge you have**

# TL;DR

`ytt` works fine if I have all my data files as real files in the file system:

[code]

But if I use bash Process Substitution ([short article](https://medium.com/factualopinions/process-substitution-in-bash-739096a2f66d)), then the `-f` parameter is silently ignored.

This should be equivalent to the above (without using a pesky temporary file

[2021-04-15 16:23] cppforlife commented on #355
because ytt is using file extensions to determine whether something is a yaml template or not, you have to "name" the file thats being ingested, ytt allows following syntax: `ytt -f values.yaml -f foo.yml=<(generateSecrets) -f demo.yaml` to name conent coming over the pipe.

[2021-04-15 16:44] pivotaljohn opened #356 "Types for "Untyped" Data Values are inferred from Schema"
**As a** Configuration Consumer
**I want** the Data Values that I supply through command-line flags to be automatically typed based on the provided schema
**so that** I can use more intuitively named flags to supply such values

[2021-04-15 17:16] pmorch commented on #355
That was it. It works fine, actually. My mistake.

[2021-04-15 17:17] pmorch commented on #355
But a little warning that the file was being ignored and why would've been helpful!

[2021-04-15 17:19] pivotaljohn commented on #356
Conversation around shaping this story here: https://kubernetes.slack.com/archives/CH8KCCKA5/p1618506748309700

[2021-04-15 17:45] cppforlife commented on #350
the reason why you are getting array item is because you are specifying to add this content as an array item (ie dash in YAML adds an array item in `- #@ data.read(file)`). if you just have a single file called nginx.conf it should just be:

[code]

if you are actually trying to "combine" all files that end with .conf, then it could be like this (uses comprehensions)

[code]

[2021-04-15 19:34] cari-lynn commented on #354
Hey @damienleger, really appreciate your feedback on the docs. We hope to improve this with some upcoming work to add guides so your feedback is really helpful.

`containers` is a an array with a single array item, within that one array item, there are many keys, ie: `args` or `livenessProbe`.  We don't need to worry about `args` at all, even though it's the first key because order doesn't matter.

[2021-04-15 20:11] joaopapereira opened #357 "OpenAPI Document Generation"
## Generate OpenAPI Document from `ytt` Data Values Schema

Proposal for this epic [here](https://github.com/vmware-tanzu/carvel/pull/198)

### Description

Enable `ytt` to generate an OpenAPI Document that can be processed by components that use [OpenAPI][1] to validate the correctness of data files for a particular library of template in `ytt`

### Why

The decision of enabling `ytt` to generate

[2021-04-15 21:02] ghost commented on #350
Fantastic thankyou..

[2021-04-15 21:17] damienleger commented on #354
Thank you @cari-lynn it works perfectly! 🙂👌
The trick of the `-` alone is what I needed to fix my overlay.index approach, but the matching on name is even better!

The fix using `#@overlay/match by=overlay.index(0)` for the records:
[code]

[2021-04-15 21:17] #354 closed, assigned to nobody

[2021-04-15 21:38] joaopapereira opened #358 "Generate OpenAPI Schema for Maps"
**As a** Configuration Author
**I want** to generate OpenAPI Schema from my configuration
**so that** Configuration Consumers can know what configuration inputs are valid

---

### :green_circle: Scenario 1: Convert Schema with Map and String to OpenAPI

**Given** the following schema exists
[code]

**When** I execute `ytt -f schema.yml --data-values-schema-inspect -o openapi-v3`
**Then** I should

[2021-04-15 23:09] cari-lynn commented on #348
@dprotaso this has been fixed from PR #322, and I believe this is a duplicate issue of #108.

The fix to allow overlaying onto null values should be in the next release.

[2021-04-15 23:18] dprotaso commented on #348
Awesome thanks - when's the next release?

[2021-04-15 23:36] cari-lynn commented on #348
I believe it will be soon. We generally try to release once we have a set of issues done that we can release together. We're still working on standardizing a release estimate timeline through GitHub.

[2021-04-16 14:13] #350 closed, assigned to nobody

[2021-04-16 19:53] joaopapereira opened #360 "Generate OpenAPI Schema for Arrays"
**As a** Configuration Author
**I want** to generate OpenAPI Schema for arrays from my configuration
**so that** Configuration Consumers can know what configuration inputs are valid

---

### :green_circle: Scenario 1: Convert Schema with Array of Strings to OpenAPI Schema

**Given** the following schema and data values exists
[code]
**When** I execute `ytt -f . --data-values-schema-inspect -o ope

[2021-04-19 15:49] joaopapereira opened #361 "Generate OpenAPI Schema for `@schema/nullable` annotation"
**As a** Configuration Author
**I want** to generate an OpenAPI Schema from my configuration
**so that** Configuration Consumers can know what configuration inputs are valid

---

### :green_circle: Scenario 1: Convert data values schema with nullable annotation on Scalars to OpenAPI schema

**Given** the following schema exists
[code]

**When** I execute `ytt -f . --data-values-schema-inspect -o

[2021-04-19 17:53] pivotaljohn opened #362 "Release ytt 0.32.0"
This is a shared space to work through preparing the 0.32.0 release.

**To Do**
- [x] Identify all changes merged since 0.31.0 and ensure changes are properly documented and ready to merge:
  - [x] #264 - Warn users when a ytt template is provided but will not be included in output.
  - [x] #298 - Improve error message when overlaying docsets - fixes #297
  - [x] #301 - Append array items by defau

[2021-04-19 18:27] pivotaljohn commented on #336
Yes: #324

A given YAML input is:
1. parsed from a stream of bytes into as YAML object model;
2. (if is a template) compiled and evaluated as a template.

It's during that second step that `ytt` explicitly checks for duplicate keys.

With #324, files like the subject of this issue would _not_ be evaluated as templates ~and this would "just work."~ _(edit: and we're one step closer... but need to r

[2021-04-19 19:03] pivotaljohn commented on #336
This exact issue was also identified in #310.

To keep things clear, let's close this issue as a duplicate. @zhouhaibing089 if you believe this is an error, please let us know.

Thank you for reporting this, @zhouhaibing089.

[2021-04-19 19:03] #336 closed, assigned to nobody

[2021-04-19 21:51] pivotaljohn commented on #289
FWIW, the need for this was insightfully highlighted in this conversation: https://github.com/vmware-tanzu/carvel-ytt/discussions/313#discussioncomment-632458

[2021-04-20 07:58] damienleger commented on #355
I got there with a similar problem. I think the possibility of "naming" the file ingested should be added in the `ytt --help`.

[2021-04-20 17:18] pivotaljohn opened #364 "Schema v1 Migration Guide"
**As a** Configuration Author
**I want** to know exactly what steps I need to take to convert my library to use Schemas
**So that** I get all the benefits of Schemas while minimizing any headaches in trying to learn the feature.

**Scope:** the guide should be detailed enough that one could convert a non-trivial usage of `ytt` and have a reasonable chance of success. For example, [CF for K8s](http

[2021-04-20 18:32] joaopapereira opened #365 "Generate OpenAPI Schema for `any` type"
**As a** Configuration Author
**I want** to generate OpenAPI from my configuration
**so that** Configuration Consumers can use it.

---

### :green_circle: Scenario 1: Convert data values schema with any annotation on Document to OpenAPI schema

**Given** the following schema exists
[code]

**When** I execute `ytt -f . --data-values-schema-inspect -o openapi-v3`
**Then** I should see
[code]

### :

[2021-04-21 17:59] hanlins opened #366 "Add function to extract username and password from credential embedded URL in url module"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
When handling a credential embedded URL in the form of `https://username:password@URL`, we want to parse the credential information like `username` and `password`, store them into a k8s secret. Also we want to get a URL that doesn't contain the credential so we can store it elsewhere.

*

[2021-04-21 18:29] caphrim007 opened #368 "ytt should support multiple exclusion file marks"
**What steps did you take:**

I have a directory of files and want to exclude 2 of those files.

ex:

dir/f1.yaml
dir/f2.enc.yaml
dir/f3.yaml

Content of the files can be any valid yaml

Running this command

[code]

Results in the a SIGSEGV

**What happened:**

ytt crashes with the following

[code]

**What did you expect:**

Would have expected yaml from f1.yaml to be printed. YAML from other 2

[2021-04-21 18:40] cppforlife commented on #368
fixed in https://github.com/vmware-tanzu/carvel-ytt/pull/369

[2021-04-21 21:45] gcheadle-vmware commented on #362
# :sparkles: What's new
- Array items are appended by default during overlay [#301](https://github.com/vmware-tanzu/carvel-ytt/pull/301)
- Allow null values to be overlayed [#322](https://github.com/vmware-tanzu/carvel-ytt/pull/322)
- Skip processing plain YAML files marked as template [#324](https://github.com/vmware-tanzu/carvel-ytt/pull/324)
- arm64 architecture support, binaries included below

[2021-04-21 22:15] gcheadle-vmware commented on #368
ytt release v0.32.0 fixes this issue.

[2021-04-21 22:15] #368 closed, assigned to nobody

[2021-04-21 22:21] gcheadle-vmware commented on #269
Release v0.32.0 cut, closing issue.

[2021-04-21 22:21] #269 closed, assigned to cari-lynn, gcheadle-vmware

[2021-04-21 22:22] gcheadle-vmware commented on #348
ytt v0.32.0 cut, closing issue.

[2021-04-21 22:22] #348 closed, assigned to nobody

[2021-04-21 22:27] gcheadle-vmware commented on #296
ytt release v0.32.0 cut, closing this issue.

[2021-04-21 22:27] #296 closed, assigned to StevenLocke, pivotaljohn, cari-lynn

[2021-04-21 22:28] gcheadle-vmware commented on #292
ytt release v0.32.0 cut, closing this issue.

[2021-04-21 22:28] #292 closed, assigned to StevenLocke

[2021-04-23 13:52] pivotaljohn commented on #117
Noting:
- there hasn't been movement on this for the year
- supporting arbitrary precision integers hasn't been — to date — a design goal

So, let's close this issue for now. If there's renewed interest, we can re-open. 👍🏼

[2021-04-23 13:52] #117 closed

[2021-04-23 16:08] pivotaljohn commented on #18
Noting:
- it's been more than a year since any progress of this issue (and related PRs are long closed/abandoned)
- several useful bits have been harvested, as noted above.

This "discussion" has become inactive (and is most decidedly _not_ in-progress). Closing.

[2021-04-23 16:08] #18 closed

[2021-04-23 18:50] pivotaljohn commented on #355
@pmorch pointed out:

This one is a tad tricky:
- the file is not _completely_ ignored, but made available for use with [`data.read()`](https://carvel.dev/ytt/docs/latest/lang-ref-ytt/#data)... just like any file that does not have a relevant file extension (details in the description of the [`type` file mark](https://carvel.dev/ytt/docs/latest/file-marks/#type)).
- given that the result of the pr

[2021-04-25 13:56] pivotaljohn commented on #14
Delighted to report that with this latest release — [v0.32.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.32.0) ; which includes #324 —  this issue has been resolved.

[2021-04-25 13:56] #14 closed

[2021-04-26 07:11] epk opened #370 "`ytt fmt` does not handle percentage signs"
**What steps did you take:**

[code]

**What happened:**
[code]

**What did you expect:**

[code]

**Anything else you would like to add:**

I think we are not properly escaping `%` in the parser

**Environment:**

- ytt version (use `ytt --version`): ytt version 0.32.0

- OS (e.g. from `/etc/os-release`): macOS 11.2.3 (20D91)

---
Vote on this request

This is an invitation to the community to vo

[2021-04-26 23:08] pivotaljohn opened #371 "Evaluate contained overlay directives when target fragment is missing from "left""
**As a** Configuration Author
**I want** the overlay directives I include within an optional fragment (i.e. `missing_ok=True`) to be evaluated (when the parent of the fragment is not present in the target on the "left", the directives are not being evalutated.
**so that** overlays behave the way I expect, rather than insert a chunk of plain YAML.

---

## 🟢  Main Flow

**Given** an overlay that co

[2021-04-26 23:19] pivotaljohn commented on #343
Note: referred to Slack thread = https://kubernetes.slack.com/archives/CH8KCCKA5/p1617742603193700

So, I'm reading:
- in many cases, @gcheadle-vmware's advice with respect to data values can be _the_ answer to those situations. ✔️
- however, in general, we want the overlay feature to behave differently... and in `@overlay/remove`'s case, the expectation is that it _never_ contributes a fragment o

[2021-04-26 23:21] Birdrock commented on #343
:+1:

[2021-04-26 23:21] #343 closed, assigned to nobody

[2021-04-27 22:11] pivotaljohn commented on #370
Thanks for reporting this bug, @epk.

To be clear, the `%!(NOVERB)` is output from `fmt.Fprintf()`. Which indicates that we're passing the raw string to that function without escaping the `%`, first, as @epk said.

Note that we're doing the proper handling in the `template` command:

[code]

[2021-04-28 18:03] dprotaso commented on #13
In place formatting would be nice :)

[2021-04-28 19:32] pivotaljohn commented on #366
So, we've had a couple of runs at an implementation.

I'm realized that I can be more helpful if I focus my attention less on implementation details and more on API design.
The later is critical because we (rather aggressively) avoid deprecations in Carvel... and a key way to do that is spend the time really gaming out what the _end state_ API looks like (i.e. design broadly) and then implement ju

[2021-04-28 22:29] hanlins commented on #366
Hi @pivotaljohn thanks for the feedback, I think the dot representation makes sense and it seems more intuitive. I like this idea. I think the only thing I would argue is the results for empty values. For instance, if there's no user information in the string, then I would expect `null` instead of `""` as the result.
I've updated my PR, PTAL.

[2021-04-30 22:43] pivotaljohn commented on #320
Rebonjour, @Sly555.

I have good news and bad news.

The good news is that you can absolutely get multi-line output. The bad news is that when it occurs, it can be hard (at times) to find the culprit.  I'll explain:

The YAML library that `ytt` uses favors displaying multi-line strings when the value includes newlines. So, if it can, it _will_ render the output in multi-line format.
However, in so

[2021-05-05 13:58] joaopapereira commented on #338
After this exploration, we create epic #357.
Going to close this issue.

[2021-05-05 13:58] #338 closed, assigned to joaopapereira

[2021-05-05 23:23] gcheadle-vmware commented on #342
In the [`overlay package` in `op.gp`](https://github.com/vmware-tanzu/carvel-ytt/blob/906bfe07cf1aded44f21fbdb501c76f911406fc8/pkg/yttlibrary/overlay/op.go#L24), we convert an interface to AST nodes. However, the  `#@overlay/replace via=lambda l,r: [{"hostname": "db.example.com"}]` is stored in the metas of the node in the AST and is not converted to YAML until later on. Once the overlay apply fin

[2021-05-06 01:07] cari-lynn commented on #342
We talked about splitting this issue up into more than one in order to keep the scope small based on either
1. where the starlark code is evaluated (ie: `#@overlay/replace via=lambda l,r: [{"hostname": 42}]` or just in `#@ ["foo"]
2. What type is return in the starlark code (ie: support collections, then maps)

I also consider this a more advanced use case than other schema stories so far. Data va

[2021-05-06 14:31] cppforlife commented on #320
one trick sometimes i use for finding trailing spaces is to use `json.encode()` within templates or `ytt ... -ojson`. because json is stricter in its typing (requires quotes around strings), it's a bit easier to see trailing whitespace if it shows up.

[2021-05-06 21:31] pivotaljohn opened #376 "Accept DVs in a single plain YAML file/document as the only source of Data Values"
**As a** Configuration Consumer
**I want** to be able to supply my Data Values as a file that contains nothing but a single plain YAML document
_(see [epic](https://github.com/vmware-tanzu/carvel-ytt/issues/381) for core motivations)_

---

### 🟢  Plain YAML file

**Given**
`values.yml`
[code]

**When** I pass that in to the `--data-values-file` flag,
[code]

**Then** I see it printed as _the_ dat

[2021-05-06 21:31] pivotaljohn opened #377 "Accept DVs in multiple *congruent* plain YAML files/documents that merge into the only source of Data Values"
**As a** Configuration Consumer
**I want** to be able to supply my Data Values in _multiple_ files that:
- each contain nothing but _zero or more_ plain YAML document(s),
- and all are of easily mergeable shape.
_(see [epic](https://github.com/vmware-tanzu/carvel-ytt/issues/381) for core motivations)_

where,

"easily mergeable shape" is any "right-side" shape that is known to overlay successfully

[2021-05-06 21:34] pivotaljohn opened #378 "Accept DVs from a plain YAML file in a root library containing Data Values Overlays"

[2021-05-06 21:34] pivotaljohn opened #379 "Accept DVs from a plain YAML file targeting a private library"

[2021-05-06 21:34] pivotaljohn opened #380 "Reject Data Values Overlays when supplied as a Data Values File"

[2021-05-06 21:36] pivotaljohn opened #381 "Accept Data Values as a plain YAML file"
Per [ytt-002 Data Values as Plain YAML](https://github.com/vmware-tanzu/carvel-community/blob/f5213952f6c0b1e36e321236a74bccc1e9fc088f/proposals/ytt/002-raw-data-values/README.md) proposal.

This feature serves two primary classes of users:

**As an** Integrator
**I want** to be able to present _my_ users with a simple YAML-based configuration interface, devoid of any `ytt` adornments (e.g. annota

[2021-05-06 23:05] gcheadle-vmware commented on #345
@jmcshane the ytt arm64 binaries should now be available through our homebrew tap.

[2021-05-06 23:06] gcheadle-vmware commented on #362
All items followed up on, closing issue.

[2021-05-06 23:06] #362 closed, assigned to gcheadle-vmware

[2021-05-07 08:59] lorenzobenvenuti opened #382 "Force quotes"
Hi,

is there any way to force quotes for string values? I understand ytt will enclose a value in quotes when the value can be parsed as a number, or it's prefixed with a "special" character (`#`, `@`, ...), for example:

[code]

Gives

[code]

I have a scenario where a value can be in the form `\d+e\d+` (i.e. `74e3`):

[code]

which gives

[code]

The yaml we're producing is processed by another

[2021-05-07 11:03] StarpTech opened #383 "ytt does not intepret data-value "false" as false in if condition"
**What steps did you take:**

[code]

Everything is interpreted as `true`
[code]

**Environment:**

- ytt version (use `ytt --version`): 0.32.0
- OS (e.g. from `/etc/os-release`): Ubuntu 20.04

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see

[2021-05-07 20:20] cppforlife commented on #383
--data-value (-v) flag interprets its values as strings. --data-value-yaml interprets its value as yaml, which is the flag you would want to use in your case since you are passing in a boolean. this has been a rough edge for data values because we do not have enough info to decide how to parse intelligently. this will change when we introduce schemas and template authors use schemas to define data

[2021-05-07 20:22] StarpTech commented on #383
Hi @cppforlife didn't recognize `--data-value-yaml`. Thanks 👍

[2021-05-07 20:22] #383 closed, assigned to nobody

[2021-05-07 22:48] pivotaljohn commented on #382
Hey @lorenzobenvenuti. Thank you for the question.

It's a design goal of `ytt` to accept, process, and render YAML structures.

The output from `ytt` of YAML documents is a the Go YAML parser (v2) encoding the result which conforms to the YAML spec.

The spot where strings are encoded checks to see if the value would reliable resolve to a YAML tag and only includes quotes when it is ambiguous:
ht

[2021-05-09 03:08] chenliu1993 opened #384 "[HelpWanted] Cannot overlay file because of "ytt Error: undefined module overlay""
**What steps did you take:**
I am using overlay module together with data-values to generate a yaml file.
**What happened:**
ytt -f . showed
`ytt: Error:
- undefined: overlay`

And the problem part is this line:
`#@overlay/match by=overlay.subset({"kind":"DaemonSet"})`

Interestingly, I use the same content on ytt's playground and there is no issue.

**What did you expect:**
I expected the yaml co

[2021-05-09 03:09] chenliu1993 commented on #384
And there is already
#@ load("@ytt:overlay", "overlay")

[2021-05-09 05:51] lorenzobenvenuti commented on #382
Hi @pivotaljohn,

thank you very much for your reply. I'll try your workaround, my initial idea was to add a trailing `#` to force the quotes but using spaces may be better solution since downstream systems can just trim the string.

Speaking of the YAML spec, I gave a quick look and I see two different regular expressions for floating point numbers:

* `-? [1-9] ( \. [0-9]* [1-9] )? ( e [-+] [1-9

[2021-05-09 18:16] cppforlife commented on #384
can you paste first 5-6 lines of your template?

[2021-05-10 01:27] chenliu1993 commented on #384
sure, here is the content:
**Base File**

[code]

**Overlay File**

[code]

[2021-05-10 04:15] pivotaljohn commented on #366
I think we can sneak in error messages instead of panics... reopening to attach that PR... if it's delayed at all, we can incorporate that into later work.

[2021-05-10 13:12] cppforlife commented on #384
@chenliu1993 hmm, i cant seem to reproduce your problem. i m guessing your file may be has some special character or encoding thats throwing ytt off. --debug has section for ast. can you provide that portion (or just full output of debug)

[2021-05-10 13:44] pivotaljohn opened #386 "Release ytt v0.33.0"
### Release Checklist
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Create an OSM Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#OSM-Release)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ

[2021-05-11 02:17] chenliu1993 commented on #384
Here is the debug output of `ytt -f . --debug`

[code]

[2021-05-11 12:48] pivotaljohn commented on #344
With the rise of the "Plain YAML as Data Values" (#381) feature comes an approach to providing Data Values that is designed to _not_ result in overlay errors.

When _that_ method becomes the _primary_ way to supply data values, this work becomes far less valuable.

For that reason, we've decided to _at least_ defer this work until later: moved to #323 for this reason.

[2021-05-11 12:51] pivotaljohn commented on #342
Per @cari-lynn's note, moved to next Schema epic to reflect reprioritization.

[2021-05-11 13:30] pivotaljohn opened #387 "Accept DVs in multiple *incongruent* plain YAML files/documents that merge into the only source of Data Values"
**As a** Configuration Consumer
**I want** to be able to supply my Data Values in _multiple_ files that each contain nothing but _zero or more_ plain YAML document(s) of any shape.
_(see [epic](https://github.com/vmware-tanzu/carvel-ytt/issues/381) for core motivations)_

---

### 🟢  Intersecting Data Values of the differing shape combine well (replace)

**Given** two documents that contain overla

[2021-05-11 13:59] pivotaljohn commented on #377
In May 10 IPM, we pointed this story as a "3" prompting breaking it down into smaller stories.

Split this story into two:
- #377 scenarios where the structure of the Data Values Files are "congruent" (i.e. easily merge via overlays, today)
- #387 scenario(s) where structures are "incongruent" (i.e. where attempting to overlay results in an error):

Reset pointing to prompt a re-point.

[2021-05-11 16:03] cppforlife commented on #384
[code]

above shows that ytt isnt interpreting `#@ load("@ytt:overlay", "overlay")` as an annotation but as a value of first document. the only way i can reproduce above is by having following template --- note that quotes are wrapping `#@ load(...`

[code]

since you mentioned that pasting content into ytt playground doesnt produce an error, all i can recommend is to delete and retype that line y

[2021-05-11 21:30] pivotaljohn commented on #366
shipped with [v0.33.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.33.0).

[2021-05-11 21:32] pivotaljohn commented on #351
Shipped with [v0.33.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.33.0).

[2021-05-11 21:32] #351 closed, assigned to joaopapereira

[2021-05-12 00:28] #366 closed, assigned to nobody

[2021-05-12 02:01] chenliu1993 commented on #384
Thank you for the help, I did as you suggested and it worked.  There is something that should not appear in the file appears.  Thank you very much!

[2021-05-12 02:01] #384 closed, assigned to nobody

[2021-05-12 03:44] pivotaljohn commented on #382
@cppforlife what's the word on patching the YAML parser?

[2021-05-12 12:56] pivotaljohn commented on #291
Okay, this was released, closing.

[2021-05-12 12:56] #291 closed, assigned to StevenLocke, pivotaljohn

[2021-05-12 12:56] pivotaljohn commented on #333
Released; closing.

[2021-05-12 12:56] #333 closed, assigned to gcheadle-vmware

[2021-05-12 13:45] pivotaljohn opened #388 "~Adjust to Usability Test Feedback~"
- [ ]

[2021-05-13 13:35] cppforlife commented on #382
we use `https://gopkg.in/yaml.v2` (we just happen to vendor it in) so changes like these would have to go through there. i do not think it is a good idea for us to maintain our own yaml spec parsing changes on top of this library.

[2021-05-13 15:37] lorenzobenvenuti commented on #382
Hi, I didn't notice that ytt was "embedding" some code from `gopkg.in/yaml.v2`. Anyway I see that the latest version of `gopkg.in/yaml.v2` is using a different regexp to resolve a float:

* [gopkg.in/yaml.v2](https://github.com/go-yaml/yaml/blob/7649d4548cb53a614db133b2a8ac1f31859dda8c/resolve.go#L84)

[code]

* [ytt](https://github.com/vmware-tanzu/carvel-ytt/blob/b4a5e57e0b7b6d2d27edd857f8c8d390

[2021-05-14 10:41] kieron-dev opened #389 "Documentation incorrectly instructs user to use `struct.encode()` to collect groups of functions."
## Scope
Please fix the referenced documentation so that users are instructed to use `struct.make()` rather than `struct.encode()` as the former is suitable for structs holding values of _any_ type while the latter only holds primitives.

---
## Original report

**What steps did you take:**
Along the lines of [collection-of-functions](https://carvel.dev/ytt/docs/latest/lang-ref-ytt-struct/#example

[2021-05-14 11:00] kieron-dev commented on #389
I've just seen the alternative method for doing this in the FAQs: https://carvel.dev/ytt/docs/latest/faq/#can-i-load-multiple-functions-without-having-to-name-each-one. Using `struct.make` rather than `struct.encode` works.

[2021-05-14 11:14] kieron-dev commented on #389
I suggest updating the docs to move the collection of functions example from `struct.encode` to `struct.make`.

[2021-05-14 15:13] aaronshurley commented on #370
This feels like a reasonable `good first issue` to me. @pivotaljohn please correct this if I'm wrong.

We're going to move this to our Unprioritized Backlog at the moment but are open to PRs!

[2021-05-14 17:51] Sly555 commented on #320
Thank you so much ! It's fix my problem. I had some lines with a tralling white space. After removing it the multiline was functionnal.

[2021-05-14 17:55] Sly555 commented on #320
Bonjour @pivotaljohn c'est corrigé !

[2021-05-14 17:55] #320 closed, assigned to nobody

[2021-05-17 21:30] cari-lynn opened #390 "Report clearly which kind of document(s) were unused during an evaluation"
_(significantly edited from original as the code evolved since the issue was first created. However, the overall scope has not changed, just the details.)_

### 🟡  Scenario: Library Reference on Schema does not match any libraries

**given** I have a Schema document targeted to a specific library
**and** no library exists by that name
**when** I run `ytt`
**then** I expect to see an error message

[2021-05-20 18:23] cari-lynn commented on #389
Thanks for making this issue, this is a error in the documentation. `struct.encode()` does not work for functions so the example should be for `struct.make()` just like you suggested. Here's a snippit from the same documentation referenced above that confirms this:

[code]

[2021-05-21 07:09] jcfj commented on #227
Oddly, this can be worked around by `json.decode(json.encode(labels()))`, which struct knows how to deal with...

[2021-05-22 23:15] pivotaljohn commented on #342
During exploratory testing, found that this scenario is more likely than we first believed.

Any time a root library sets data values on a child library, the subsequent `eval()` fails (and does so because of the gap described in this issue).

For example:

Using `ytt` built from `acb019d` (i.e. late-stage `overlay-schema`), when rendering config for `cf-for-k8s`, this error results:

[code]

and I

[2021-05-22 23:19] pivotaljohn opened #393 "Mismatched Type Error omits "found" portion of error message when Data Value's value comes from a Starlark expression"
## Given

[code]

`_ytt_lib/libby/schema.yml`
[code]

`config.yml`
[code]

`ytt` built at `acb019d`  (circa v0.33.0 + `overlay-schemas` branch)

## Undesired Result

[code]
That: there is no `found: ` clause.

## Desired Result

[code]

## Likely Cause

It's omitted by https://github.com/vmware-tanzu/carvel-ytt/blob/3f5901beb5e2fa49723bc80efe8406a052954bc5/pkg/schema/error.go#L100-L102
...because

[2021-05-23 04:03] pivotaljohn opened #394 "Integer Data Value from overlay'ed Starlark expression type checks successfully"
## Acceptance Criteria

**Given** Schema declaring a Data Values as an `int`
**And** a Data Value overlay containing a Starlark integer expression

[code]

`_ytt_lib/libby/schema.yml`
[code]

`config.yml`
[code]

**When** evaluated

[code]

Should succeed.

---
`ytt` built at `acb019d`  (circa v0.33.0 + `overlay-schemas` branch) would produce this output:

[code]

## Context

During exploratory te

[2021-05-23 04:30] pivotaljohn commented on #342
@gcheadle-vmware [noted](https://github.com/vmware-tanzu/carvel-ytt/issues/342#issuecomment-833110994):

I'm nearly positive that the only overlay operation that injects values like this _is_ `@overlay/replace`... would it be enough to ensure that the result from the `via` function is AST?

[2021-05-23 16:12] pivotaljohn opened #395 "Annotate Data Values Schema documents as a definition rather than a matcher"
## Context

Originally, we specified the name of the annotation that marks a YAML document as a Schema was `@schema/match`.

However, it has become clear that:
- the documents being written are far less like Overlays and far more like Data Values: the former maps over an existing structure, where the latter defines one ==> It is also more intuitive for users to define an entity that _is_ a schema

[2021-05-23 18:20] pivotaljohn opened #396 "Polish schema error messages"
## Summary

The four (4) error messages around schema could benefit from:
- wording that is more accessible to a casual user
- formatting that separates and leads the eye to the more important information, first
so that they are easy to read.

## Details

Inspired by:

During exploratory testing — with an eye towards [error message design work from the Rust project](https://blog.rust-lang.org/2016

[2021-05-24 16:06] pivotaljohn opened #397 "Report a warning when private library has no schema"
**As a** Configuration Consumer
**I want to** start using Schema for my libraries _and_ continue to use other's libraries that do _not_ yet use Schema
**So that** I can begin to get the benefits of the feature without having to wait until others have finished doing so.

## 🟡  Warn when no schema present in private library

**Given** Schema feature is enabled
**And** I have a private library that c

[2021-05-24 19:23] pivotaljohn commented on #397
In our latest Community Meeting, @gcheadle-vmware noted that this story becomes unnecessary when:
- we remove the `--enable-experiment-schema` flag
- we merge the feature that in the absence of a schema, provides a completely permissive schema (i.e. document annotated as `@schema/type any=True`.

[2021-05-25 01:02] cppforlife commented on #397
im also -1 on this feature given above comment.

[2021-05-25 01:12] cppforlife commented on #395
so is it going to be `@schema/definition data_values=True`?

[2021-05-25 15:47] #397 closed, assigned to nobody

[2021-05-25 19:25] pivotaljohn opened #400 "Disallow both "any" and "nullable" types on the same node"
# Story

## Context

We want to preserve behavior associated with combining `@schema/...` annotations until a time when we can better appreciate the consequences so as to avoid breaking changes down the line.

In order to do so, we would need to establish that combining these annotation now to be an error case so that users do not rely on them.

## 🔴 Node is annotated with both `@schema/nullable`

[2021-05-25 20:30] cppforlife commented on #400
should we allow schema/type and schema/nullable be present on the same node?

[2021-05-25 21:01] pivotaljohn commented on #400
yes. That's exactly the question. 👍🏼

[2021-05-25 21:03] gcheadle-vmware commented on #400
From the Schemas HackMD, the long form of `@schema/nullable` is:
[code]
So, if we wanted to add to the possible types, for example add 'bool', we would add to the `one_of` list:
[code]
which, if we resubstitute `@schema/nullable`, should be equivalent to:
[code]
---
Another example where disallowing both might get confusing:
We think `@schema/type any=True` could also be represented as
```#@schema

[2021-05-25 23:42] pivotaljohn commented on #162
_...10 months later..._

While we haven't seen others run into this issue, this falls under the category of "you're using the tool well, it's just a sufficiently advanced case that the current implementation didn't account for it."

This bug is relevant to `ytt` — we'd like for authors to be able to `template.replace()` from another module. If a contributor debugged this issue and fixed it, we wou

[2021-05-26 17:13] pivotaljohn opened #402 "Report an error if a Schema is not directed at Data Values"
## Context

In order to preserve the raw `@schema/match` / `@schema/definition` API namespace, we're initially requiring authors to specify that this schema is intended for Data Values.

This is so that in the future, when we want to expand the scope of the Schema feature to be used with templates, etc. We won't have to introduce a breaking change.

## 🟡 `data_values` keyword is omitted

`schema.y

[2021-05-26 23:25] pivotaljohn opened #404 "Playground garbles display when files are removed and added"
**What steps did you take:**

1. Launch Playground
2. Clicked "+ Add File" button twice; added files `config-2.yml` and `config-3.yml`
3. Deleted `config-2.yml`
4. Clicked "+ Add File" button once again.

**What happened:**

![image](https://user-images.githubusercontent.com/12101915/119743859-a081a480-be3f-11eb-8e17-d2b6eb20f90d.png)

**What did you expect:**

![image](https://user-images.githubu

[2021-05-26 23:34] pivotaljohn commented on #404
Fixing this bug can be a great way to learn how the playground code works. Added `good first issue` label.

[2021-05-28 03:19] #394 closed, assigned to DennisDenuto, gcheadle-vmware

[2021-05-28 12:28] pivotaljohn commented on #344
We've recently clarified further the criteria for each pipeline in our backlog.
The probability that this bug will become "won't fix" has increased to the point it shouldn't be considered "carvel accepted" any longer.

For these reasons, moving to "New Issues".

[2021-05-28 12:38] pivotaljohn commented on #162
As @cppforlife indicated above, this issue requires a more in-depth review to determine an approach.

That would likely result in a design discussion. It indicate that this is in a kind of "research" state, labeling this way and moving to "Carvel Accepted" pipeline.

[2021-05-28 13:09] pivotaljohn commented on #308
Which has been broken out into it's own issue: #371

[2021-05-28 13:17] pivotaljohn commented on #343
For those keeping score at home, tracking this class of symptoms as a "bug" first reported in #308.

The work to fix this is in #371.

[2021-05-28 13:33] pivotaljohn commented on #299
This exact issue was also identified in #310.

Since there's developed conversation in _that_ issue, let's use _it_ to drive towards a systemic solution (e.g. one that doesn't require annotations in the case the file is plain YAML).

To keep things clear, we'll call this issue "duplicate", then and merge any further conversation into #310.

[2021-05-28 13:33] #299 closed, assigned to nobody

[2021-05-28 18:06] cari-lynn opened #405 "Annotating a schema node with a null value as "nullable" causes panic (and mayhem)"
## Acceptance Criteria:
Error when assigning values to null in schema, unless annotated as `@schema/type any=True`.

### Scenario 1 (currently working on develop)

**Given**
`config.yml`:
[code]
`schema.yml`:
[code]
when executing `ytt -f . --enable-experiment-schema`
**Desired/Current Result:**
[code]

### Scenario 2

**Given**
`config.yml`:
[code]
`schema.yml`:
[code]
when executing `ytt -f . --

[2021-05-28 22:25] pivotaljohn commented on #405
I was able to reproduce.

In fact, with that schema and _any_ attempt to set the value to anything but `null` yields this panic.

Note: using a `--data-values...` without the `-yaml` suffix means that the input will be interpreted as a string. So, in the reporting example, nothing gets set to `"null"`.

So:

[code]
All result in:
[code]

But:

[code]

All panic in the way the bug report describes.

[2021-05-28 22:48] pivotaljohn commented on #405
For prioritization:
- to get here, the author needs to provide both `null` as the value _and_ annotate the node as `@schema/nullable`. I suspect this situation will be very rare.
- the workaround is cheap: the author simply provide a non-null value in the schema.

For relevance:
- regardless of how we ultimately solve this, we don't want a panic ==> carvel accepted.

[2021-05-29 00:03] pivotaljohn commented on #405
In terms of consistency within the type system:
- I can't see any practical uses for a variable that is a constant that can only be the value `null`.
- we've already indicated that `null` is not allowed as a value in schema because no type information can be inferred from it.
- the only case when `null` as a value seems to make sense to me is when that same node is `@schema/type any=True`.

My rec

[2021-05-29 00:20] pivotaljohn commented on #381
@cppforlife please review the connected stories for acceptance criteria around documentation.

[2021-05-29 02:50] m0un10 opened #407 "Stop supporting optional `tag:yaml.org,2002:bool` to ease adoption for GitHub Actions Workflow templating"
**What steps did you take:**
Using `on: ` in a yaml file

**What happened:**
The `on: ` was replaced with `true: `

**What did you expect:**
As `on: ` is a valid field it should not have been converted to true

**Anything else you would like to add:**
This is very strange and impacts the ability to create templates for github actions.

**Environment:**

- `0.33.0`

[2021-05-31 15:36] pivotaljohn commented on #407
Hey Craig.

Yes, this is an irritating behavior from what was intended to be an optional part of the [YAML 1.1 spec](https://yaml.org/type/bool.html).

👉🏻 An immediate workaround is to make such values explicitly strings by surrounding them in quotes:

[code]

...

Now, this was corrected in the [YAML 1.2 spec](https://yaml.org/spec/1.2/spec.html#id2803629).

However, the current version of the Go

[2021-05-31 18:02] pivotaljohn commented on #327
Right this moment, this issue describes two possible pieces of work:
- document the current limitation (and workaround)
- investigate and (possibly) restore the ability to include embedded spaces within multi-line strings.

Let's:
- [ ] fork off the former into a separate issue
- [ ] firm up the criteria for fixing this issue in this story

[2021-05-31 18:10] pivotaljohn commented on #325
Getting to actionable acceptance criteria:
- [x] identify all the places where this category of error occurs (i.e. anywhere an annotation is detected on a node type that doesn't support it).
- [x] establish a general format for such error messages that incorporate the insights shared in this issue.
- [ ] edit the description of this issue, turning it into a clear story to revise this class of erro

[2021-05-31 18:22] pivotaljohn commented on #151
Q1: Is there any reason to not establish and maintain the invariant that the AST _always_ be a composite of `Node`?

Q2: what are the consequences of defining the "source line number" of such values to be the line where the `template.replace()` itself injects the new node(s)?

[2021-05-31 18:49] pivotaljohn commented on #310
FWIW, at least in this specific Tekton case, this was resolved for users on the source side: tektoncd/pipeline#3842

[2021-06-01 08:52] StarpTech opened #408 "Kubernetes VSCode extension resource schema validation"
**Describe the problem/challenge you have**
Working with comments has its drawbacks. The [Kubernetes extension](https://github.com/Azure/vscode-kubernetes-tools) for vscode marks all YAML values with only `#@` as invalid.

![image](https://user-images.githubusercontent.com/1764424/120294719-c509d080-c2c6-11eb-9ac3-e23f8348c5a7.png)

**Describe the solution you'd like**

- Ship a custom vscode exte

[2021-06-01 16:30] gcheadle-vmware opened #409 "[ytt playground] Add searchable tags to examples and example sets"
**Describe the problem/challenge you have**
When using the playground, I have to load an example to see the contents. Since the titles of certain examples can be misleading, searching by hand for the example I want is challenging.

**Describe the solution you'd like**
Add a search bar for the playground. This search bar would filter out examples based on the contents of the example, or the tags th

[2021-06-01 18:20] pivotaljohn commented on #402
Reviewing for other ways to preserve the overall namespace and have a less complex notation for schemas directed at data values.

e.g.
- `@schema/data_values`

[2021-06-01 20:53] tylerschultz opened #410 "JSON can be encoded to multi-line string with configurable indentation"
**Describe the problem/challenge you have**

I have a yaml value that is a a pretty print, multi-line, JSON string. When I decode that JSON value, modify the json struct, then encode it back to a string, it loses it's multi-line pretty print and is one lined. This makes it visually difficult to compare to the original JSON string.

[code]

**Describe the solution you'd like**

I'd like the JSON mo

[2021-06-01 21:04] pivotaljohn commented on #410
API is a good starting point.

I'm diggin' the opt-in nature of this signature @tylerschultz suggested:

[code]

"pretty" can be in the eye of the formatter, so being more specific is also appealing to me. As is the ability to specify the actual indent size.

Would `indent=0` mean JSON on a single-line (i.e. equivalent to not specified)? or multiple lines with no indentation (specifically flat)?

[2021-06-01 21:05] pivotaljohn commented on #410
This issue points to a known need, extends the `ytt` library in a rather standard way, and articulates a generalized solution ==> "carvel accepted"

[2021-06-01 23:09] gcheadle-vmware commented on #325
## Story
There are certain annotations in ytt that are allowed only when placed on a specific type of the node. Currently, these annotations are:
- annotations that apply only to documents: `@data/values` and `@data/values-schema`
- annotations that apply only to array items:`@overlay/insert`

The goal of this story is to establish a consistent error scheme when one of these annotations is found o

[2021-06-01 23:48] gcheadle-vmware commented on #327
## Story
---
White space stored in starlark multi-line strings should be preserved.

**Given** a template calling function that returns a multi-line starlark string:
[code]
when executing `ytt -f .`
**Undesired Result:**
[code]
**Desired Result:**
[code]

[2021-06-02 16:23] pivotaljohn commented on #340
Realized we didn't include documentation effort in this story... reset the points and adding details...

[2021-06-02 17:00] #393 closed, assigned to gcheadle-vmware

[2021-06-02 17:10] pivotaljohn opened #413 "Release ytt v0.34.0"
### Release Checklist
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Generate-Binaries-and-Checksum)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-the-Release-Notes)
    - [x] [Create a Github release](https://hac

[2021-06-02 18:03] pivotaljohn commented on #393
Released: https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.34.0

[2021-06-02 18:03] pivotaljohn commented on #394
Released: https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.34.0

[2021-06-02 18:04] pivotaljohn commented on #315
Released: https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.34.0

[2021-06-02 18:04] #315 closed, assigned to DennisDenuto, pivotaljohn, gcheadle-vmware

[2021-06-02 18:04] pivotaljohn commented on #294
Released: https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.34.0

[2021-06-02 18:04] #294 closed, assigned to DennisDenuto, cari-lynn, gcheadle-vmware

[2021-06-02 19:09] james-pollard-leapyear commented on #381
Hey y'all,

I'm trying to track what came in with the latest release and I'm having trouble following how #398 implements this proposal, while there are still the 6 unclosed referenced in the description for this issue.

Some clarification would be greatly appreciated!

[2021-06-02 22:00] pivotaljohn commented on #284
Great work, @cari-lynn! and what timing: was requested today: https://kubernetes.slack.com/archives/CH8KCCKA5/p1622657376278100

[2021-06-02 22:00] #284 closed, assigned to cari-lynn

[2021-06-02 22:40] tylerschultz commented on #410
I'm interested in working on a PR. LMK if there's anything to discuss.

[2021-06-03 03:08] pivotaljohn commented on #410
Fantastic! Thanks for raising your hand, @tylerschultz.

"Acceptance Criteria" that come to mind:
- callers who omit the `indent` kwarg should continue to get the exact same behavior (encoded to a single line string)
- let `indent=0` yield a multi-line encoding with no indentation.
- it's an error to supply an unknown kwarg (helps avoid subtle errors like misspelled kwarg name)
- let's mitigate [C

[2021-06-03 03:09] pivotaljohn commented on #410
Above criteria sets a reasonably defined scope ==> "ready for dev"

[2021-06-03 03:17] pivotaljohn commented on #410
@tylerschultz
Please do let us know if you _do_ pick this up, so we can mark this "story" as "in progress".

Regarding PR modes:
- we interpret "Draft PRs" as an invitation for design-level feedback only.
- we reserve finer-grain and "nit picks" for when a PR is "ready".

[2021-06-03 03:30] pivotaljohn commented on #408
At first blush, I see this as in the impedance mismatch of interpreting a template as a document. A problem I believe would be categorically solved with #217.

That is, `ytt` templates are a kind of "expression" that when evaluated results in a target document. It helps me to consider flow control type directives (for loops, if statements, functions that return YAML fragments, etc.) to see things

[2021-06-03 03:36] pivotaljohn commented on #408
This issue outlines a clear gap in the developer UX. This is something we definitely want to improve. ==> "carvel accepted"

[2021-06-03 03:37] pivotaljohn commented on #408
Given that LSP implementations are not trivial (and it's not actually entirely clear that it _would_ work well with other extensions), there may be a way to at least improve the experience within vscode (or other major editor) in some other way.  For this reason labeled for "discussion"

Also, we may be able to identify increments of improvement. For example, it might be possible to approach "teac

[2021-06-03 03:41] pivotaljohn commented on #409
We've received countless reports of users learning themselves on `ytt` largely on the examples. Adding the ability to search the contents of examples means (at least) two things:
1. we can add more examples / example groups with less concern about overwhelm, knowing that the examples are searchable
2. users can pin-point examples faster which could improve their productivity with the tool.

==> "c

[2021-06-03 03:45] pivotaljohn commented on #409
Questions to initiate elaboration:

Q: What would the UX be? would non-matching examples fade to grey? would they be eliminated? would the display of examples switch from groups to a list of matches?
Q: Should searches be deep-linkable / sharable?
Q: Should this feature be available through the `website` command?
Q: What's possible with off-the-shelf embedded text search libraries? How does that c

[2021-06-03 04:30] pivotaljohn commented on #381
The feature is implemented and included as a "pre-release" in v0.34.0. However, these stories have unmet acceptance criteria around updating documentation. Once that work is done, we can consider the feature released.

We didn't make that clear in the release notes. Sorry for the ambiguity.

The `ytt` fanatic will note that there's scope identified in the proposal required to push this more user-f

[2021-06-03 13:55] mcwumbly commented on #410
Some longwinded support for your proposed acceptance criteria:

👍  fwiw, this is what in python's, [`json.dumps`](https://docs.python.org/3/library/json.html) does. (JavaScript's [`JSON.stringify`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) does not multi-line when "space"  is `0`). In any case, this seems like an edge case that will be used ra

[2021-06-03 16:50] tylerschultz commented on #410
@pivotaljohn Please consider this PR picked up.

[2021-06-03 18:52] james-pollard-leapyear commented on #381
Gotcha - thanks for the wonderful explanation, as always 😁 👋🏽

[2021-06-03 19:37] pivotaljohn commented on #410
That's a perfect source of inspiration, here, given Starlark's lineage. Thank you. And that read is on the money.

Yup, I was thinking along the same lines. Like, what exactly are you doing if you need more than 4 spaces for indentation? I don't mean to sound snarky, if it's legit, I'd love to know!

I can tell you exactly... lemme look that up in my zettelkasten.... right...

So, about a month ag

[2021-06-03 20:49] pivotaljohn commented on #410
@tylerschultz + @mcwumbly, re: documentation.

Yes, please:
1. remove the TODOs from your PR to carvel-ytt. 👍🏻  And feel free to use this, here, issue to discuss scope, tasks, ... anything around getting to "done".
2. make a PR into https://github.com/vmware-tanzu/carvel.dev/pulls with your update. For now, simply including a few more examples is sufficient — enough to let readers know the feature

[2021-06-03 21:03] DennisDenuto opened #417 "Populate missing info during schema error messages"
# Summary

Schema type checking errors that do *not* use a yaml file as a data value result in confusing error messages.

The confusion lies due to the error message 'missing' information (such as a file name, line number, and contents on the line number) to print within the 'diff' section of the error message.

This is a follow on story from https://github.com/vmware-tanzu/carvel-ytt/pull/411

#

[2021-06-03 22:29] #377 closed, assigned to cppforlife

[2021-06-03 22:29] #378 closed, assigned to cppforlife

[2021-06-03 22:29] #379 closed, assigned to cppforlife

[2021-06-03 22:29] #380 closed, assigned to cppforlife

[2021-06-03 22:29] #381 closed, assigned to cppforlife

[2021-06-03 22:29] #387 closed, assigned to cppforlife

[2021-06-03 22:29] #376 closed, assigned to cppforlife

[2021-06-03 23:17] #344 closed, assigned to nobody

[2021-06-03 23:35] pivotaljohn commented on #417
The current state of those error messages are very unhelpful. Most definitely something we want to address (and ideally right away) ==> "carvel accepted"

[2021-06-03 23:43] pivotaljohn commented on #417
I see this work being handled in two parts:
1. where any values injected via a replace need to be fully converted to AST.
    - I'm pretty sure that the `template.replace()` line is the closest we can get to attributing a line-of-source for the value... otherwise, we'd have to analyze the Starlark program AST and somehow determine where a given value was added to a collection (or something?)
    -

[2021-06-04 00:15] pivotaljohn opened #418 "Set the Data Values on a library a la `--data-values-file`"
**Describe the problem/challenge you have**
I want to be able to set the data values of a library with the same semantics as the `--data-values-file` flag from the command-line.

Specifically, I want the array values I pass in to _replace_ (not append) to the array values in the data values defined in the library.

**Describe the solution you'd like**
A function on the `@ytt:library` instance that

[2021-06-04 12:59] malcolm061990 opened #419 "Working with values in yaml blocks"
Hi all!
Thank you for your perfect project :)
But I can't understand how to assign values from ytt data in yaml blocks.
Here what I have:
[code]

[code]

Launched ytt:
[code]

 I want to see `environment: qwer` instead of `environment: #@ data.values.FILEBEAT_ENVIRONMENT` but for some reason this value can't be parsed :(
Please, help

[2021-06-04 22:56] gcheadle-vmware commented on #419
Hi @malcolm061990,

I believe what you are looking for is text templating: [playground](https://carvel.dev/ytt/#example:example-text-template), [docs](https://carvel.dev/ytt/docs/latest/ytt-text-templating/).
Your scenario has been discussed before in #320, so we'll call this issue "duplicate" and close it, if you have any further conversation let's reopen and proceed in #320.

This [data values +

[2021-06-04 22:56] #419 closed, assigned to nobody

[2021-06-06 00:48] jessehu commented on #381
Hi @pivotaljohn does it mean `-f` only accepts a yaml with `#@data/values` , and `--data-values-file` only accepts a plain yaml without `#@data/values`? Is it possible `--data-values-file` also support `#@data/values` by removing `#@data/values` when reading the data values yaml file? I'm wondering if there could be any breaking changes when upgrading/migrating from the old way `-f` to new way `--

[2021-06-06 16:33] pivotaljohn commented on #381
Hey @jessehu. It might help to think of this less as "the new way" and more as "another way" at this point.

`ytt` will continue to support accepting Data Values Overlays (i.e. documents annotated with `@data/values`). It's just that it now also has an API for supplying raw YAML for Data Values.

With this context, there will be no breaking change. Just another option.

That said, the hope is to m

[2021-06-07 10:27] pnsantos opened #420 "Text templating `(@= ... @)` whitespaces and strict parsing"
Not sure this is a bug or a limitation but when using text templating to build a YAML key it seems like you cannot have _any_ whitespace whatsoever within the `(@= ... @)` expression if strict parsing is enabled.

It seems unexpected since it would make more sense for the value within `(@= ... @)` to be evaluated _before_ checking the YAML validity

The [docs](https://carvel.dev/ytt/docs/latest/yt

[2021-06-07 14:37] pivotaljohn commented on #402
Given the change in the annotation that marks a document as Data Values schema ... that it does not required a keyword argument... this story is no longer necessary/valid.

Closing.

[2021-06-07 14:37] #402 closed, assigned to nobody

[2021-06-07 15:22] pivotaljohn commented on #408
@StarpTech, I meant to include this in the original reply to this issue: thank you. 🙏🏻   We really appreciate you pointing out (with screen shots) where there's a bad experience. 👍🏻

[2021-06-07 15:36] pivotaljohn commented on #382
_(apologies for the delay, @lorenzobenvenuti)_

Well this makes it all very interesting. 😄

Okay, and so we're tacking to a conversation about upgrading to the id'ed version of the Go YAML v2 package that contains this modified regular expression.

To make progress on this idea, we'd need to:

- [x] determine the exact version of gopkg.in/yaml.v2 we've embedded in `ytt`
- [x] determine the exact v

[2021-06-07 15:37] pivotaljohn commented on #382
For the immediate term, @lorenzobenvenuti, is one of the currently identified workarounds "sufficient" for the case?

[2021-06-07 15:45] lorenzobenvenuti commented on #382
Yes, thanks!

[2021-06-07 17:45] pivotaljohn commented on #340
On second thought, the only real needed documentation change is removing mention of the flag. We can capture the other documentation improvements in a subsequent story.

I'll revert to the team-agreed estimate with the one documentation task of removing mention of the flag.

[2021-06-07 17:56] pivotaljohn opened #421 "Guide both Authors and Consumers in their use of Schema"
**As a** Configuration Author
**I want** it to be obvious/unambiguous that I should be using Schema files (not Data Values files) to declare the variables I use in my templates

**As a** Configuration Consumer
**I want** it to be obvious that I should _confer_ with schema files from the library I'm using and write my own Data Values files when I'm customizing my `ytt` invocation.

---

For example

[2021-06-07 18:10] pivotaljohn opened #422 "Include how Schema as part of "How It Works""
**As a** new `ytt` user
**I want** to see where and how Schema are part of how `ytt` works
**so that** I know when and how I'd likely use that feature.

---

Including...
- add schemas in the top-level diagram as a separate group of "input file"s.
- add a new section to describe schema files.
- expand the work described in "Calculate Data Values" step to start with using the defaults from schema.

[2021-06-07 21:07] cppforlife commented on #418
some api alternatives:
- version library.get method (e.g. library.get_v2)
- version library module (e.g. @ytt:library2)
- add keyword argument to with_data_values(..., plain=True)

[2021-06-08 07:46] malcolm061990 commented on #419
Thank you! Now it works :)

[2021-06-08 13:26] pivotaljohn commented on #420
👋🏻 @pnsantos.

Solution options first: the best way forward would be to surround the key with quotes:

[code]
_(fwiw, single quotes work too.)_

As you've noticed, you can eliminate spaces in the expression as well (I personally would find it a bit hard to read).

...

So, what's going on here?

Turns out, `ytt` is behaving as it was designed. That design is to operate on YAML from _within_ the st

[2021-06-08 13:30] pivotaljohn commented on #325
Thanks for the detailed acceptance criteria, @gcheadle-vmware. 👍🏻  ==> "ready for dev"

[2021-06-08 13:43] pivotaljohn commented on #410
Created requested PR into docs. 👍🏻

[2021-06-08 13:58] pivotaljohn commented on #418
Yes... better decisions through a greater diversity of options.

I had a visceral reaction to versioning. :) That's some serious interface complexity... would need to be worth it.

I'm fond of the additive `plain` keyword on _this_ version of `@ytt:library`. That said, I see how sweet it would be if `@ytt:library` mirrored the CLI. 🤔

[2021-06-08 15:56] pnsantos commented on #420
:+1:  Only reason I reported was just in case it was unintended but your explanation makes sense. Using the quotes does mess with the highlight colours of vscode-ytt but having the spaces is definitely an improvement on readability.

The arguments in favour of the current behaviour and against changing it make perfect sense. Thanks for taking the time to explain!

:+1: perfectly ^_^

[2021-06-08 15:56] #420 closed, assigned to nobody

[2021-06-08 17:42] pivotaljohn commented on #407
Floating this:
1. https://yaml.org/type/bool.html — is an _optional_ portion of the YAML 1.1 spec (and _removed_ in the YAML 1.2 spec)
2. the implementation of which in the current version of the Go YAML Package used in `ytt` is isolated to an initializer.[1]
3. as noted above, there are legit use cases for same strings (e.g. `on`) _as strings_.
4. I have yet to see someone seriously use these ali

[2021-06-09 18:46] cari-lynn opened #423 "Adding an empty data values to a library removes that libraries' data values"
**What steps did you take:**
Adding empty data values to a library with existing data values is successful on v0.31.0 but when updating to v0.32.0, it now reports an error.

[code]

`config.yml`
[code]

`_ytt_lib/library/config.yml`
[code]

`_ytt_lib/library/values.yml`
[code]
**What happened:**
(v0.32.0+) When the data values that are defined in the library are used in that library, ytt cannot fi

[2021-06-09 21:46] pivotaljohn commented on #423
Thanks for the succinct reproduction, @cari-lynn, this is very clear. 👍🏻

This is undesirable behavior. I'm wracking my head to think of a case where we'd want Data Values to be actually `null`/`None` and not just empty. Gonna chew on that, myself.

In the meantime, this is decidedly a regression ==> "carvel accepted"
And you reproduced the defect ==> "can be replicated"

[2021-06-09 21:59] pivotaljohn commented on #386
OSL file in hand. Requesting TanzuNet Admins to make product mutable: https://vmware.slack.com/archives/C055G2ZGW/p1623274217086600

[2021-06-10 00:13] cari-lynn opened #424 "Nested array in a schema has a default value"
**What steps did you take:**

Given a schemas file that has an array item that is a map of at least two map items. One of those map items is a map, with the value of an array.

Combined with a data values file that only provides one map item (essentially allowing the nested array's defaults to be filled in).

Using this schema:
[code]
and this data values:
[code]
Run `ytt -f values.yml -f schema.y

[2021-06-10 00:44] pivotaljohn commented on #423
This is a regression with known impact. There's a work around (where authors can defensively perform a null/None check), but we don't want that to proliferate.

Let's get this in for v0.35.0 ==> "Prioritized Backlog"

[2021-06-10 20:51] pivotaljohn commented on #386
Product record updated with OSL file and released.

[2021-06-10 20:51] #386 closed, assigned to pivotaljohn

[2021-06-10 20:51] #413 closed, assigned to pivotaljohn

[2021-06-11 05:13] cppforlife opened #426 "time module"
**Describe the problem/challenge you have**

even though ytt does not have access to current time, it's handy to be able to work with date/time formats. for example i'd like to parse two iso8601 timestamps, compare them or increment/decrement them.

Example of a timestamp i'd like to work with (from k8s): `creationTimestamp: "2021-06-11T05:00:49Z"` and want to be able to add/substract durations (a

[2021-06-11 17:17] cari-lynn commented on #408
Thank you for bringing this to our attention, we do have a custom [VSCode plugin](https://github.com/vmware-tanzu/vscode-ytt), but it doesn't solve the problem you described. We do want to improve this experience however, and are always taking contributions.

[2021-06-11 18:17] pivotaljohn commented on #426
Is this specifically about `ytt` templates being able to parse strings into `time.Time`?

Or are you thinking that this involves plumbing through https://yaml.org/type/timestamp.html .  Meaning that if a timestamp is specified in say a Data Value (with the `!!timestamp` tag), it would populate in `data.values` as a Starlark wrapper for `time.Time`?

[2021-06-11 18:19] pivotaljohn commented on #426
This is certainly in scope for what `ytt` aims to do. Reads like a valuable (if general) use-case. ==> "carvel accepted"

We're chatting about scope on this. ==> "discussion"

[2021-06-11 19:12] blc1996 opened #429 "Unable to merge data values into private library when they contain values not declared in the private library"
**What steps did you take:**
TLDR: The annotations like `#@overlay/append` `#@overlay/match-child-defaults missing_ok=True` are ignored when applying data values to ytt lib using
[code]

The folder structure is like:
[code]
*config/foo.yaml*
[code]

*config/_ytt_lib/foo/values.yaml*
[code]

*config/values.yaml*
[code]

**What happened:**
When using ytt
`ytt --ignore-unknown-comments -f config`

Go

[2021-06-11 20:30] pivotaljohn commented on #429
Thanks for reporting this, @blc1996. What version of `ytt` are you seeing this with?

[2021-06-11 20:31] m0un10 commented on #407
Until this is resolved in the upstream, I've at least got a workaround based off @pivotaljohn 's suggestion
[code]

[2021-06-11 20:32] m0un10 commented on #407
sorry, I accidentally closed it (so re-opened it). I was just going to leave a comment to say that commenting out line 42 and rebuilding gives me a way forward for templating github actions workflows. It would be great if the aggressive bool tag renaming got removed in a future release though!

[2021-06-11 20:58] cppforlife commented on #426
this. definitely not the other. also time.Duration.

[2021-06-11 22:18] tylerschultz opened #430 "ParseIP and ParseCIDR"
**Describe the problem/challenge you have**

I would like to assert on the ipv4ness or ipv6ness of IPs and CIDRs so that an IPv4 CIDR or address is not passed where an IPv6 address/CIDR is required.

**Describe the solution you'd like**

We propose a `net` module that starts off with `net.parse_ip` and `net.parse_cidr`

net.parse_ip("192.168.0.2", return_error=True) => (ip or None, err_msg_string

[2021-06-11 22:23] cppforlife commented on #408
would be nice to do a PR to https://github.com/Azure/vscode-kubernetes-tools to not consider it as error.

[2021-06-11 22:26] cppforlife commented on #408
ahhh. that's interesting. the error is actually not about the comment -- take a closer look at the squiggly. it's saying that replicas value is null and it should be an integer (according to k8s schema). hmm this is a tougher problem to solve since you are effectively deciding not to provide a value.

[2021-06-14 14:00] pivotaljohn commented on #429
I believe this issue was resolved in a separate channel.

@blc1996, if I am mistaken, please comment here to re-open this issue.

[2021-06-14 16:28] pivotaljohn commented on #405
It's worth taking a run at this if it's not too much of a change. ==> "Prioritized Backlog"

We've achieved rough consensus on an approach (see last comment).

[2021-06-14 22:56] pivotaljohn commented on #424
**Note:** at this time, we are aiming for GA. The probability or impact of this bug is such that we _could_ accept it as a known issue. We'd (obviously) rather fix it.

If this defect can be addressed in a day or less, let's do it. Otherwise, let's chat about what to do as a team.

[2021-06-14 22:56] pivotaljohn commented on #405
**Note:** at this time, we are aiming for GA. The probability or impact of this bug is such that we _could_ accept it as a known issue. We'd (obviously) rather fix it.

If this defect can be addressed in a day or less, let's do it. Otherwise, let's chat about what to do as a team.

[2021-06-15 18:39] pivotaljohn commented on #1
Adding a comment to demonstrate that GitHub issues have history

This first version includes this: SUPER CONFIDENTIAL SECRET.

[2021-06-15 18:41] cari-lynn commented on #423
The fix for this will be available in the next release v0.35.0. An empty data values is a `struct` once again rather than `None`.

[2021-06-15 19:26] pivotaljohn opened #432 "Add example to illustrate using text templating to set key of a map item"
## Acceptance Criteria

**As a** ytt user looking at the playground
**I want** to see an example about data values as keys that uses text-templating, with a descriptive title.

**As a** ytt user looking at the docs
**I want** to search the docs for "text templating", "Data Values as Keys", "Using Data Values in map", or "Using Data Values in dictionary", and see a result pointing to a FAQ response

[2021-06-15 22:25] pivotaljohn commented on #407
Okay... I suspect no one is using any of the synonyms.

To avoid confusion, I'm suggesting that we support _none_ of the synonyms.

Not:
- `on`/`On`/`ON`
- `off`/`Off`/`OFF`
- `y`/`Y`/`yes`/`Yes`/`YES`
- `n`/`N`/`no`/`No`/`NO`

and only support the true/false variants:
- `true`/`True`/`TRUE`
- `false`/`False`/`FALSE`

Querying the community: https://kubernetes.slack.com/archives/CH8KCCKA5/p1623796

[2021-06-16 21:38] tylerschultz commented on #430
On the topic of `net.parse_ip("192.168.0.2", return_error=True)`, it was proposed that it return a Tuple.
Does anyone have an opinion on what the function would return if `return_error=False`? Would it force callers to declare the error variable even though they'd prefer it panic?

[2021-06-17 14:22] pivotaljohn commented on #430
Thoughts on names (just tossing alternatives out there)...
- instead of `net`, perhaps call the module `ip` — rationale: `net` implies to me network connectivity; `ip` is purely about manipulating Internet Protocol data objects.
  - `ip.parse_addr()`
  - `ip.parse_cidr()`
- individual types: `ipaddress`, `ipnetwork` — a CIDR is the notation that describes a sub-network.

In terms of parse failures

[2021-06-17 19:56] cari-lynn commented on #426
Looks like there is a [time module](https://github.com/google/starlark-go/blob/7a1108eaa0124ea025e567d9feb4e41aab4bb024/lib/time/time.go) in starlark-go. Since this was added recently and ytt is using a forked version of starlark we can take this as inspiration. It has
[code]
With ytt being hermetic `now()` is not applicable. I could see a function like `parseTime()` as useful for supporting multi

[2021-06-18 02:33] dprotaso commented on #13
In place would actually be _very_ nice ;)

[2021-06-21 07:09] flutterq commented on #120
All possible working solution [[Solved] IndentationError: unindent does not match any outer indentation level](https://flutterq.com/indentationerror-unindent-does-not-match-any-outer-indentation-level/)

[2021-06-21 18:57] aaronshurley commented on #422
Notes:
- [How it works](https://carvel.dev/ytt/docs/latest/how-it-works/)
- we already have the image (we don't need to recreate it)

[2021-06-22 00:28] davincizhao opened #437 "install kapp in ubuntu 20.04. installing ytt... main: line49 /tmp/ytt: permission denied"
**What steps did you take:**
[A clear and concise description steps and yaml files that can be used to reproduce the problem.]
in root account: get -O- https://carvel.dev/install.sh | bash
**What happened:**
[A small description of the result or the yaml that was generated]
installing ytt...
main: line49 /tmp/ytt: permission denied
**What did you expect:**
[A description of what was expected and t

[2021-06-23 13:52] dprotaso commented on #186
but the last key listed should just override no? I'm guessing there's something in the spec regarding the behaviour

[2021-06-23 15:56] aaronshurley commented on #186
Some additional conversation/context [in slack](https://kubernetes.slack.com/archives/CH8KCCKA5/p1624457827080600).

[2021-06-23 16:10] pivotaljohn commented on #186
Adding to list of issues to review during pre-IPM ==> recommended

[2021-06-23 16:22] pivotaljohn commented on #429
Reported in another channel:

A Zoom session ensued from which came these outcomes ...

ref: #418

[2021-06-23 16:23] pivotaljohn commented on #418
Based on results of #429, recommending as a priority ==> recommended

[2021-06-23 20:47] cari-lynn commented on #429
To add context as to why this is not a bug and is working as intended:

Data value overlay annotations are only used for merging data values files _in the current library_. The annotations are used to merge all the data values files in the current library into one structure using the overlay annotations to create the `data.values` struct. When passing the `data.values` into a library via `some_lib

[2021-06-25 00:02] pivotaljohn commented on #430
This is currently being designed/developed ==> `discussion`

See #433 for that discussion.

[2021-06-25 00:09] pivotaljohn commented on #407
This would addresses #146 (and the many (#189) many (#219) many (#275) subsequent reports of running into this issue).

[2021-06-25 00:12] pivotaljohn commented on #146
#407 outlines an approach to solve this.

Ideally, the older issue remains and the younger issue is closed as a duplicate. In this case, progress has been recorded on #407, so closing this issue as a duplicate.

[2021-06-25 00:12] #146 closed

[2021-06-26 20:51] #67 closed

[2021-06-29 16:20] gcheadle-vmware opened #447 "Explain Schema library function in documentation"
## Acceptance Criteria

**As a** ytt user looking for information about using the schema feature in ytt private library
**I want** to nav to the [library module documentation](https://carvel.dev/ytt/docs/latest/lang-ref-ytt-library/#docs)
**and** see information and examples explaining the `with_data_values_schema()` function.

---
**Describe the problem/challenge you have**
When I nav to the [lib

[2021-06-30 19:32] pivotaljohn opened #449 "Rename `library.with_schema()` to `library.with_data_values_schema()`"
A subtle change wasn't scoped in #395: that it explicit was making room for other kinds of schema, later.

The `@ytt:library` module is a sort of mirroring API to `ytt` as a CLI: what one can specify on the command-line can often (perhaps not always) be useful within the programming environment.

To this end, we shoulda also renamed `library.with_schema()` to be `library.with_data_values_schema()`