[2021-06-30 19:35] pivotaljohn commented on #447
With the realization for #449, pushed that rename through this story, too.

[2021-07-01 23:23] gcheadle-vmware commented on #449
I did not find any note of `with_schema` anywhere in the docs. `with_data_values_schema` will be added in #447.

[2021-07-05 18:11] pivotaljohn commented on #388
Work was done as part of #285. closing.

[2021-07-05 18:11] #388 closed, assigned to nobody

[2021-07-05 18:15] pivotaljohn commented on #421
This work was absorbed as part of vmware-tanzu/carvel.dev#142. Closing.

[2021-07-05 18:15] #421 closed, assigned to nobody

[2021-07-07 18:27] pivotaljohn commented on #340
Reviewed with @gcheadle-vmware.

After review, found some leftover logic that still checked for the presence of schema. Addressing...

[2021-07-07 20:31] pivotaljohn commented on #151
A little backlog grooming: the "discussion" was had in comments on #443.

We'll consider this issue addressed, for now. There remains the question of how feasible it is to more precisely identify the source of a given value when it originates from within Starlark execution. If that need arises, a separate issue can be created to capture it.

[2021-07-07 20:31] #151 closed

[2021-07-08 15:25] aaronshurley commented on #162
We're going to move this to the Unprioritized Backlog for now. We're open to contributions but there will likely need to be some design discussions first. Please let us know if you'd be interested in contributing to this work.

[2021-07-08 15:39] aaronshurley commented on #408
Moving this to the Unprioritized Backlog since we're not going to get to this in the near-term future. This is a great data point to consider in the bigger picture of making the developer experience better.

[2021-07-08 15:44] aaronshurley commented on #426
Moving this to the Unprioritized Backlog for now. Sounds like this is something that would be beneficial but requires a little more design discussion. For now, it's not in our roadmap. Open for contributions.

[2021-07-08 15:48] aaronshurley commented on #432
These additions make a lot of sense. Moving this to the Unprioritized Backlog for now since it might be best to tackle as a part of a larger docs effort. However, if anyone would like to contribute to these changes then we'd be open to them.

[2021-07-08 20:36] pivotaljohn opened #454 "Release ytt v0.35.0"
### Release Checklist
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Generate-Binaries-and-Checksum)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-the-Release-Notes)
    - [x] [Create a Github release](https://hac

[2021-07-08 23:16] #417 closed, assigned to cari-lynn

[2021-07-08 23:16] #340 closed, assigned to pivotaljohn

[2021-07-08 23:17] #449 closed, assigned to gcheadle-vmware

[2021-07-08 23:17] #405 closed, assigned to gcheadle-vmware

[2021-07-08 23:17] #285 closed, assigned to pivotaljohn, gcheadle-vmware

[2021-07-08 23:17] #364 closed, assigned to gcheadle-vmware

[2021-07-08 23:17] #424 closed, assigned to pivotaljohn, gcheadle-vmware

[2021-07-08 23:18] #395 closed, assigned to gcheadle-vmware

[2021-07-08 23:18] #396 closed, assigned to DennisDenuto

[2021-07-09 00:17] cari-lynn commented on #417
There is one bit of work left as part of this: improving error messages for library functions. For example:

`library.get("lib").with_data_values({'foo':'4'}` still reports an error without line numbers. This was a much heavier lift than originally anticipating, so we're splitting it off into a separate story #455 .

[2021-07-09 00:36] cari-lynn opened #455 "Populate missing info during library schema error messages"
# Summary

Schema type checking errors that come from Starlark variables result in confusing error messages.

The confusion lies due to the error message 'missing' information (such as a file name, line number, and contents on the line number) to print within the 'diff' section of the error message.

This story was separated from https://github.com/vmware-tanzu/carvel-ytt/pull/417

# Description

[2021-07-09 16:48] #422 closed, assigned to gcheadle-vmware

[2021-07-11 02:46] wezzman opened #456 "Broken 'ytt website' in Windows v0.35.0"
**What steps did you take:**
I attempted to run `ytt website` both with and without `--redirect-to-https=false` and the default `--listen-addr`.

**What happened:**
`localhost:8080` shows a completely blank screen with no indication that the connection timed out.

**Anything else you would like to add:**
The `v0.34.0` release correctly displays the playground on the same machine.

I believe that t

[2021-07-12 05:33] cari-lynn opened #457 "Generate OpenAPI Schema for Data Values Maps"
### :green_circle: Scenario 1: Convert Inferred Schema with Map and String to JSONSchema

**Given** the following schema exists
[code]

**When** I execute `ytt tools generate schema --type jsonschema -f data.yml`
**Then** I should see on my screen
[code]

---

### :green_circle: Scenario 2: Convert Inferred Schema with Map of Maps to JSONSchema

**Given** the following schema exists
[code]

**When

[2021-07-12 14:49] schmurfy opened #459 "derive data from other data"
I have been looking for a way to make this works:

data1.yaml
[code]

data2.yaml
[code]

config.yaml
[code]

expected output:
[code]

My problem is that on one side I have a value file generated from consul keys which contain the environment name as `envName` and on the other side an ytt template which expect that name to be passed in `some_key.env_name`, I don't really want to update the final te

[2021-07-12 18:27] gcheadle-vmware commented on #459
Hi @schmurfy,

Data values are calculated and stored into the `data.values` struct, prior to templating. In the example you provided above, your [data values files merge together, and `#@ data.values.key1` is not an accessible value](https://carvel.dev/ytt/docs/latest/how-it-works/).

To work around this, you could make envName accessible via function, so it can be called and stored as a data valu

[2021-07-12 19:37] gcheadle-vmware opened #458 "Inconsistent use of the terms 'annotation' and 'directive' in docs"
### Acceptance Criteria

**As a** ytt user looking at the "When should I include a space in my ytt comment?" question in the faq
**I want** to see an answer explaining why some annotations use spaces and some don't.

**As a** ytt user looking at the docs
**I want** to search the docs for "spaces in annotations", "#@ overlay or #@overlay", or "When do include a space in my annotations?", and see a

[2021-07-12 20:12] aaronshurley commented on #423
[v0.35.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.35.0) was released a few days ago. Closing out this issue.

[2021-07-12 20:12] #423 closed, assigned to cari-lynn, gcheadle-vmware

[2021-07-12 22:09] cppforlife commented on #459
can you say a bit more about why you don't want to update existing template. this may help us understand the problem a bit better.

[2021-07-12 22:15] cppforlife commented on #459
(@schmurfy i moved this issue into vmware-tanzu/carvel-ytt)

[2021-07-12 22:48] cari-lynn commented on #456
Hey @wezzman thanks for bringing this to our attention! It's now fixed for the v0.35.0 release.

This was a bug from the new github workflow to automate the release process. Turns out the step which generates the website content for `pkg/website/generated.go` in the [`/hack/build.sh`](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/hack/build.sh) script was left out of the [release workflo

[2021-07-12 23:33] wezzman commented on #456
I can confirm that `ytt website` works in the fixed `v0.35.0` package, although it appears to be the `v0.34.0` playground and lacks the "schema" examples from the hosted playground (aka https://carvel.dev/ytt/#playground).

I don't think the older playground is much of an issue. From my perspective, the main use of the playground is as a nice interactive debugger and development tool. Feel free to

[2021-07-12 23:57] GrahamDumpleton commented on #458
A further specific point of confusion is that the docs state:

Specifically, "they refer to a given node in the tree".

When including Starlark code using ``#@ ``, ie., with a space, it need not refer to a node and so is wrong to say it refers to a node.

For example, a variable assignment at the top of a file.

[code]

So if an annotation is defined as referring to a given node, it is wrong to sa

[2021-07-13 00:46] GrahamDumpleton commented on #458
Looking into this more, one can notionally say a subset of what is Starlark code, ie., with space, can be an annotation against a node. In this specific case you are restricted to the Starlark code being an expression, with the result of the expression being applied to the specific node it is applied against. In this case the annotation is always placed in the position of the value for the node, a

[2021-07-13 01:12] GrahamDumpleton commented on #458
One reason for not using the term directive is that the YAML specification has a concept of directive.

* https://yaml.org/spec/1.2/spec.html#directive//

This states:

It may therefore be wise to not use the term to mean something different in ``ytt`` to avoid confusion.

[2021-07-13 01:53] GrahamDumpleton commented on #458
Summarising how I see things right now, we have the following.

**Annotation Types**

There isn't just one type of annotation, but really multiple. I try and split these up in reference to how they are applied to the YAML and not a higher level purpose.

***Structure Annotations***

Examples of these are ``#@data/values`` and``#@data/values-schema``.

These are applied to a YAML structure starting

[2021-07-13 13:50] schmurfy commented on #459
I created our current pipeline with already existing constraints so first I have terraform creating the cluster and all the low-level entities and then writing some of these config data into consul. After that when deploying an application our pipelines pulls data from multiple places and aggregates them (all data values):
- default-values (from the app itself)
- yaml export of the particular cons

[2021-07-13 17:12] gcheadle-vmware opened #460 "[playground] Add button to create gist from current ytt playground session"
**Describe the problem/challenge you have**
When I am creating an example in the ytt playground, and I want to turn the example into a gist, I have to open a gist and copy paste each file over.

**Describe the solution you'd like**
I would like a button in the playground that copies all files in my playground session into a single new gist.
If I was looking that the [playground example demo](https

[2021-07-13 18:15] cari-lynn commented on #456
Thanks for all your help with this! We have published a patch release v0.35.1 to address this bug. This is the release we recommend is used. Thank you for being patient with us as we iron out our release process.

[2021-07-13 18:15] #456 closed, assigned to nobody

[2021-07-13 23:19] aaronshurley commented on #460
@gcheadle-vmware that's a really neat idea. Out of curiosity, could you share any use cases for when you'd like to reference these saved gists? The reason I'm asking is that maybe this feels like a need because the current examples are not exhaustive enough.

From an implementation perspective, it's a little fuzzy to me how this might work since some GH auth would be needed. If you've thought that

[2021-07-14 01:20] adriens opened #461 "📢 No tweet for `v0.35.1` 🙏 📢"
# :point_right:Context

On each release, I usually use the official Carvel tweet so I can retweet the announce that embeds the release contents, it's a very easy yet powerful to spread the information.

On the latest [v0.35.1](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.35.1), there actually is no tweet (yet).

# 🚀Requested action

- [x] Please tweet the release
- [x] Drop the tweet

[2021-07-14 15:20] aaronshurley commented on #461
Thanks for calling this out, @adriens. Due to the distributed nature of our team, we currently have different folks that cut releases and that post tweets so the timing of these activities doesn't always align immediately. I'll keep this issue open until @microwavables is able to get to this.

In the future, I think this is a great area where we should consider automating :D

[2021-07-14 16:12] aaronshurley commented on #461
Tweeted: https://twitter.com/carvel_dev/status/1415342893305376769

[2021-07-14 16:31] microwavables commented on #461
@adriens please feel free to ping me [on slack](https://kubernetes.slack.com/archives/CH8KCCKA5) directly if a tweet has yet to go out and you are looking for it. :)

[2021-07-14 16:31] #461 closed, assigned to microwavables

[2021-07-14 20:00] adriens commented on #461
You're all doing great, especially for a distributed team...maybe for some on spare/free time.
Thanks for you kind posts.
Now... I only kave to wait for chocolatey to validate the package 😄

[2021-07-14 23:20] aaronshurley commented on #458
@GrahamDumpleton This is all really great elaboration and feedback. Thank you!

I'm going to move this item to `carvel accepted` as we can certainly improve the docs here. Exactly _how_ we do that might be tough without actual changes (i.e. PRs) to review, but this is great fodder for that next step.

This likely won't be prioritized immediately but we'll likely have some dedicated docs time in ou

[2021-07-16 15:18] schmurfy commented on #459
using a function does work well for me, thanks for the help :)

[2021-07-16 15:18] #459 closed, assigned to nobody

[2021-07-16 21:48] gcheadle-vmware commented on #460
The use case that made me think of this feature was helping a user with a ytt question. I had an example cooked up in the playground for the user, but I made a mistake when copying the files to a gist. The button would improve my experience, but it would not make a sizable difference.

I completely agree. I do not have insight into if this is even possible, but if anyone has ideas about implementa

[2021-07-19 16:27] aaronshurley opened #464 "Schemas Lightweight Demo at the Community Meeting"
We recently completed the *major milestone* of delivering schemas, let's show it to folks!

The intention of this demo is to spread awareness by doing a visual walkthrough. Things to consider:
- What are schemas?
- Why should I care?
- How does it work?
- How does this affect my current ytt usage?

**Describe the solution you'd like**
A demo at an [upcoming community meeting](https://hackmd.io/F7g

[2021-07-19 16:51] aaronshurley commented on #455
When estimating, it surfaced that a solution with the line number, file name, and function could be challenging:
- file name and function name: 2 points
- line number, file name, and function (with parameters): 3 points

@cari-lynn will sync up with @cppforlife to determine a suggested approach.

[2021-07-20 17:38] voor opened #465 "Add a handy matcher that allows to check for just key existence"
**Describe the problem/challenge you have**
I want to create an overlay that identifies an array entry by its key and appends to that array entry.  This occurs in kapp-controller with the following:

[code]

This is currently achieved with the following:
[code]

Full example in the ytt playground:
https://carvel.dev/ytt/#gist:https://gist.github.com/voor/02c1d2e2d3c08fe42fd2df7659bc386a

**Describ

[2021-07-20 21:28] #447 closed, assigned to gcheadle-vmware

[2021-07-20 21:38] gcheadle-vmware commented on #465
Thank you @voor for creating this issue. I think a new matcher is a great suggestion, and it feels similar to the [`overlay.map_key()`](https://carvel.dev/ytt/docs/latest/lang-ref-ytt-overlay/#overlaymap_key) matcher function, but with only the matching of key names. It would be great to work out a name for the matcher in this issue, maybe something like `overlay.map_key_name()`, or `overlay.map_k

[2021-07-20 23:43] voor commented on #465
The workaround worked great for my use case (which coincidentally was for another Carvel use case), and this was the first time I'd encountered this scenario.

Either of the suggestions for names (key_name or key_exists) seems great, would love to hear from other folks in the community which name makes more sense to newer users.

Thank you for the speedy response time, I appreciate you and your pe

[2021-07-21 19:13] dmarmugi commented on #63
I found this issue looking for a way to tag my generated files with headers like
[code]

[2021-07-21 23:07] aaronshurley commented on #410
I believe that this issue can be closed out now.

[2021-07-21 23:07] #410 closed, assigned to nobody

[2021-07-21 23:07] aaronshurley commented on #410
I believe that this issue can be closed out now.

[2021-07-21 23:08] aaronshurley commented on #454
Hey @gcheadle-vmware, I noticed that this story is still in-progress since there are some remaining release-related tasks. Could you please take a look at this while John is out?

[2021-07-22 22:23] gcheadle-vmware commented on #454
v0.35.1 fully released. closing issue.

[2021-07-22 22:23] #454 closed, assigned to gcheadle-vmware

[2021-07-23 23:54] gcheadle-vmware commented on #455
After syncing up with @cppforlife we concluded about a few things:
- in library evaluations, there is a [starlark eval error](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/pkg/template/compiled_template_error.go#L55) that is being returned, which contains a stack trace, starlark knows how to report these errors using the stack after they occur
- in oct 2019 there was a [starlark release

[2021-07-26 16:39] gcheadle-vmware commented on #464
Demo given in the July 22nd community meeting: https://www.youtube.com/watch?v=EhA2oF7EAJY&list=PL7bmigfV0EqS1ZxRR1cRd8eqdwQij9Lsa&index=34

[2021-07-26 16:39] #464 closed, assigned to gcheadle-vmware

[2021-07-27 20:29] cari-lynn opened #466 "(placeholder) `@schema/doc` Schema annotation"
### @schema/doc

Sets the text describing the purpose of the node.

[code]

- `documentation` (`string`) — a more thorough description of the node or section that shares the context
  of the node, enumerates the range of possible values, explaining the effects of certain value ranges.
  - often these strings include formatting typography (e.g. HTML or Markdown) to support display of these
    valu

[2021-07-28 07:56] alexander-bruun opened #467 "Is it possible to do string interpolation in YTT?"
Is it possible to do string interpolation in YTT?

Something along the lines of this.

config.yml:
[code]

schema.yml:
[code]

expected result:
[code]

I couldn't find such a example in the playground, so wanted to inquire here if this is possible somehow.

[2021-07-28 07:58] alexander-bruun commented on #467
Never mind, I quickly found the solution after asking:
[code]

I just needed to remove "" then it gave the expected result.

[2021-07-28 07:58] #467 closed, assigned to nobody

[2021-07-29 20:58] kdvolder opened #468 "Allow for file mark tokens within arguments for file marks"
The documentation here: https://carvel.dev/ytt/docs/latest/file-marks/#available-marks

Shows that you can specify file marks on CLI as follows:

[code]

This means that characters such as ':' and '=' have a special meaning in the notation (they are used to separate different 'parts' of the file mark argument. But if we wanted to use these characters in some of those values as well? And yes it is

[2021-07-30 00:42] cari-lynn opened #469 "Generate Description from `@schema/desc` annotation"
**As a** Configuration Author
**I want** to generate an Openapi description key from my configuration annotations
**so that** Configuration Consumers see what the key's purpose is.

---

### :green_circle: Scenario 1: `@schema/desc` annotation creates a `description` key for an map

**Given** the following schema exists
[code]

**When** I execute `ytt -f schema.yml --data-values-schema-inspect -o

[2021-07-31 12:14] voor commented on #63
I don't know if this belongs in here or could be a separate issue, but we're finding ourselves doing more and more stuff like this:

[code]
Which is cutting down on readability pretty significantly, it would be really nice to be able to pull this out into a yaml fragment like we do with non-ytt overlay config files:

[code]

[2021-08-03 16:14] cppforlife commented on #468
it does not today, given that it's very rare use case that was not previously requested. do you have some concrete examples where you are relying on `:`s and `=`s in paths? i think if we ever decide to add support for such characters in paths, then we would probably add --file-mark-json flag that allows to specify such values unambiguously.

current state might still be worth documenting though.

[2021-08-05 08:38] cari-lynn commented on #457
I am closing this story in favor of n issue that combines generating a OpenAPI Schema from the merged Data Values Schema and Data Values files. So there is no need to separate the issues at this time.

[2021-08-05 08:38] #457 closed, assigned to nobody

[2021-08-09 18:50] kdvolder commented on #468
I do not have a specific use case. However we have a tool that wraps YTT and passes options/values from the wrapping tool into YTT to filemarks. The question on how to encode special characters thus came up in that context. As it is now, we just pass the options as is and don't do anything about any special characters in them. That may have unpredictable effects but it seems to be the best that we

[2021-08-12 21:05] gcheadle-vmware opened #473 "Release ytt v0.36.0"
### Release Checklist
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Generate-Binaries-and-Checksum)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-the-Release-Notes)
    - [x] [Create a Github release](https://hac

[2021-08-12 22:21] gcheadle-vmware commented on #455
Closing due to v0.36.0 release.

[2021-08-12 22:21] #455 closed, assigned to gcheadle-vmware

[2021-08-12 22:21] gcheadle-vmware commented on #390
Closing due to v0.36.0 release.

[2021-08-12 22:21] #390 closed, assigned to gcheadle-vmware

[2021-08-16 13:57] mcwumbly opened #475 "Add new `try_to` builtin to the `assert` module to enable handling cases when errors may be expected"
per @pivotaljohn in https://github.com/vmware-tanzu/carvel-ytt/pull/433:

1. add a new builtin to the `assert` module named `try_to` (see endnote 2)
2. that builtin takes one argument: a callable.
3. if the callable fails (i.e. returns an non-nil (Go) `error`), `try_to()` converts that `error` into its string equivalent and returns the tuple `(None, err.Error())
4. if the callable succeeds (i.e. r

[2021-08-17 04:22] gcheadle-vmware commented on #465
Following up on the ytt FAQ, [example included here](https://carvel.dev/ytt/docs/latest/faq/#how-do-i-match-a-struct-based-on-the-presence-of-a-key).

[2021-08-19 09:47] damienleger opened #477 "Add start of document "---" in the beginning of outputed YAML document"
**Describe the problem/challenge you have**
YAML output produced by YTT don't include the start of document `---` in the beginning (first document).

Assuming I generate file-1.yml and file-2.yml with YTT, I'm used to do things like `cat file-1.yml file-2.yml | kubectl apply -f -` but since file-2.yml doesn't start with `---` it doesn't work.

**Describe the solution you'd like**
Either add a flag

[2021-08-19 16:19] pivotaljohn opened #478 "Document/Expose "completion" command in ytt"
Cobra 1.2.0 introduced a feature by which the library automatically includes a shell completion command (for bash, fish, powershell, and z-shell). [docs](https://github.com/spf13/cobra/blob/v1.2.0/shell_completions.md)

Dependabot generated a PR for the upgrade: #451

When that PR is merged, the feature is available: this new command (i.e. `completion`) is automatically added:

[code]

👍🏻

To maxi

[2021-08-19 16:20] pivotaljohn commented on #478
Removed "carvel triage"; we're definitely doing this work.

[2021-08-19 17:54] pivotaljohn commented on #475
Moved to "Done" to increase the change we'll include it in the release notes. Our process for writing release notes includes looking in the "Done" column.

With the PR, template authors can now "catch" errors where they could not before.

As a side-effect, this issue is re-opened. It is — in fact — resolved and completed.

[2021-08-20 17:41] sbvitok opened #479 "deep merge for data values"
Hi!
Can you help me to understand, how to create schema for map where keys can be random and located in separate data/values files ?

For example I have 3 data/values file

file1.yaml
[code]

file2.yaml
[code]

file3.yaml
[code]

how to make ytt to load this files?

[2021-08-20 18:17] aaronshurley commented on #478
Categorizing this as `important-soon` since we think that has a high ROI (little effort, high return).

[2021-08-20 22:15] cppforlife commented on #477
@damienleger i think this is a reasonable change we can make. just have to decide whether we should do it by default. i think we've done something similar for other carvel tools like kbld.

[2021-08-20 23:41] cppforlife commented on #479
these 2 documents should be of help:
- https://carvel.dev/ytt/docs/latest/ytt-data-values/
- https://carvel.dev/ytt/docs/latest/how-to-use-data-values/

when using #@data/values means of specifying values, they are merged via ytt overlay mechanism. first data values configuration acts as a base and all following values are merged on top. see this as an example: https://carvel.dev/ytt/docs/latest/y

[2021-08-21 08:47] sbvitok commented on #479
@cppforlife thx for you answer!
[code]
This is what I was looking for!

schema.yaml
[code]

file1.yaml
[code]

file2.yaml
[code]

file3.yaml
[code]

In this configuration deep merge works perfectly! Thx!

[2021-08-21 16:04] #479 closed, assigned to nobody

[2021-08-23 23:13] cari-lynn commented on #242
The work to include these Chocolatey packages is being discussed and tracked in [this issue](https://github.com/vmware-tanzu/carvel/issues/220). Closing this one.

[2021-08-23 23:13] #242 closed, assigned to nobody

[2021-08-23 23:39] aaronshurley commented on #283
Closing this issue as this epic has been completed.

[2021-08-23 23:39] #283 closed, assigned to pivotaljohn

[2021-08-24 08:39] adriens commented on #242
I'll implement the CI for kapp this week-end.

[2021-08-24 16:45] DennisDenuto commented on #242
Thanks @adriens

I am taking this to mean you are going to do something similar for https://github.com/adriens/chocolatey-kapp that you did for https://github.com/adriens/chocolatey-imgpkg (using appveyor)?

As previously discussed with you, @cari-lynn and I (with your help) are planning on combining the carvel tools into a single repo to contain all the chocolatey files (https://github.com/vmware

[2021-08-24 16:52] pivotaljohn commented on #477
Any tooling downstream from `ytt` ought to accept the optional document start (i.e. `---`) without problem. 👍🏻

I think this should be the default behavior and have the option to disable it should it either break something (e.g. a highly-precise test), or if there's some interaction with a future feature (e.g. if we ever decide to output comments).

[2021-08-24 16:59] pivotaljohn commented on #477
Rationale for priority:
This looks valuable. It's something that we'd definitely support a contribution on. It's not something the core maintainers are committing to do, right now.

[2021-08-24 17:28] pivotaljohn commented on #465
Given how common this use case is, including a matcher function for it — out of the box — seems appropriate.

That said, there are two parts to the solution which starts to read more like a recipe/idiom than "just" a matcher. The second part is marking the newly added key as `missing_ok=True` or `when=0`, depending on the desired behavior.

It makes me start to think this has more to do with a (re

[2021-08-24 17:29] pivotaljohn commented on #465
Priority rationale:

As described seems to provide a lot of value. We'd support a contribution like this. 👍🏻

If someone wants to explore a more generalized matcher (e.g. akin to `subset()` but only matches on the structure of leaves, rather than their values), that is also interesting.

[2021-08-24 17:34] pivotaljohn commented on #460
No question in my mind that this is something that would quite valuable.

There's some work to dig into how to tie into GitHub auth. There may be some lower-fidelity version of this feature that doesn't require the user to supply a token in the browser, but instead provides a payload that can be updated with the token....

Regardless, this issue is a great place to develop ideas around this need.

[2021-08-24 23:08] cari-lynn commented on #478
One suggestion for the docs is to include that `ytt completion zsh --help` tell you the exact command to run. It was a bit  confusing to me at first where to send the output of the command.

[2021-08-26 23:35] jayunit100 opened #480 "Clarify what "data values" are in the docs"
The doc page for https://carvel.dev/ytt/docs/latest/ytt-data-values/ is self referential :)
Also the https://carvel.dev/ytt/docs/latest/how-to-use-data-values/ page seems to reference "Data Values" as a proper qouted term, but doesnt seem to really explain it either.

[code]

Can we have `Data Values`  definition on that page, where we sorta dumb it down... i.e.
It can be a little confusing if you

[2021-08-27 04:35] groundnuty opened #481 "Unexpected anchor behaviour when using functions"
**What steps did you take:**

Input:
[code]

Result:
[code]

Expected:
[code]

Expected according to [limitations](https://carvel.dev/ytt/docs/latest/known-limitations/)
[code]

[Interactive](https://carvel.dev/ytt/#gist:https://gist.github.com/groundnuty/863b0410116a67b4232f6cd318d10fde) reproduction from gist.

**Anything else you would like to add:**
Please explain this unexpected behaviour, as

[2021-08-27 12:55] cppforlife commented on #481
hey @groundnuty, as you found this is one of the known limitations (https://carvel.dev/ytt/docs/latest/known-limitations/); however, we should have probably made more clear that results are "undefined" (instead of providing _some_ example). currently (and that may change) last node that splats the anchor would receive data. for your example:

[code]

tldr -- we should improve docs to clarify that

[2021-08-27 17:15] pivotaljohn commented on #480
_(originated out of this conversation: https://kubernetes.slack.com/archives/CH8KCCKA5/p1630019986016400)_

[2021-08-30 23:08] pivotaljohn commented on #475
There are a sufficient number of side-effects of keeping a completed issue/pr open (e.g. [as described in this conversation](https://kubernetes.slack.com/archives/CH8KCCKA5/p1630077814024900) that we will rely on commit messages to identify new-since-last-release functionality [as proposed in this conversation](https://kubernetes.slack.com/archives/CH8KCCKA5/p1629496448209000).

Closing.

[2021-08-30 23:08] #475 closed, assigned to nobody

[2021-08-30 23:12] pivotaljohn commented on #430
@tylerschultz, @flawedmatrix, and @christianang:

Thank you for all your efforts, here.

[2021-08-30 23:12] #430 closed, assigned to cppforlife, pivotaljohn

[2021-08-31 00:05] #473 closed, assigned to pivotaljohn, gcheadle-vmware

[2021-08-31 18:15] pivotaljohn commented on #480
@jayunit100 here's a sketch: [How to Use Data Values](https://github.com/vmware-tanzu/carvel/blob/1a229852433ba674199ad7a3e7acaa3b744caa12/site/content/ytt/docs/latest/how-to-use-data-values.md) ([diff](https://github.com/vmware-tanzu/carvel/pull/227/files?short_path=5fb7904#diff-5fb7904cecea924fb7c71a5af93f6a3079e6947dbcb6864748ccc71159f880ae))

In what ways could we make it even clearer?

[2021-09-01 19:30] cppforlife commented on #465
i would be interested in seeing overlay.subset() matcher extended to be able to use other matchers within it: e.g. `overlay.subset({"key": overlay.any(), "foo": lambda ...})`

[2021-09-05 00:03] pivotaljohn commented on #382
FWIW, we have done the legwork; @lorenzobenvenuti, the commit you pointed us to was cherry-pick-able _as is_ and we've got a PR (#483) to merge it in.

[2021-09-09 22:16] maxice8 opened #484 "Test failure with go1.17"
**What steps did you take:**
[A clear and concise description steps and yaml files that can be used to reproduce the problem.]
Try to run testsuite with `go test -v $(go list ./...|grep -v yaml.v2)`

**What happened:**
[A small description of the result or the yaml that was generated]
[code]

**What did you expect:**
[A description of what was expected and the yaml that should have been generated]

[2021-09-10 07:25] mhoshi-vm opened #485 "loading data in data/values"
I am trying to do something like the following.

[code]

Of course I have another data yaml file that defines `data.values.tanzunet_username` but i fail with the following.

[code]

I am guessing you cannot `load("@ytt:data", "data")` in a data file, but is this correct and is there any workaround ?

[2021-09-11 11:02] groundnuty commented on #186
any progress on that? I'm attempting to port anchor heavy configurations to ytt and lack support for anchors is making it increasingly complicated

[2021-09-11 20:35] groundnuty commented on #485
I've hit the same block - would appreciate any comment on this.

[2021-09-14 16:54] gcheadle-vmware commented on #485
Hi @groundnuty 👋

You are correct, since you have a data values annotation, `#@data/values`, in the same file that you are referencing other data values, `#@ data.values.tanzunet_username`, ytt will error.

This issue, and a work around has been discussed in a previous thread: https://github.com/vmware-tanzu/carvel-ytt/issues/459
so I am marking this issue as duplicate, and closing. Please reopen

[2021-09-14 16:54] #485 closed, assigned to nobody

[2021-09-17 17:19] pivotaljohn opened #486 "Accept stdin as a "data values file""
**Describe the problem/challenge you have**
I want to supply a plain YAML data values file on "standard input" (aka stdin) to my `ytt` invocation

(ex: https://kubernetes.slack.com/archives/CH8KCCKA5/p1631819726297200)

**Describe the solution you'd like**

[code]
where:
- `generate-data-values` is some process that yields (to stdout) a plain YAML that is suitable as a data values file.
- 🛑 If std

[2021-09-17 21:36] DennisDenuto opened #487 "Unexpected behavior for key named 'on'"
**What steps did you take:**
I was trying to create a template for a github action:

[code]

**What happened:**
ytt -f github-action.yml

results in:
[code]

**What did you expect:**
For the key 'on' to stay as 'on' and not change to 'true'

**Environment:**

- ytt version (use `ytt --version`): ytt version 0.36.0
- OS (e.g. from `/etc/os-release`): osx

---
Vote on this request

This is an invita

[2021-09-19 04:11] caphrim007 commented on #248
@cppforlife @StevenLocke I can provide my use case fwiw.

tl;dr. I would +1 adding this.

The way we organize our yaml files is as a `base` directory and a set of N overlays in an `overlays` directory.

ex.
[code]

for any specific environment that we deploy to, it will receive the base and then it can choose to receive N of the overlays. For example, dev might choose (making up these overlay name

[2021-09-20 02:31] pivotaljohn commented on #487
duplicate of #407.

[2021-09-20 02:31] #487 closed, assigned to nobody

[2021-09-20 02:34] pivotaljohn commented on #407
Getting absolutely no pushback on this issue. And we're getting a regular report of this being an irritant.

Let's do it.

[2021-09-20 02:47] pivotaljohn commented on #186
@groundnuty asked

Unfortunately not, so far.

We've been in a "wait and hope for upstream fix" for some time now. So, while technically "in progress" is correct, we're really blocked on this upstream fix... (or we decide to find a way to land it in our [own fork](https://github.com/k14s/yaml)).

It be clear, it's in the Carvel maintainer's backlog 👍🏻 , but it's currently sitting below the OpenAPI

[2021-09-20 08:13] groundnuty commented on #186
@pivotaljohn maybe it's somehow connected with the memorable moment, that go-yaml stopped supporting flexible/forward anchors? It broke a lot of anchoring features... here is the discussion, where you can find a commit that broke that: https://github.com/go-yaml/yaml/issues/558 if that's the case you can just try to build with older version of go-yaml and see if it works, and if it does remove the

[2021-09-20 13:11] pivotaljohn commented on #186
Appreciate that, @groundnuty. I'm looking into this.

I'll update this comment with my "research", as I go.

Facts:
- go-yaml/yaml#515 was introduced in v2.2.4 of go-yaml/yaml; `ytt` forked at v2.2.2
- fix for merge @cppforlife mentioned above was translated in 237b7e2 from go-yaml/yaml#364 (~Aug 2020)
- also noted by @cppforlife, merged result includes duplicate keys. When the file contains templ

[2021-09-21 22:02] groundnuty commented on #459
@gcheadle-vmware do you maybe have an idea how to resolve such situation with? function shall not work here...
https://carvel.dev/ytt/#gist:https://gist.github.com/groundnuty/a62e1c2d4f5cde65954ddbb7a3ce6844

It's a simplified scenario of a situation where there is a bunch of libs, one of them is a util lib that checks some conditions and like here returns a list of something. The idea was that us

[2021-09-22 19:30] pivotaljohn opened #491 "Provide a friendlier error message when YAML parsing fails"
**Describe the problem/challenge you have**

https://kubernetes.slack.com/archives/CH8KCCKA5/p1632129604333300

**Describe the solution you'd like**
Provide an error message that makes it understandable to non yaml experts but also gives the actual underlying error which could be helpful for more advanced "yaml engineers". ([ref](https://kubernetes.slack.com/archives/CH8KCCKA5/p1632147054337500?th

[2021-09-22 21:45] iamhsk opened #492 "Basic YAML tutorial for ytt users"
### Why
So that new ytt users who are not familiar with YAML syntax can better understand ytt syntax

Examples:

- [IBM's YAML basics & usage in k8s](https://developer.ibm.com/tutorials/yaml-basics-and-usage-in-kubernetes/)
- [YAML Tutorial: Everything You Need to Get Started in Minutes](https://www.cloudbees.com/blog/yaml-tutorial-everything-you-need-get-started)

[2021-09-23 14:04] jldec commented on #63
If I understand this correctly, there is currently no way to force ytt to emit yaml `# comments` into the output yaml. For the use case where ytt is being used to generate new human-readable yaml this is a problem.

E.g. App Accelerator templates can [invoke ytt](https://docs.vmware.com/en/Application-Accelerator-for-VMware-Tanzu/0.2/acc-docs/GUID-creating-accelerators-transforms-ytt.html) on inpu

[2021-09-23 15:46] vrabbi commented on #63
This would be a huge benefit for us to have this option. We have a few use cases currently impacted by this. The main one is using ytt in app accelerator and we need comments which isnt possible. The other is a bit more advanced but is using ytt to generate ytt templates. This also may be relevant down the road in a system like app accelerator but currently i use a bunch of sed and awk stuff to ge

[2021-09-23 15:58] aaronshurley commented on #484
@maxice8 Thank you for submitting this bug. I haven't yet replicated this bug but I do see that our [go.mod is set to 1.16](https://github.com/vmware-tanzu/carvel-ytt/blob/55d092e76c7a385f280911835e0bf47e1cccbfd2/go.mod#L3).

This feels like something that we can prioritize soon.

[2021-09-23 16:40] voor commented on #63
We try to bootstrap new repositories with templates that follow common patterns as "getting started" -- we do this mostly with sed scripts now, but it comes up extremely often it seems silly to use sed to create ytt templates when ytt would excel in that use case.

[2021-09-23 16:51] jorgemoralespou commented on #465
I would favor this syntax:
[code]

[2021-09-23 21:25] patricknelson commented on #63
It stinks that we're still stuck at not being able to simply emit comments in `ytt` output.

@pivotaljohn what do you think: Could we at the very least have some kind of esoteric syntax like @cppforlife's suggestion above https://github.com/vmware-tanzu/carvel-ytt/issues/63#issuecomment-543839685 just to make it _possible?_ e.g. `#@yaml/comment foo`.  Presumably this is fully backward compatible f

[2021-09-23 22:29] aaronshurley opened #493 "Bump go version to latest"
**Describe the problem/challenge you have**
#484 drew attention to the fact that we are not on the latest go version. We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you wo

[2021-09-27 22:15] jtigger commented on #465
Another example: https://kubernetes.slack.com/archives/CH8KCCKA5/p1632776327452000

[code]

vs.

[code]

[2021-09-28 14:08] jayunit100 opened #494 "Need package documentation on the workspace concept"
Hi YTT friends...

Whats the definition of a ytt workspace  ?

For example, i see: https://github.com/vmware-tanzu/carvel-ytt/tree/develop/pkg/workspace, and theres a generic concept of a Library which, seems to be a recursive datastructure that references other libraries…

If I had to guess, I'd say
- a "workspace" references the "file root" of the place where your "doing stuff"
- YTT generally e

[2021-09-28 16:06] fbritoferreira opened #495 "Include files"
I have the following file structure

[code]
I want to be able to load my task files in my main file, i tried using `load` to load the files it doesnt seem to work, what is the best option to combine these files together.

Also is possible to pass variables to these tasks from the main file would be a bonus

[2021-09-28 17:05] gcheadle-vmware commented on #459
Hi @groundnuty, sorry for the late reply, I was out for the back half of last week. Your playground example is definitely on the right track, although I'd like to point out two things: 1) I do not see a function definition `#@ def FunctionName():` in the example. 2) there are circular load statements in `data.lib.yml` and `dataValues.yml` which is causing the error that you are seeing.

I've creat

[2021-09-29 16:26] irbekrm opened #496 "Confusing 'conditional expression without else clause' error with a yaml error before the if statement"
**What steps did you take:**

I attempted to template a yaml file with some invalid `yttt` syntax:

[code]

**What happened:**
An error that suggested that my if block was missing an else clause was thrown:
[code]

**What did you expect:**
Ideally, an error that would point out the line that has the error.

Failing that, an error that would suggest that the issue _might_ be before the if block as

[2021-09-29 18:43] pivotaljohn opened #497 "Provide a way to either render output to stderr and/or include custom output to `--debug`"
**Describe the problem/challenge you have**
Something blows up in some Starlark code in my template; but it's hard to get to the root cause because I can't see the values of expressions at runtime.

**Describe the solution you'd like**
The ability to include trace output during a `ytt` run. Even better if I could leave such tracing and be able to toggle it on and off from the command-line (e.g. in

[2021-09-29 22:21] pivotaljohn commented on #495
Sounds like you want to capture `tasks/task1.yml` and `tasks/task2.yml` as YAML Fragments and then reference them the the location of your choosing within `main-file.yml`.

1. turn your templates that contain the fragments into "loadable modules" by adding the `.lib.` extension
[code]
    Doing so changes two things:
    a. the contents of these files are no longer included in the output.
    b. i

[2021-09-29 23:00] pivotaljohn commented on #496
Thanks for the simple example (reproduced in [Playground](https://carvel.dev/ytt/#gist:https://gist.github.com/pivotaljohn/208894712a95b8378064363c9506fc9d)).

Wow, this _is_ an unfortunate error message.

TL;DR — at this point changing this behavior may be very hard.

So, under the covers, `ytt` uses a _slightly modified_ [Starlark](https://carvel.dev/ytt/docs/latest/lang/#overview). That runtime

[2021-09-29 23:07] pivotaljohn commented on #494
In our conversation on Slack (noted, above), it appears that you're looking at various ways to integrate with `ytt`.
Seems like this might be most fruitful as a synchronous conversation.

As noted in that thread, we are in the midst of a campaign of including Godoc as we make modifications to the code: package and exported type documentation is forth-coming.

I'm going to close this issue, for now

[2021-09-29 23:07] #494 closed, assigned to nobody

[2021-09-29 23:10] pivotaljohn commented on #492
@iamhsk, how does https://carvel.dev/ytt/docs/latest/yaml-primer/ size up in your mind?

[2021-09-30 05:23] irbekrm commented on #496
Thanks for the detailed reply 👍🏼

[2021-09-30 14:09] iamhsk commented on #492
Oh gosh, yes! Didn't realized it already happened.

[2021-09-30 14:09] #492 closed, assigned to nobody

[2021-09-30 23:28] jayunit100 commented on #497
yup ! pleeeaseeeeee

[2021-10-02 17:07] cppforlife commented on #496
@pivotaljohn hmm, i wonder if we can run set node lines through its own ast parse... should that always succeed, i think so... in theory it should be self-contained (though symbols wont be resolved).

[2021-10-03 04:28] patricknelson commented on #63
This may be sacrilege, but: I’m actually dropping `ytt` entirely now in favor of `kustomize` since I’m finding that it’s actually much better suited for my use case anyway (building complex Kubernetes manifests). If anybody here is encountering issues while using `ytt` and happen to have a similar use case, I’d encourage you to give `kustomize` a shot as well. It’s just a completely different appr

[2021-10-04 20:56] pivotaljohn commented on #496
🤔  nice.  Does this hold for when we're replacing too? I think so... hmmmmm.

[2021-10-05 16:31] anibal-aguila opened #499 "cannot load lib/helpers.star: Evaluating starlark template:"
Hi, we have the following issue trying to setup a new cluster.

**What steps did you take:**
tanzu cluster create tkgs-shared-base --file /root/downloads/tanzu-bundle-1.4/tkg-shared-base.yaml --tkr=v1.20.9---vmware.1-tkg.1.a4cee5b -v 6

**What happened:**
Validating configuration...
Error: failed to create Tanzu Kubernetes Cluster service for vSphere workload cluster:
- cannot load lib/helpers.sta

[2021-10-05 17:11] pivotaljohn commented on #63
Hey @patricknelson. Sorry for the delay. Thanks for letting us know where you're at.

It's unfortunate that we haven't been able to make more progress on this issue. We're constantly prioritizing where we invest and haven't had the bandwidth to include this (albeit useful) suggestion.

We're really big on folks using the right tool for the job. 👍🏻   Kustomize can be great for straight-forward patc

[2021-10-05 17:28] pivotaljohn commented on #499
Hey @anibal-aguila.

So, the symptom appears to be that `tkr_name` is `None` (the Python/Starlark equivalent to `nil` or `null`).

Just based of the name of the function, it looks like `tkr_name` is getting its value from `data.values.KUBERNETES_RELEASE`.

Are you able to verify that _that_ data value is being set?

- One clue is that the data value is written in ALL CAPS. I often see that when th

[2021-10-06 14:59] jayunit100 opened #500 "how to best short-circuit entire template evaluation"
possible workaround, from conv w dimitry, using a `.lib.yaml`....
**Describe the problem/challenge you have**

Right now, we have to sometimes nest 1000s of lines of yaml in a
[code]
block, which can be hard to reason about (i.e. what is this `#@end` referring to?)...

https://github.com/vmware-tanzu/tanzu-framework/blob/main/pkg/v1/providers/infrastructure-vsphere/v0.7.10/ytt/overlay.yaml

**Desc

[2021-10-06 19:05] cppforlife commented on #496
no idea...

[2021-10-07 18:33] #295 closed, assigned to cari-lynn, gcheadle-vmware

[2021-10-07 20:56] pivotaljohn opened #502 "Release ytt v0.37.0"
### Release Checklist
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Generate-Binaries-and-Checksum)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hack

[2021-10-08 02:24] cppforlife opened #503 "can ytt auto-explain why overlay matching did not match expected number of nodes"
**Describe the problem/challenge you have**
Users may run into a challenge determining why their overlay does not match expected number of nodes. (e.g. if `overlay.subset({"apiVersion": "cert-manager.io/v1"})` but the actual node has `cert-manager.io/v1alpha1`). it would be interesting to somehow let the user know potential nodes that were "almost" matched.

no clue how to implement this.

---
Vot

[2021-10-08 05:17] caphrim007 commented on #248
thought i would follow-up with the solution that we chose to go with in case others might be interested.

We opted for using the carvel vendir tool

https://carvel.dev/vendir/

We organize our YAML in a series of sub-directories which we affectionately call modules. for example,

[code]

We consider this *our code*.

Then we have an environment specific directory which contains *our config*. For e

[2021-10-08 17:57] pivotaljohn commented on #382
Delivered in [release v0.37.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.37.0).

[2021-10-08 17:57] #382 closed, assigned to nobody

[2021-10-08 19:15] pivotaljohn commented on #502
At one point we ran into a problem where our Norsk pipeline failed.

TL;DR. `ytt`'s pipeline got moved from the `norsk-viewers` team to the `shared-norsk-viewers`. But the pipeline move wasn't completed.

Details:
- failing pipeline: https://norsk.cf-app.com/teams/norsk-viewers/pipelines/ytt/jobs/vmware-tanzu-carvel-ytt-report/builds/61
- likely cause: https://github.com/pivotal-cf/norsk-config/co

[2021-10-08 19:17] pivotaljohn commented on #502
As of now, just waiting for `ytt` playground to be redeployed: https://vmware.slack.com/archives/C010XR15VHU/p1633715548415800

[2021-10-08 22:34] pivotaljohn commented on #503
Perhaps a fuzzy match?  Like, "did you mean <closest potential match>?"

[2021-10-08 22:40] cppforlife commented on #502
@pivotaljohn redeployed.

[2021-10-08 22:41] cppforlife commented on #503
yeah, but how do we implement something like that. matchers could be arbitrarily complex in their logic (and we do not know what it is). does this only makes to try to implement for builtin matchers?

[2021-10-10 05:28] adriens opened #504 "🐦 Please tweet about v0.37.0 release 🐦"
Hi guys,

🙏 could you please tweet about [`v0.37.0`](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.37.0) ?

Thanks in advance 💋

Kind regards,
Adrien

[2021-10-10 05:28] adriens commented on #504
`choco` on its way cf https://github.com/adriens/chocolatey-ytt/issues/12

[2021-10-11 01:42] cari-lynn commented on #466
After some discussion, we determined that this issue is not needed, since there is not work that needs to be done to allow this annotation. The work will be done in #469.

[2021-10-11 01:43] #466 closed, assigned to nobody

[2021-10-11 15:30] aaronshurley commented on #493
Marking this issue as `important-soon` as we don't want to lapse on go versions.

[2021-10-11 15:41] aaronshurley opened #505 "v0.38.0"
:warning: If we cut v0.38.0 before the openapi track is complete, let's add an "experimental" note in the help text for the openapi flag.

Tentatively, this release is planned for the OpenAPI Schema Generation track (#357) of work but it's possible that we release sooner in order to address more urgent features or bugs.

### Release Checklist
- [x] Signal to Nanci we're about to start the release

[2021-10-11 15:45] aaronshurley commented on #303
Labeling this issue as `important-longterm` as it's a bug that currently provides an unexpected behavior.

[2021-10-11 15:52] pivotaljohn commented on #500
In general, the ability to write guard clauses can make it easier to reason over a function (lowercase 'f'). 👍🏻  It's effectively a kind of precondition which alleviates the reader from being concerned about that condition for the rest of the execution.

Turning towards implementation concerns...

More context:
- `return` is only allowed within a function
- `continue` and `break` are only allowed

[2021-10-11 15:58] aaronshurley commented on #504
Thanks for the reminder, @adriens :)

Tweet: https://twitter.com/carvel_dev/status/1447588933899100167?s=20

[2021-10-11 15:58] #504 closed, assigned to nobody

[2021-10-11 16:03] cppforlife commented on #500
that's still one of the options. we can rewrite ast to support return at top level. question is it a good idea?

[2021-10-11 17:35] cari-lynn commented on #469
Reviewing this story with the team, got some feedback. Need to update the story to address these questions:
- Should array items be allowed to be annotated?
- should we rename the annotation? (own namespace `@doc/desc`, or other name `@schema/desc`)
- should the annotation be able to create the `description` key in the `info` object?
- update scenario to not ignore empty string.

done ✅

[2021-10-12 02:10] adriens commented on #504
👌

[2021-10-12 02:10] adriens commented on #504
RT done 🚀

[2021-10-12 17:42] pivotaljohn opened #506 "Exporting OpenAPI doc reports error when `@schema/default` value is incorrect type"
This is a follow-up from #490:

If we validate the type of a default value either _while_ constructing the schema, itself, or _en masse_ immediately after the schema is built (but before Data Value Preprocessing occurs),
then we could provide an audience-specific error message.

Right now:
- the message to **Configuration Authors** when their `@schema/default` values are mistyped (especially given

[2021-10-12 17:44] pivotaljohn opened #507 "Return an error (rather than panic'ing) when a non-serializable user input is provided for `@schema/default`"
src: https://github.com/vmware-tanzu/carvel-ytt/pull/490

- today, we generally panic when someone includes a function value (i.e. lambda) in the YAML structure. Ideally, we would _error_ when it’s anticipated bad user input and _panic_ when it is the result of `ytt` coding error. ([example](https://github.com/vmware-tanzu/carvel-ytt/pull/490/files#diff-3cd3d8e2686249d524141b98b510ce20456b45eb99a8

[2021-10-12 17:45] DennisDenuto commented on #493
when bumping golang, the goreleaser version used in the release GH action will also need to be bumped.

This is because ytt generates an arm binary. and goreleaser 0.162.0 has a bug where if using go 1.17 the darwin/arm binary is skipped.

[2021-10-12 17:56] pivotaljohn commented on #500
I'm on the fence, ATM.

On the one hand — as I noted above — guard clauses can made a larger script much more easier to reason about.

On the other hand, this mechanism can be used to terminate execution _anywhere_ in the script. Imagine there's a `return` in the middle of the example Jay gave... ugh.

[2021-10-12 19:16] cppforlife commented on #500
im also on the conservative side for such change, since it may come with its own set of sharp edges.

[2021-10-13 20:56] cppforlife opened #509 "improve hinting and docs for boolean and/or"
**Describe the problem/challenge you have**

for new users it might be hard to know what symbols/keywords to use for boolean and/or. starlark does not use &&, ||. it uses `and`, `or`.

**Describe the solution you'd like**
- hint at `and`, `or` here: https://github.com/vmware-tanzu/carvel-ytt/blob/develop/pkg/template/compiled_template_error.go#L190
- augment docs with more examples of if conditina

[2021-10-13 21:06] aaronshurley commented on #509
Great suggestions that will help improve the usability of ytt. Marking this as `important-longterm` and will throw it into the backlog. For anyone that comes across this issue, we're open to contributions. Let us know if you'd like to give it a shot.

[2021-10-14 17:23] cari-lynn commented on #358
We decided to update the acceptance criteria to move scenario 4 to the story to add support for `@schema/type any=True` (when no data values schema, then you get an empty openapi doc).

[2021-10-14 18:37] aaronshurley commented on #371
@cppforlife brought up some concerns about this potentially being backwards incompatible and possibly a fairly complex issue (i.e. t-shirt size: XL) to implement. Moving this to the unprioritized backlog for the moment and adding a `discussion` label to further suss out.

[2021-10-18 17:25] aaronshurley commented on #400
To follow up on @gcheadle-vmware's comment, we're planning to take a defensive approach now and disallow "any" and "nullable". We can make changes in the future when `one_of` is implemented to open things up, if desired.

[2021-10-18 17:31] aaronshurley commented on #505
If we cut v0.38.0 before the openapi track is complete, let's add an "experimental" note in the help text for the openapi flag.

[2021-10-19 00:28] cari-lynn opened #512 "OpenAPI Document Metadata & UX Improvements"
## Generate OpenAPI Document Metadata from `ytt` Data Values Schema

Proposal for this epic [here](https://github.com/vmware-tanzu/carvel/pull/198)

### Description

Enable the export of values provided by a Configuration Author for an OpenAPI Document's Metadata that documents information such as Document version and title.
Improve the user experience and error messages when generating an OpenAPI

[2021-10-19 17:46] joe-kimmel-vmw opened #514 "support "deprecated" field in OpenAPISchema"
- When a data value is annotated with @schema/deprecated, and the user inspects the schema openapi-v3 format, that property has deprecated: true
- @schema/deprecated requires a string argument that provides information about the deprecated field or can be left ""

## Acceptance Critera

#### 🟢 Scenario 1: `@schema/deprecated` annotation generates a `deprecated` key for scalars
Given the following

[2021-10-20 19:40] pivotaljohn commented on #502
OSL file attached to TanzuNET product.

[2021-10-20 19:40] #502 closed, assigned to pivotaljohn, cari-lynn

[2021-10-20 20:43] #358 closed, assigned to pivotaljohn, cari-lynn

[2021-10-20 22:44] pivotaljohn commented on #514
Would require two parts/stories:

1. in `--data-values-schema-inspect -o openapi-v3`, detect the `@schema/deprecated` annotation and include this "property" in the OpenAPI document output.
2. (independently) implement [`@schema/deprecated`](https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ#schemadeprecated): #554

cc: @cari-lynn (looks like another story... not sure where.)

_(edit: created the correspondi

[2021-10-20 22:44] pivotaljohn commented on #514
Would require two parts/stories:

1. Implement [`@schema/deprecated`](https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ#schemadeprecated)
2. in `--data-values-schema-inspect -o openapi-v3`, detect and include this "attribute"

[2021-10-20 22:46] pivotaljohn commented on #514
@aaronshurley — thoughts on prioritization?

[2021-10-21 03:15] aaronshurley commented on #514
@pivotaljohn I'd love for the initial issue triagers to give a first pass at determining the priority of an issue. This way, we can scale out decision-making effectively. Since I'm about to head out for a few days, I'll share my thoughts. This feature seems like it will be useful but we may not have an immediate need since schema features are still pretty new and the dependencies and upgrade featu

[2021-10-21 06:55] GrahamDumpleton opened #515 "Schema default value of object within array is not being applied."
**What steps did you take:**

Create a directory called `resources` for resource files.

In `resources/00-schema.yaml` add:

[code]

In `resources/01-dummy.yaml` add:

[code]

Create a `values.yaml` file containing:

[code]

Run the command:

[code]

**What happened:**

It generates the error:

[code]

**What did you expect:**

Expected it to generate:

[code]

**Anything else you would like to ad

[2021-10-21 14:20] pivotaljohn commented on #515
First off, thank you for this thorough treatment of the subject, @GrahamDumpleton. 🙏🏻

TL;DR:
- this use-case _is intended to be_ supported by [`@schema/key`](https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ#schemakey); unfortunately, that annotation is not _yet_ implemented.
- until then, a workaround is to implement defaulting in a function that wraps the target data value.
- there _is_ a bug where `@sc

[2021-10-21 18:41] pivotaljohn commented on #325
Reported again: https://kubernetes.slack.com/archives/CH8KCCKA5/p1634838859014100 .

[2021-10-21 19:37] pivotaljohn opened #516 "Clarify the intent/meaning/behavior of `@schema/type any=True` in reference documentation"
_(Inspired by #515)_

The reference documentation for `@schema/type any=True` _does_ describe in general terms what this annotation means.
However, it does not make clear:
- how is the contained YAML treated (i.e. the fragment _within_ the annotated node)?
- can I "break out" of this "any" mode by putting a `@schema/type any=False` deeper in the YAML tree?

The intention of `@schema/type any=True`

[2021-10-25 15:45] pivotaljohn commented on #514
Relevant context. 👍🏻

I agree.

@joe-kimmel-vmw — it's generally on the roadmap to do exactly this work. If "long term" is not soon enough, let's talk.

cc: @cari-lynn (leading the OpenAPI Schema track)

[2021-10-25 16:19] pivotaljohn commented on #486
Maintainers have committed to staff this work. Changed priority accordingly.

[2021-10-25 16:24] pivotaljohn opened #520 "v0.39.0"
### Release Checklist
- [x] Signal to Nanci we're about to start the release
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Bump-version)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Generate-Binaries-and-Checksum)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ#Create-a-Github-Rel

[2021-10-25 18:41] pivotaljohn commented on #495
@iTsFILIPOficial ^^^

[2021-10-25 21:11] gcheadle-vmware commented on #400
After discussion with @pivotaljohn about backwards compatibility and the future of the `@schema/type` annotation, we decided it would be best to allow the case of `@schema/type any=False` and `@schema/nullable` being on the same node since the `@schema/type` annotation is not attributing any information. We are keeping the failure case of the `@schema/type any=True` and `@schema/nullable` because

[2021-10-25 22:16] joe-kimmel-vmw commented on #514
Is that the next James Bond movie???

I think a single-digit number of weeks will be fine,  but we'd like to plan as though this will be available by the time we're smoothing out the last little wrinkles and preparing to fully release the dependency management stories.   Which I'd hesitate to put a timeline on, but "early 2022" seems like a helpful landmark for this discussion.  Is "early 2022" wi

[2021-10-25 23:31] gcheadle-vmware opened #521 "Improve schema error messages with annotations"
**Describe the problem/challenge you have**
When an error related to a schema annotation arrises, the line number and line presented in the error point at the node being annotated. While this information is useful, it is initially confusing because the error is talking about an annotation but showing me my node.

Examples of current schema annotation errors:
[code]
[code]

**Describe the solution

[2021-10-26 15:06] pivotaljohn commented on #259
Thanks to @sestegra, this is done. To be included in the next release.

[2021-10-26 15:06] #259 closed, assigned to nobody

[2021-10-26 15:12] pivotaljohn commented on #478
Completed by:
- vmware-tanzu/carvel#279

[2021-10-26 15:12] #478 closed, assigned to gcheadle-vmware

[2021-10-26 16:47] pivotaljohn opened #522 "`@schema/...` annotations within a subtree annotated `@schema/type any=True` should be invalid"
_(Inspired by #515)_

Today, when an author marks their schema with "any type", they can also include `@schema/...` annotations within, without error.

For example:
[code]

This can surprise users when such annotations have no effect (e.g. the user was hoping to see their array items defaulted within `spec.staticPasswords`).

Let's be explicit and clear that such annotations are not allowed by rep

[2021-10-26 17:05] pivotaljohn opened #523 "Within schema, fragments annotated with `@schema/type any=True` are erroneously validated as schema (rather than as a default value)"
_(Inspired by #515)_

**What steps did you take:**

[code]

**What happened:**

Got this error:
[code]

**What did you expect:**
That anything within a YAML fragment that's annotated with `@schema/type any=True`:
- can contain _any_ valid YAML
- _is_ the default value for the annotated node.

**Anything else you would like to add:**
This expectation was implied, but made explicit with #516.

From

[2021-10-26 22:50] aaronshurley commented on #514
My current mental model for "long term" is one or more quarters out. Given the above estimate on the dependency management work, I'd be happy to consider this as "important soon". I think that we could still wait to implement this feature until after our initial set of OpenAPI features since it seems purely additive but please let me know if you think otherwise.

[2021-10-27 01:18] joshrosso opened #524 "Make `ytt` portable to windows by changing the library key constant"
**Describe the problem/challenge you have**

I'm using `ytt`, as a go dependency, in a project. The binary for this project is used on Mac, Linux, and Windows.

Due the the library reference key:

https://github.com/vmware-tanzu/carvel-ytt/blob/f53bcec371800411b4b2c4f5dde2b29b0610301c/pkg/cmd/template/data_values_flags.go#L211-L213

When absolute paths are used in Windows, the `C:\\` is parsed as

[2021-10-27 14:59] pivotaljohn commented on #524
Thanks for the report, @joshrosso.

Yes, sir: changing the token would be a breaking change that we'd like to avoid.

Having different path parsing strategies selected by OS seems more like the way to go.

[2021-10-27 15:32] joshrosso commented on #524
Per request in slack, this is the function that would bubble up the error[0] on windows:

https://github.com/vmware-tanzu/community-edition/blob/40beed6d3632d9c0d089fc83ceb6e1840e608e92/cli/cmd/plugin/standalone-cluster/tkr/image.go#L157-L192

[0]:
[code]

[2021-10-27 21:26] pivotaljohn opened #526 "Hoist functions from their templates to resolve authoring awkwardness"
⚠️ under construction ⚠️

_(scratchpad notes: https://hackmd.io/coYgaB_MQQ2EvSHxbXuLOw)_

Today, it is easy to write a function definitions in a YAML template that results in surprising behavior (see scenarios, below).

There is an intuitive understanding that functions are not _really_ part of the template at the location in which they are defined, but that they potentially "capture" some

In ord

[2021-10-27 22:48] #400 closed, assigned to gcheadle-vmware

[2021-10-28 12:48] ploef opened #527 "Yaml list to comma delimited string"
Hi,

At the moment I'm investigating if ytt could be the tool to use for yaml templates. Most of the template s working now but I'm struggling with one thing. Does anybody know how to turn a list into a comma delimited string:

e.g.
mylist:
  - 123
  - 456
  - 789

should be converted to:

123, 456, 789

[2021-10-28 19:50] pivotaljohn commented on #527
Hey @ploef; welcome!

Glad to hear you're making traction in using `ytt`. And that you thought to ask for help on this one.

I need to make some guesses as to what you're doing to be helpful. If I'm making an invalid assumptions, please correct me.

I assume
- that the input list is coming in as a [Data Value](https://carvel.dev/ytt/docs/latest/how-to-use-data-values/).
- that you want the output

[2021-10-28 20:01] ploef commented on #527
Hi @pivotaljohn,

That's exactly what I was looking for! Thanks a lot for the quick response!

[2021-10-28 20:40] #527 closed, assigned to nobody

[2021-11-01 16:58] cppforlife commented on #526
just for the record, this is not a problem related to schemas. it's a general inconvenience of using arrays in functions within map. if we are planning to address this somehow in error messaging etc, i would expect that it would be done generically.

[2021-11-01 17:48] #325 closed, assigned to vmunishwar

[2021-11-01 19:18] pivotaljohn opened #530 "Always refer to a node by its display name in messages to users"
**Describe the problem/challenge you have**
An error message is referring to a type of node and does so using the Go type name (e.g. `yamlmeta.MapItem`)

**Describe the solution you'd like**
In every case `ytt` is referring to the type of node, it should use the "display name" (field introduced in #325), instead (e.g. `map item`)

**Anything else you would like to add:**
Part of this issue _is_ to

[2021-11-02 00:08] pivotaljohn commented on #389
Fixed in vmware-tanzu/carvel#291.

Thanks again for the report @kieron-dev! 🙏🏻

[2021-11-02 00:08] #389 closed, assigned to vmunishwar

[2021-11-02 15:20] pivotaljohn commented on #526
Yes, sir! 👍🏻  If there's any massaging of the AST after executing a template, will happen within `yamltemplate` (or maybe even `template`?).

[2021-11-02 17:25] #360 closed, assigned to pivotaljohn, cari-lynn

[2021-11-02 19:50] cppforlife opened #532 ""#@data.values" [no space after @] should error with a helpful hint"
**Describe the problem/challenge you have**
users may accidentally forget to have a space in `foo: #@data.values` after `@` and be confused why the data value is not showing up in the output.

(https://twitter.com/stylishandy/status/1455051198935957514?s=20)

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face"

[2021-11-02 19:52] cppforlife opened #533 "docs pages that deep dive into things (like schemas and overlays) should have cli examples in addition to the config files"
**Describe the problem/challenge you have**
https://twitter.com/stylishandy/status/1455051198935957514?s=20

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus

[2021-11-02 22:07] #361 closed, assigned to pivotaljohn

[2021-11-03 16:31] pivotaljohn commented on #365
~Reviewing the kin source with @cari-lynn, we see that an empty OpenAPI schema does _not_ validate an input of "null".~

~Do we want to include "nullable: true" for these values?~

Upon closer reading of the OpenAPI Spec regarding the `nullable` property (https://swagger.io/specification/#schema-object):

_(emphasis added.)_

Along with the general consideration of missing keywords (noted in the d

[2021-11-03 21:53] pivotaljohn commented on #532
I'm tempted to generalize this issue as, "Whenever there's an unrecognized annotation, `ytt` should error; in some set of common situations include a hint."

"Common Situations" could include:
- `#@load(...`
- `#@data.values...`
- (in general) `#@{module-name}....` (e.g. `#@json.`)
- (in general) `#@{starlark-builtin}...` (e.g. `#@if`, `#@for`, ...)

Where the hint could note the needed space:
[co

[2021-11-04 13:38] cppforlife commented on #532
i like where you going with it. this does make me think about backwards and forwards compatibility. do we get a benefit for being able to use unknown annotations today? (e.g. if some data values passed in i can use newer ytt functionality otherwise fall back? if we check annotations early enough this would become problematic...)

there is something to be said about possibility of doing short-term

[2021-11-04 17:06] TJM opened #537 "Install script should use something other than `shasum`"
**Describe the problem/challenge you have**
I was trying to create a docker container to use ytt during a ci/cd operation, and found that the install script wants 'shasum` to be installed, which is apparently part of perl-utils in alpine, which of course also requires perl.

[code]

As it shows above, this results in 43MiB larger docker image, unnecessarily.

**Describe the solution you'd like**

[2021-11-04 20:43] pivotaljohn commented on #532
Ditto.  I'm thinking of putting a feature flag on it (as in the user-facing feature flag). It would be more `ytt`-ish if we'd be stricter by default and be able to relax with the flag.

Something like... idonno... `--ignore-unknown-annotations` 😁 .

[2021-11-04 21:32] cppforlife commented on #537
agreed @TJM. we need to improve this.

[2021-11-05 16:44] cari-lynn commented on #365
I also researched the spec regarding what @jtigger stated above, and came to the same conclusion. By not specifying the `type` key, including `nullable: true`, and specifying a `default` value, that should be a valid OpenAPI way to convert ytt's `@schema/type any=True`.

[2021-11-05 19:36] pivotaljohn commented on #365
Thanks for the review, @cari-lynn. I'm more confident with this approach given it.

[2021-11-05 19:36] #365 closed, assigned to pivotaljohn

[2021-11-05 19:46] #493 closed, assigned to pivotaljohn

[2021-11-05 19:47] pivotaljohn commented on #484
Thanks again for the report, @maxice8; fix is on our main branch (i.e. `develop`) and the next release of `ytt` will be built with Go 1.17.

[2021-11-05 19:47] #484 closed, assigned to nobody

[2021-11-05 21:36] pivotaljohn commented on #499
We'll close this issue for now. @anibal-aguila, if you would like more assistance, please feel free to comment here; we'll see it and re-open this issue. Hopefully we haven't heard from you because the issue is resolved. 🤞🏻

[2021-11-05 21:36] #499 closed, assigned to nobody

[2021-11-05 21:45] pivotaljohn commented on #495
We'll close this for now.

@iTsFILIPOficial, if you would like more assistance, feel free to comment here; we'll see it and re-open it.

Hopefully, we're not hearing from you because you've figured it out. 🤞🏻

[2021-11-05 21:45] #495 closed, assigned to nobody

[2021-11-05 21:51] pivotaljohn commented on #480
Closing this for now: we've made an improvement. Of course, there's always room for more.

@jayunit100, if you have more ideas along these lines, feel free to either comment on this issue (we'll re-open) or create a new issue.

Thanks for your support. 👍🏻

[2021-11-05 21:51] #480 closed, assigned to nobody

[2021-11-05 21:56] pivotaljohn commented on #469
re: `@schema/desc` on a Document Node

Observations:
- other `@schema/...` annotations on the document map to the properties of `components.schema.dataValues`.
- the `title` and `description` properties are _also_ support/allowed in that set of properties.

Suggestion:
- direct the this metadata to the `components.schema.dataValues`
- introduce a _separate_ annotation for setting the `info` sectio

[2021-11-05 22:20] pivotaljohn commented on #468
What do you think of simple quoting?

[code]
... and combinations thereof.

_(edit: removed suggestion to quote file mark names; its not necessary as this is an enumeration, not a wide-open string)_

[2021-11-05 23:04] pivotaljohn commented on #532
This idea is an aspect of #114

[2021-11-07 19:17] cari-lynn opened #539 "Generate OpenAPI `info` from annotation"
Why: to allow a configuration author to programmatically set the contents in the `info` section of an OpenAPI Doc that is generated from a ytt data values schema.

Specifically, the [`info` object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.0.md#info-object) looks like this (title and version are required):
[code]

## Ideas:
### Option A (my preference)
We could use one an

[2021-11-07 19:20] cari-lynn commented on #469
That is a great idea, I created an issue to talk through your suggestion more https://github.com/vmware-tanzu/carvel-ytt/issues/539 @pivotaljohn

[2021-11-07 19:48] cari-lynn commented on #539
I want to consider the differences between a **`info`** object (from above) and a **`components.schemas`** object, we should think about why they are different to determine if we want to treat them differently.

We currently are thinking about doing something like Option B for 'metadata' on a specific key for the **`components.schemas`** object:
[code]
We could combine the annotations in the same

[2021-11-08 11:41] ChristianCiach commented on #524
Java uses `:` on Linux and `;` on Windows for its classpath notation. Maybe you should do the same.

See https://stackoverflow.com/a/55237119/1507544

[2021-11-08 18:19] pivotaljohn commented on #539
re: Option A

We _could_ suggest that folks can declare a Starlark dictionary:

[code]

That helps ameliorate the constraint that annotations must reside on a single line...

[2021-11-08 19:47] cari-lynn commented on #506
This story was regarding displaying the appropriate error message for the user (config consumer or author) and currently the error messages do display a hint for `@schema/default` when you are a config author which is correct.

Closing this since no more work needs to be done

[2021-11-08 19:47] #506 closed, assigned to nobody

[2021-11-08 22:40] cari-lynn commented on #469
Updated the acceptance criteria to change if a data values schema is annotated at the document level:
[code]
then it applies to the section immediately following the `component.schemas.dataValues` section.

[2021-11-08 22:46] cari-lynn commented on #539
@pivotaljohn and I discussed this more and we landed on this additional context:

When a data values schema is annotated at the document level for example:
[code]

then it applies to the section immediately following the component.schemas.dataValues section:
[code]

With that information, we arrived at the place where option B would not work to set the `info` object. Next steps we need to find a w

[2021-11-10 04:57] rashedkvm opened #541 "Playground sample doc issue"
**What steps did you take:**

Playground sample documentation error.
**What happened:**

In the playground example "Getting-Started=>Externalize-Data-Value" the `_cmd_line.yaml` has incorrect file name in cmd `$ ytt -f config.yml -f values.yml`. File `values.yml` does not exist.

https://github.com/vmware-tanzu/carvel-ytt/blob/cdb721091345c9fcbab95d0df10608d6165b58af/examples/playground/getting-st

[2021-11-10 05:12] daretodave opened #542 "NPM wrapper"
Just sharing a wrapper I made for node:
https://github.com/daretodave/node-ytt

The package fetches the latest release on post installation so ytt can be installed by just running -

$ npm i -g node-ytt-cli

$ ytt --version

[2021-11-11 20:04] cari-lynn commented on #182
This is a duplicate of #477 , there's some discussion there, so I'm going to close this.

[2021-11-11 20:04] #182 closed, assigned to nobody

[2021-11-11 20:06] cari-lynn commented on #477
Discussion from duplicate issue:

We should not add `---` on empty documents.

[2021-11-12 00:51] cari-lynn commented on #541
@rashedkvm Thank you for finding this! Its an oversight that should be fixed. We would be happy to accept a PR for it.

[2021-11-12 00:55] cari-lynn commented on #542
Wow, awesome work! Thanks for creating and sharing this with us @daretodave !

[2021-11-12 13:52] pivotaljohn commented on #426
Example possible usage: https://kubernetes.slack.com/archives/CH8KCCKA5/p1636675060381100?thread_ts=1636674212.379500&cid=CH8KCCKA5

[2021-11-16 17:28] #541 closed, assigned to nobody

[2021-11-17 19:59] pivotaljohn commented on #8
This discussion is more than two years stale. Closing the issue doesn't delete it; if the interest resparks, we can re-open. Closing, in the meantime.

[2021-11-17 19:59] #8 closed

[2021-11-17 21:46] #516 closed, assigned to gcheadle-vmware

[2021-11-18 16:05] #370 closed, assigned to vmunishwar

[2021-11-19 00:19] cari-lynn commented on #469
Available in [v0.38.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.38.0)

[2021-11-19 00:19] #469 closed, assigned to cari-lynn

[2021-11-19 00:20] cari-lynn commented on #295
Available in [v0.38.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.38.0)

[2021-11-19 00:20] cari-lynn commented on #259
Available in [v0.38.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.38.0)

[2021-11-19 00:20] cari-lynn commented on #523
Available in [v0.38.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.38.0)

[2021-11-19 00:20] #523 closed, assigned to gcheadle-vmware

[2021-11-19 00:21] cari-lynn commented on #370
Available in [v0.38.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.38.0)

[2021-11-19 19:09] pivotaljohn commented on #54
This issue stale by years. I inlined the salient request to make it discoverable through search. Closing for now. If there is renewed interest, we can re-open.

[2021-11-19 19:09] #54 closed

[2021-11-19 21:55] pivotaljohn opened #548 "Appending a Document to an empty Document Set panics"
**What steps did you take:**

With this input (i.e. an overlay that appends a document):

[code]

ran:

[code]

**What happened:**

[code]

**What did you expect:**
The document to be appended to the empty DocumentSet.

**Anything else you would like to add:**

Slack thread: https://kubernetes.slack.com/archives/CH8KCCKA5/p1637354198458400?thread_ts=1637349049.448900&cid=CH8KCCKA5

**Environment:*

[2021-11-19 21:56] pivotaljohn commented on #548
This is an uncommon case that _ought_ to be fixed: set priority accordingly.

[2021-11-20 01:11] pivotaljohn commented on #86
This consideration arose before schema was implemented (at least for Data Values).

Users would benefit from having _both_ modes:
- when they want to change the structure of the AST, the freedom to do so;
- when they want to guard against detrimental changes in structure, the ability to constrain.

And it seems that schema, especially if it's extended beyond Data Values and be available to apply t

[2021-11-20 01:22] pivotaljohn commented on #194
This is not entirely unlike:
- #54

I notice that the Slack conversation, above, kinda fizzled out. Seeing if I can't poke for how this worked out for @emayssat ...

[2021-11-20 01:26] pivotaljohn commented on #61
This issue has been years stale. We'll close this for now. However, if there's a renewed interest, we can re-open.

[2021-11-20 01:26] #61 closed

[2021-11-20 01:27] pivotaljohn commented on #53
@cppforlife what was the original pain-point? Is this still relevant?

[2021-11-20 01:31] pivotaljohn commented on #74
This issue has gone stale. Looks like there's a reasonable workaround. If we have renewed interest in support YAML tags through the whole processing, we can re-open.

[2021-11-20 01:31] #74 closed

[2021-11-20 01:38] pivotaljohn commented on #9
Fixed in https://github.com/vmware-tanzu/carvel-ytt/commit/5ad452e517f31e504a33e7d825a69d24f33cb17c release in v0.27.0.

[2021-11-20 01:38] #9 closed

[2021-11-20 04:21] adriens opened #549 "🙏 Please tweet about v0.38.0 release 🐦"
Hi, the chocolatey release is ready (cf https://github.com/adriens/chocolatey-ytt/issues/13) : could you please drop a tweet so I can RT it ?

Thanks again.

Have a nice week-end
🏖️ 🍸

[2021-11-20 16:12] pivotaljohn commented on #166
With Schema in place, we have the tools to be able to achieve this convenience without sacrificing "correctness"/safety. The additional work is covered by:
- #356

We'll track the progress of this feature in _that_ story: closing this one.

[2021-11-20 16:12] #166 closed, assigned to nobody

[2021-11-20 19:31] hasufell commented on #186
This also stops me from migrating [my yamls](https://github.com/haskell/ghcup-metadata) to ytt.

[2021-11-21 17:35] pivotaljohn commented on #310
Idea:
1. for now, extend the `--implicit-map-key-override` to plain YAML file evaluation.
2. restore the balance of usability with security by introducing a new File Mark: `options` which is a CSV with possible values `implicit-map-key-overrides`, `ignore-unknown-comments`, `strict`.
3. deprecate and then remove the all-or-nothing mode of these flags
    - if someone wants _everything_ to be confi

[2021-11-22 18:28] cari-lynn opened #551 "OpenAPI keys are in a uniform order"
# Why
When keys that take multiple lines are listed prior to keys that are only one line, it can be difficult to visually parse which indentation level corresponds to which key.

# Current Behavior
## Some keys appear in different order than others
From this data values schema:
[code]
`ytt -f . --data-values-schema-inspect -o openapi-v3`
the result is:
[code]

Desired behavior:
* `default` last
*

[2021-11-22 19:35] #429 closed, assigned to nobody

[2021-11-22 20:07] cari-lynn commented on #549
Hey @adriens ! Apologies for the delay, we have a US Thanksgiving holiday so some people are out of office this week. The tweets will likely be delayed for a short time. Thanks for your understanding.

[2021-11-22 22:27] adriens commented on #549
Hey, you're right !!! Happy thanksgiving to you and the team 🍰

[2021-11-22 22:32] aaronshurley commented on #549
[The tweet is live!](https://twitter.com/carvel_dev/status/1462910494512230403) Appreciate your patience, @adriens.

[2021-11-22 22:32] #549 closed, assigned to nobody

[2021-11-22 22:43] adriens commented on #549
AH AH @aaronshurley you couldn't resist to the call of the release 🎆

[2021-11-24 17:03] pivotaljohn commented on #468
@kdvolder: two questions:

1. Did the folks who brought up this question...

    do they have any specific strings in mind?
2. Would the approach of quoting, [noted above](https://github.com/vmware-tanzu/carvel-ytt/issues/468#issuecomment-962254726), be feasible from your perspective?

[2021-11-24 17:49] kdvolder commented on #468
The 'folks' here was just me. Sorry if that wasn't clear.

Not really. We are just passing through a string that comes from 'some user'. Did not have a particular user in mind, nor any particular use-case that requires specific characters. However when our tool is asked to pass along information a user provided to us as an argument / input, I think it is our tool's responsibility in turn that this

[2021-11-24 18:16] kdvolder commented on #468
More random thoughts...  To avoid interaction between 'shell' escapes and 'ytt escapes' (which is rather tricky)... Maybe the simplest solution would be not to have any special characters part of ytt syntax and *only* use shell escape syntax. What this means essentially is that ytt cannot use ':' and '=' characters within a single shell argument as 'dividers' between multiple bits of information.

[2021-11-25 18:13] pivotaljohn opened #553 "Accept File Marks for any valid path (via --file-marks-yaml)"
**Describe the problem/challenge you have**
Tool integrators would like the ability to integrate with `ytt`, accepting paths to files without limitation.
That integration includes the ability to configure processing of sets of files via [File Marks](https://carvel.dev/ytt/docs/latest/file-marks/#docs).

Today, file marks are supplied via a command-line flag whose argument is of a specific format t

[2021-11-25 18:13] pivotaljohn commented on #468
Appreciate you bringing it up and having the conversation, @kdvolder. 🙏🏻

I'm better getting a sense of the scope of what you're aiming at: tooling integration.

Given all this, I'm returning to [@cppforlife's observation and suggestion](https://github.com/vmware-tanzu/carvel-ytt/issues/468#issuecomment-891979093):

Let's:
- not introduce a breaking change or complicate the existing flag;
- docume

[2021-11-25 18:15] pivotaljohn commented on #468
For clarity's sake, we'll close _this_ issue. It's referenced by the recast feature request, so remains discoverable.

[2021-11-25 18:15] #468 closed, assigned to nobody

[2021-11-25 18:17] pivotaljohn commented on #553
While this is not on the roadmap for the core maintainers, if someone would fashion this contribution, we'd happily accept. 👍🏻

[2021-11-29 16:14] #432 closed, assigned to vmunishwar

[2021-11-29 17:33] cari-lynn commented on #357
This epic has been completed, the follow-up epic is: https://github.com/vmware-tanzu/carvel-ytt/issues/512

[2021-11-29 17:33] #357 closed, assigned to nobody

[2021-11-29 18:14] aaronshurley commented on #539
Some questions we'd like to answer before picking up this story:
- could we choose between the two presented options so that we can then firm up on the UX?
- is the `info` annotation required? or any of the attributes?

[2021-11-29 18:49] pivotaljohn opened #554 "Warn user when a deprecated Data Value is being set"
**Describe the problem/challenge you have**
#514 introduces the `@schema/deprecated` annotation.
However, when a data value that has been annotated as such, there's no indication to the user that they are doing so.

**Describe the solution you'd like**
When a data value is being set and its been marked as `@schema/deprecated`, report a warning (into stderr) that includes the notice

[code]

**Anyt

[2021-11-29 20:50] kdvolder commented on #468
FWIW: I think that you made a very reasonable decision and I'm pretty happy about the thoughtfullness with which you have handled this request/ticket. And yes, I can confirm that if such a json or yaml option, would have existed, I would have used that and it would have served our needs just fine.

[2021-11-30 10:50] redbaron opened #556 "Add support for data values schema without defaults"
**Describe the problem/challenge you have**

Some data values don't have sensible defaults and I'd like template users to always provide them

**Describe the solution you'd like**

Maybe special value for `@schema/default` annotation , which would indicate that there is no deafult value at all? Schema is then used to define just type of the value, expecting template user to always provide it.

**A

[2021-12-02 18:43] #530 closed, assigned to vmunishwar

[2021-12-02 19:32] cari-lynn opened #557 "Generate OpenAPI `example` from annotation"
## Why
A configuration author who needs to show a valid reasonable value for a key, that does not belong in a `default` value, may put it in the `example` key.

To quote the [spec](https://swagger.io/docs/specification/adding-examples/):

OpenAPI 3.0 only allows singular `example` key in the `components.schemas` section. (It does allow `examples` elsewhere in a document though). This key can be an

[2021-12-02 21:55] cari-lynn opened #558 "Generate OpenAPI `title` from `@schema/title` annotation"
## Why
As a Configuration Author
I want to generate an Openapi title key from my configuration annotations
so that Configuration Consumers see a short explanation of the key

The [documentation](http://json-schema.org/understanding-json-schema/reference/generic.html#annotations) for this key lists `title` and `description` (already implemented) as the primary documenting keys.

`title` is often us

[2021-12-03 17:53] pivotaljohn opened #561 "Schema Validation (MVP)"
**As a** Configuration Author
**I want to** declare what constitutes a _valid_ Data Value right in my schema definition
*So that**
- I can state those invariants in one central place and know they will be respected throughout the execution
- those who use my `ytt` library and violate one of those variants will receive a helpful error message

[[proposal]](https://github.com/vmware-tanzu/carvel/pul

[2021-12-06 19:02] cari-lynn commented on #557
This story needs:
* ✅ to determine whether it should be `@schema/examples` or `@schema/example`
* a more complex type scenario
Relevant [slack thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1638820969129600)

[2021-12-06 19:25] pivotaljohn commented on #556
Hey @redbaron 👋🏻

Yes! This is a use-case we're looking to tackle in an upcoming track of work: Schema Validations. (epic: #561)
We're literally in the middle of pulling together the scope of that track, but here's the relevant part of the proposal feeding into that work: https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ?view#schemavalidate

We're still working out the details, but this case could be handl

[2021-12-06 19:34] redbaron commented on #556
Great stuff! Why there is a `#@schema/nullable`  annotation, though?

[2021-12-06 21:25] pivotaljohn commented on #115
Dropping a note here that this issue was considered as #561 was being drafted. The question we asked was, "how might this idea relate to introducing validations in schema over data values?"

TL;DR. for now, this is not yet in scope and not included in #561.

[2021-12-06 21:30] pivotaljohn commented on #115
Something to add to this discussion:

What if `ytt` could operate in a mode where if a data value is `null`, then the first example is used as the default value.

[code]
.. and then ...
[code]

[2021-12-07 00:21] cppforlife commented on #556
cannot be _null_

because from a type system perspective there are 2 valid types: string OR null (vs other fields that may only support type string -- or some other type). however, we do not want to allow values to be null, hence the validation. this option however is not somethign we would recommend for most uses... (jump to next section)

id like to push back on this assumption -- can you provid

[2021-12-07 07:45] redbaron commented on #556
App name, passwords, references to other resources,  API enpoints of dependencies, etc.

Seems that, you do it in validation because type system is not expressive enough. Allowing null at the type level , just to reject in in validation later is a bit confusing, but maybe it is a good compromise.

Maybe extending type system can help to simplify this corner case (not sure it is worth it, just thro

[2021-12-07 17:25] cppforlife commented on #556
that's exactly my point though, in reasonably powerful type system above is `myType = string | null` as a combined type -- which is exactly what nullable provides as syntactic sugar (type can be null or x). but... im argument is that you do not need that, what you really want is `string & len() > 0`, which is what im advocating for and to represent that you specify type=string, validate=non_empty.

[2021-12-08 00:44] pivotaljohn commented on #63
@vrabbi [noted, earlier](https://github.com/vmware-tanzu/carvel-ytt/issues/63#issuecomment-925936124):

Another concrete example of this arose, recently: where a template evaluated at build time...

A Carvel user wanted to template their PackageInstall CR so that they could include it in a collection of packages to be installed as a larger system:

**Build Step:** during "build time", populate _so

[2021-12-08 10:01] redbaron commented on #556
OK got it, you are saying that it is possible to bypass null state and just check the value directly. Generally speaking what I want is to require user to provide variable value. We can approximate it by checking that final value, after all overlays computed is not equal to default , this wont catch case when user provides a value equal to default, but I can think where it can become a problem.

I

[2021-12-08 20:32] cari-lynn commented on #539
I updated Option B, please let me know if you have any thoughts on preference between A or B.

Some things to consider:
* `@schema-set/title`
  * This would be introducing a new namespace just for setting the info. Since it is still related to schema, then I think it should stay in the same `@schema` namespace
* `@schema/set title="value"` could work if this allows multiple key value arguments in

[2021-12-09 05:30] GrahamDumpleton opened #563 "Schema not applied correctly in library when using library.with_data_values()."
**What steps did you take and what happened:**

Run:

[code]

This results in the error:

[code]

With the files created from the test, if you were instead to run:

[code]

In other words, directly process the files which are in the library, it works fine and produces:

[code]

Note that there is no `#@data/values` file in the library.

Now run a second test where the only difference is that we ad

[2021-12-09 19:06] pivotaljohn commented on #310
Looking deeper, other YAML processing tools override keys, implicitly.

In `ytt`, once we've determined that a YAML file is "plain YAML", there's no need to require the `--implicit-map-key-override` flag to perform the override for that document.

This is the approach we took in #550. That work is done and will be included in the next release. 👍🏻

[2021-12-09 19:06] #310 closed, assigned to nobody

[2021-12-10 20:31] vmunishwar commented on #509
![image](https://user-images.githubusercontent.com/89049433/145637569-eb8ccbb6-437b-4dc8-84f7-79711ccf46e8.png)

[2021-12-10 20:45] vmunishwar commented on #509
![image](https://user-images.githubusercontent.com/89049433/145639099-6aafb360-34af-4f76-b39d-f5c7c43d7c10.png)

[2021-12-10 20:49] pivotaljohn commented on #539
Returning to the OpenAPI spec for additional inspiration, [the description for these fields](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.0.md#infoObject) are:

Field Name | Type | Description
-- | -- | --
title | string | REQUIRED. The title of the **application.**
description | string | A short description of the **application.** CommonMark syntax MAY be used for rich text

[2021-12-13 20:29] cppforlife commented on #539
seems to couple schemas concept to libraries which isn't necessarily the case (at least the desire).

additionally if ever introduce concepts of actual library version, it's a little weird for schema/library-version to be there.

[2021-12-14 19:41] pivotaljohn commented on #539
That's a fine point. While changes to the API _will_ result in a version bump (when such a thing exists), changes to behavior within the library would do the same. So, the aggregate _is_ the library, itself: that's where _the_ version should live. 👍🏻

Have you put any thought, to date, in to how one would supply metadata (like name, version, authors, etc) for a library?

[2021-12-14 23:06] pivotaljohn commented on #418
@cppforlife: what about altering the behavior depending on the presence of schema?

1. if the library contains schema, then that's the way that data values will be validated ==> `@ytt:library.with_data_values()` automatically uses `--data-values-file` semantics.
2. if the library has no schema declared, then overlay validates ==>  `@ytt:library.with_data_values()` uses current (overlay) merge sema

[2021-12-15 00:34] pivotaljohn opened #566 ""null" data values erroneously passes schema check"
**What steps did you take:**

With these files...
[code]

[code]

[code]
.. ran this ...
[code]

**What happened:**
[code]

**What did you expect:**
I expected to see a schema error message, like...

[code]

**Anything else you would like to add:**

- Fixing this bug would be a breaking change: it's turns what is currently a "successful" result and error outcome.
- This behavior is being used as p

[2021-12-15 00:53] pivotaljohn commented on #563
@GrahamDumpleton noted:

Absolutely.

Yes: you case would be solved with #418.

This won't be possible to do this with `@ytt:library.with_data_values()`, _as is_.
That function accepts overlays as input, today; and it would be a breaking change for it to behave otherwise.

---

In the meantime, you've detailed a workaround (🙏🏻 ).

@gcheadle-vmware noted a interesting variant that works for cases w

[2021-12-15 00:59] pivotaljohn commented on #563
We have (yet another) very compelling use-case for implementing #418 — this is, in effect, a request for that feature.

Within this flow, there _is_ a bug — and I've pulled that aside in this issue: #566.

@GrahamDumpleton, I believe you've got a workaround (or two), and we've got a more systemic solution.

Is there anything beyond those two items you think we can do here to help?

[2021-12-15 01:12] GrahamDumpleton commented on #563
So what I understand is that you are saying my workaround to make it work is actually the bug and when that bug is fixed I will not be able to do what I want unless you separately implement #418.

[2021-12-16 16:00] pivotaljohn commented on #563
Yes. And that we'll ensure that we don't fix the bug until we provide the systemic solution. 👍🏻

And that we'll be doing both ASAP.

[2021-12-20 16:29] #509 closed, assigned to vmunishwar

[2021-12-27 15:35] caniko commented on #197
Can you paste your solution @peterfeifanchen?

[2022-01-06 16:50] pivotaljohn commented on #496
No question this would be great to be able to provide a better experience, here. Next step is to explore either the option @cppforlife noted, above, and/or other ways to catch this situation so we can then provide a better message to the user.

[2022-01-06 18:00] #521 closed, assigned to gcheadle-vmware

[2022-01-06 18:00] #522 closed, assigned to gcheadle-vmware

[2022-01-06 19:54] alexyao2015 opened #574 "Inline Overlay Append"
Is there someway to inline append to a list using overlay?

Say I have this overlay append which works but is in a separate document:

[code]

Is there some way to convert this to something like this below? The below does not work as an error occurs: `- __ytt_tpl2_start_node: expected key 'foo' to not be specified again (unless 'yaml/map-key-override' annotation is added)`

[code]

I would like th

[2022-01-07 19:31] pivotaljohn opened #575 "Enable "plain merge" for overlays, in general"
With:
- #381
- #418

... there is now a general mechanism for accepting a plain YAML file and converting it into an overlay with well-defined semantics:

1. new keys are added (like `@overlay/match missing_ok=True`)
2. existing values are replaced (like `@overlay/replace or_add=True`)

A working name for this overlay strategy is, "plain merge."

**Describe the solution you'd like**
Users may encou

[2022-01-07 19:39] pivotaljohn commented on #197
@caniko , do you have a similar situation? Feel free to post an example here and we can help.

[2022-01-07 20:09] cari-lynn commented on #574
If the base and the overlay are in the same file, I would recommend using the `overlay.apply(left(), right())` function. You can do that by wrapping the base, and the overlay in a function like below. If you're using v0.32.0+ you can omit the `overlay/append`:

[code]
Does this solution fit what you need? If not, can you share a bit more on your use case?

[2022-01-07 20:30] cari-lynn commented on #574
There is an alternative using just `template.replace()` and no overlays.

Overlays match on yaml structure, which may be helpful if you want to append the same items to multiple arrays with the same structure, and without modifying each one. Alternatively, if you use the below solution, each place you want to append to an array will need to be modified.

[code]

[2022-01-07 21:08] alexyao2015 commented on #574
Thanks for the prompt reply!

That doesn't quite match what I'm looking for. Specifically, I'm working with a config file where I need to call a function that defines a base set of parameters and expands on those by adding to a list.

I see that I can create two separate functions and call `overlay.apply`, but it would force me to have to separate the parameters which are specific to each entry in

[2022-01-07 21:12] alexyao2015 commented on #574
Perhaps is there some way to achieve the following?

[code]

[2022-01-07 21:43] pivotaljohn commented on #556
I'm getting, @redbaron, that the key point here is having a quality UX... both for those who are reading the schema, itself; and for those who get the error messages from running with such a schema. 👍🏻

I'm thinking we can get there from here with some thoughtful choices:

As @cppforlife pointed out, above, authors will want to specify constraints _anyway_. If we can craft error messages around ze

[2022-01-10 16:44] pivotaljohn commented on #574
Something like...

[code]

[2022-01-10 19:41] pivotaljohn opened #579 "Reconcile type name of library instances with other custom types in the ytt standard lib"
**Describe the problem/challenge you have**
Rename type(library.get()) from "module" to "@ytt:library.instance".

For example, with:
[code]

[code]

[code]

this happens:

[code]

**Describe the solution you'd like**

Would rather this output:

[code]

To reconcile the emerging convention of type names in the `ytt` standard library.

**Anything else you would like to add:**
[Documentation](https:/

[2022-01-10 19:49] pivotaljohn commented on #186
FWIW, this issue was addressed on the main branch: #550 and will be included in the next release (coming soon).

[2022-01-12 22:14] blc1996 opened #581 "Schema check should consider all layers of data values together"
**What steps did you take:**

We have usecases for values that are required, but has null default.

1. Define a field in `schema.yaml` which is not nullable
2. The default `values.yaml` has a null value for this field
3. Add an additional data value overlay which sets the value of this field
4. YTT still thows error saying field is null

**What happened:**
config/values.yaml
[code]

config/schema.

[2022-01-12 23:13] blc1996 commented on #581
Stop using `null`, instead use empty string as default value will solve the issue.

[2022-01-12 23:13] #581 closed, assigned to nobody

[2022-01-12 23:23] pivotaljohn commented on #581
As you alluded to, empty values in Python/Starlark are falsey. And these are the preferred way to express "unset".

Further, given that the values given in the schema are your library's defaults, no need to supply a separate data values file.

The working version looks something like this:

[code]

[code]

[2022-01-13 20:38] cboitel opened #583 "invalid module name in go.mod"
**What steps did you take:**
`go get github.com/vmware-tanzu/carvel-ytt@v0`

**What happened:**
[code]
**What did you expect:**
Ability to get the module or install the binary with `go install`

**Anything else you would like to add:**
Requires to update module name in go.mod. Without this change, nobody will be able to use ytt as a go library or install it simply using go install standard command

[2022-01-14 14:31] pivotaljohn opened #585 "Rename module from "github.com/k14s/ytt" to "github.com/vmware-tanzu/carvel-ytt""
**Describe the problem/challenge you have**

We've now received multiple external requests to align the module name with the repo name, including:
- https://github.com/vmware-tanzu/carvel-ytt/issues/583

**Describe the solution you'd like**
Rename the module and all references to it.

**Anything else you would like to add:**
This is part of vmware-tanzu/carvel#153

---

To Do:
- [x] Perform the re

[2022-01-14 15:48] pivotaljohn commented on #583
Carvel started out as a suite named "k14s" short for Kubernetes Tools.

Some time back, VMware formally sponsored this project and adopted it into its OSS program. The repository was moved at that time, but the module was not renamed.
We have been tracking this across the suite in vmware-tanzu/carvel#153, but haven't yet made it a priority.

Apologies for the inconvenience. Given that we're seeing

[2022-01-14 15:50] pivotaljohn commented on #583
FWIW, we have some preliminary guidance around integrating with ytt in this way: https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/integrating-with-ytt/apis.md

[2022-01-14 15:51] pivotaljohn commented on #583
We'll be tracking the rename work in #585; closing this issue, for now. @cboitel, if you need more support here than this, please feel free to continue the conversation here.

[2022-01-14 15:51] #583 closed, assigned to nobody

[2022-01-14 16:57] pivotaljohn commented on #585
important-soon: we've had more than one request for this. Placed in the backlog to be strategically occurring when little (no?) other work would be in flight (to minimize the potential for merge conflicts).

[2022-01-18 05:28] cari-lynn commented on #539
Supplying the fields required for OpenAPI info (`version` and `title`) is going to overlap with those same concepts of the entire library. In other words if the version of the schema metadata changes, then the version of the entire "library metadata" would likely be bumped as well.

While we don't have a known use case for a library metadata now, it makes sense to plan to be able to modify the Ope

[2022-01-18 06:07] cari-lynn opened #588 "Provide Library Metadata"
**Use cases**
* Using the feature to inspect data values schema as OpenAPIv3 schema I want to provide the `info` metadata such as `version` and `title` of the schema. (Currently these are populated with basic default values) Issue: #539
* As a ytt library maintainer, I want to provide metadata to consumers of the library. (eg: Package name, version) So they may verify a minimum version is used or

[2022-01-18 06:12] #539 closed, assigned to nobody

[2022-01-18 06:18] cari-lynn commented on #512
The issue to modify the placeholder values in the `info` object #539 that was in this epic was closed, that work has been moved to Library metadata #588

[2022-01-18 19:02] #558 closed, assigned to vmunishwar

[2022-01-19 18:43] #418 closed, assigned to nobody

[2022-01-19 21:38] pivotaljohn opened #589 "Schema files are merged out-of-order when in different sub-directories"
**What steps did you take:**
[code]

**What happened:**
[code]

**What did you expect:**
That they would be merged identically that they are for data values (i.e. respecting the order of the `-f` params).

**Anything else you would like to add:**
NOTE: This defect was fixed in 8e6cf37f327fd003df6cbdacc7ffd1c4f6bdd31c.

Placing the add-on schema file in the same path restores the expectation.

[cod

[2022-01-20 08:33] Lwxiang opened #592 "remove item from array, but get append"
overlay
[code]

plain
[code]

What I expect is remove the name=hello item from all containers' env, but I get the following result:
[code]

In container "nginx" the result is expected, but in other 2 containers, the env has been appended.

[2022-01-20 19:05] gcheadle-vmware commented on #592
Hi @Lwxiang

Using [`@overlay/match by=overlay.subset`](https://carvel.dev/ytt/docs/latest/lang-ref-ytt-overlay/#overlaysubset) will allow you to match a node based on its value. What you have,
[code]
will match all array items under `containers`, and if the item doesn't have an `env` key then it will add it. Using `overlay.subset` will only match on array items with the `env` key.

Secondly, the

[2022-01-20 22:05] martyspiewak opened #593 "ytt execution can be interrupted (via a Go Context)"
**Describe the problem/challenge you have**

We would like to use the ytt Go module but we'd like to protect against bad templates that may take down the system (e.g. a template that defines an infinite loop). If we shell out to the executable, we can pass a context with a timeout to protect against this. With the go module, though, there is no way to pass such a context.

**Describe the solution

[2022-01-20 22:54] gcheadle-vmware commented on #592
Also, check us out at on the kubernetes slack if you wanted an alternative way to ask questions.
https://kubernetes.slack.com/messages/carvel/

[2022-01-21 06:32] Lwxiang commented on #592
Great! Thank you so much for your reply. Very detailed, that is indeed solved my problem.

I have some further considers,
our server provides some addition environment variables for k8s manifest, some env are added by default, while some env will not if it already set by user.

for example, I have 2 env
* always_append, it should be append to the every containers' env in Deployment.
* append_when_

[2022-01-21 18:24] gcheadle-vmware commented on #592
Awesome! The overlay you wrote works as expected. One note is that by using this set of matchers:
[code]
any templates that do not have a top level `spec` key will error. Also any template that has a top level `spec`, but no `template` child key, will be merged with the overlay; for example:
[code]
with your overlay, renders as:
[code]

This may not be a concern for you. However, if you *only* wan

[2022-01-21 18:24] #592 closed, assigned to nobody

[2022-01-21 22:57] pivotaljohn commented on #588
Another approach is to capture this library-wide information in a fixed-named configuration file:

`.ytt-info`
[code]

`ytt` looks for an loads this file as a part of building a `workspace.Library` and checks the current `version.Version` a la:

https://github.com/vmware-tanzu/carvel-ytt/blob/9cc6a8b8bbf979a8980c4764d42b63e544f2a045/pkg/yttlibrary/version.go#L61

[2022-01-21 23:22] pivotaljohn opened #594 "Consider using enhanced TOML error messages"
**Describe the problem/challenge you have**
`ytt`'s TOML library now includes a feature to provide more verbose error messages. Let's consider taking advantage of that.

From [the v1.0.0 release notes](https://github.com/BurntSushi/toml/releases/tag/v1.0.0):

**Describe the solution you'd like**

- [ ] Explore whether we should just adopt the more verbose error handling: how would doing so affect

[2022-01-24 18:01] aaronshurley commented on #585
Let's make sure we broadcast this change in slack channels so that any consumers are aware.

Give the Carvel repos a review (example: vmware-tanzu/carvel) to see if any repos are consuming ytt so that they can be updated.

[2022-01-25 22:40] pivotaljohn commented on #593
This is a very reasonable feature request.
For those who cannot take on this risk can mitigate it by integrating with ytt out-of-process (i.e. as an executable).

The implementation implies some complexity:
- plumbing to carry a "terminate" signal into `ytt` and
- further to actually cancel Starlark execution.

To perform time-based termination, `ytt` would need to plumb the means of carrying a te

[2022-01-25 22:44] pivotaljohn commented on #593
This project is _moving towards_ being more in-process integration-friendly: priority = unprioritized backlog. At this time, this item is not on the roadmap, but a PR would be fully supported.

[2022-01-27 00:28] cari-lynn commented on #514
We had a conversation in [k8s slack ](https://kubernetes.slack.com/archives/CH8KCCKA5/p1643226033163800) about whether a schema document should be annotated as `@schema/deprecated`. The outcome of that discussion was that we don't have a use case for it right now. Given that annotating a document adds an OpenAPI key to the top level schema, we should disallow this annotation on a document for now.

[2022-01-27 00:37] vmunishwar commented on #514
Thanks Cari! I have updated the acceptance criteria accordingly.

[2022-01-31 17:34] pivotaljohn opened #598 "v0.40.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
- [x] [Create an OSM Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#OSM-Release)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Creat

[2022-02-02 21:01] #514 closed, assigned to vmunishwar

[2022-02-02 22:18] gcheadle-vmware commented on #218
Released in ytt v0.39.0

[2022-02-02 22:18] #218 closed, assigned to seemiller, cari-lynn

[2022-02-02 22:19] gcheadle-vmware commented on #551
Released in ytt v0.39.0

[2022-02-02 22:19] #551 closed, assigned to gcheadle-vmware

[2022-02-02 22:19] gcheadle-vmware commented on #557
Released in ytt v0.39.0

[2022-02-02 22:19] #557 closed, assigned to gcheadle-vmware

[2022-02-02 23:19] pivotaljohn commented on #563
#418 was delivered as part of [v0.39.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.39.0).

[2022-02-02 23:19] gcheadle-vmware commented on #520
The [concourse pipeline to upload binaries to TanzuNet is failing](https://hush-house.pivotal.io/teams/k8s-lifecycle-tools/pipelines/pivnet-sync/resources/klt-ci), and the button to manually upload the product files individually is not working. So the release has been created for 'admins only' on TanzuNet however this release has no attached files yet.

[2022-02-02 23:27] gcheadle-vmware commented on #520
The part of the release process talks about making the OSM release:
[code]
however nothing shows up at these links and I do not know how to confirm if what needed to be uploaded to OSM was indeed uploaded.

---

**Seems** to be a permissions issue

[2022-02-03 09:46] damienleger opened #601 "Declare a variable dynamically in one file that is available in next file"
Hello,

I'm working at the moment on a big backend repository which contains many applications manifests (`app1.yml` ... `appN.yml`).
They have their config externalized in a common `config.yml`.
I want to add various labels/annotations on all apps, and to be sure they are all set correctly I use an `overlay.yml` to set them.

My problem is that I don't want to split `config.yml` files into severa

[2022-02-03 13:19] damienleger opened #602 "Inline Map Merge"
Hello, is there a way to do something like this

[code]
(source: https://github.com/vmware-tanzu/carvel-ytt/issues/574#issuecomment-1007719765)

but with maps?

This doesn't work:

[code]

[2022-02-04 00:13] gcheadle-vmware commented on #520
Paired with @cari-lynn on this and we were able to upload the binaries for ytt v0.39.0 and attach them to the release.

[2022-02-04 18:02] #505 closed, assigned to nobody

[2022-02-04 18:32] pivotaljohn commented on #601
As a first iteration, we can absorb the `if` statement but using the [bracket notation](https://carvel.dev/ytt/docs/v0.39.0/lang-ref-structs/#attributes) for accessing the app's data values:

[code]

But, I presume you might want to generate all manifests for all your applications in one `ytt` invocation.
Further, I presume that you might have a different set of manifests for each application. And

[2022-02-04 18:52] pivotaljohn commented on #602
Check out this example: https://carvel.dev/ytt/docs/v0.39.0/lang-ref-ytt-template/#add-a-new-item-to-the-labels-mapping

In this case, it could look like...
[code]
- note map items require (at a minimum) the `:` token
- we're using `_` as a map item key, but any legal key will work... it'll just get replaced.

[2022-02-05 19:56] btheado opened #603 "How to compose many flavors of many components? (aka carvelizing my Kustomize)"
I have a k8s project with a large number of components currently defined using kustomize. The directory structure is something like this:

* component1
    * kustomization.yaml
    * deployment.yaml
    * configmap.yaml
    * etc.
* component2
    * kustomization.yaml
    * etc.
* ...
* componentN
* base
    * kustomization.yaml - compose together many of the components by referencing ../component

[2022-02-07 18:11] pivotaljohn opened #604 "Annotate a Data Value with validation"
**Given** a Data Values document (and only a Data Values document), annotated with a validation rule:

[code]

### Scenario: Invalid Data Value

**Given** the final Data Value's value does not satisfies the rule:
**When** `ytt` runs
**Then** reports a Data Values violation error message:

[code]

### Scenario: Valid Data Value

**Given** the final Data Value's value satisfies the rule:
**Then** no

[2022-02-07 20:04] #512 closed, assigned to nobody

[2022-02-07 20:16] gcheadle-vmware commented on #520
Unassigning myself since there is no active work happening for v0.39.0. Waiting for the OSM license so that it can be attached to the release and this issue can be closed.

[2022-02-08 14:42] damienleger commented on #602
Thanks @pivotaljohn 👍

[2022-02-08 14:42] #602 closed, assigned to nobody

[2022-02-08 19:30] pivotaljohn opened #605 "Hint when author concats different types into a string"
**Describe the problem/challenge you have**

[code]

**Describe the solution you'd like**
[code]

**Anything else you would like to add:**

Source: https://kubernetes.slack.com/archives/CH8KCCKA5
A continuation of: #509

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vot

[2022-02-09 03:24] pivotaljohn commented on #603
Yeah. Sounds like you're headed in a useful direction.

One approach looks like this:

[code]
and you'd include both the set of component libraries and the cluster config:
[code]

where:
- each cluster config loads in the components it wants:
[code]
[code]
    and their patches/overlays will naturally apply. \
    For example:
[code]
- each component is a [library](https://carvel.dev/ytt/docs/v0.3

[2022-02-09 14:42] btheado commented on #603
Outstanding. Thanks for the excellent response. I find it very enlightening.

Seems like a very small price to pay.  After your explanation It occurs to me it would probably also be possible to move the clusters directory in order to eliminate even that small command-line composition. Something like this (probably the top-level dir would have a better name than `components` since now it has everyt

[2022-02-09 16:16] pivotaljohn commented on #603
woohoo! 🎉

When we took a run at this kind of structure, we got stuck in the part where `ytt` (by design) isolates private libraries from their parents (here, that `./components/_ytt_lib/dc1/namespace1/ns-config.yml` does _not_ have visibility into its sibling libraries like `./components/_ytt_lib/component1`. Each private library can be thought of as a separate instance of a [`ytt` pipeline](http

[2022-02-10 00:30] gcheadle-vmware commented on #604
Should the `#@assert/validate` annotation work on data values contained in a data values file?
[code]

[2022-02-10 00:33] gcheadle-vmware commented on #574
Hi @alexyao2015, it looks like this thread has been wrapped up, so I am going to close it. If you have additional comments/questions, please open a new issue or reopen this one. Thanks!

[2022-02-10 01:31] alexyao2015 commented on #574
Hi yes this has been resolved. Thank you!

[2022-02-10 01:31] #574 closed, assigned to nobody

[2022-02-10 03:16] btheado commented on #603
Yes and I was thinking the top-level `dc1-namespace1.yml` file would compose the two together since the siblings can't see each other. I also mistakenly thought the `ytt -f components/dc1-namespace1.yml` command would be enough. But by giving a single file as input, the subdirs become invisible. A second cli arg would need to be re-introduced: `ytt -f components/dc1-namespace1.yml -f components/_y

[2022-02-10 03:16] #603 closed, assigned to nobody

[2022-02-15 17:35] pivotaljohn commented on #601
@damienleger — that was a lot to digest. Was it explained well?

[2022-02-15 18:53] damienleger commented on #601
Hello @pivotaljohn, sorry for the lack of news. I was experimenting with an easier repo before going back to work on that one. I haven't finished yet but I've fixed all my blockers. Thanks a lot for that detailed answer that make me consider lib.

During implementation I discovered new blockers:
- labels on resources and on selector aren't the same (e.g. on a Service/Deployment, selector must be i

[2022-02-15 22:42] pivotaljohn commented on #604
Insightful question. And I think you intuition is right: that an `@assert/validate` should mean the same thing everywhere (just like an `@overlay/match` does).

This points to a need to be able to _declare the need for_ an `@assert/validate` (specifically in a document containing schema).

Folding this into the overall proposal.

🙌🏻

[2022-02-16 00:19] gcheadle-vmware commented on #585
Repos consuming ytt:
- kapp:
  - [code and go.mod](https://github.com/vmware-tanzu/carvel-kapp/search?q=github.com%2Fk14s%2Fytt)
- vendir:
  - [examples](https://github.com/vmware-tanzu/carvel-vendir/search?q=github.com%2Fk14s%2Fytt&type=code)
- Carvel:
  - [examples](https://github.com/vmware-tanzu/carvel/search?q=github.com%2Fk14s%2Fytt)
- ytt.vim
  - [readme](https://github.com/vmware-tanzu/ytt

[2022-02-16 00:34] gcheadle-vmware commented on #585
Previous slack message from Joao: https://vmware.slack.com/archives/CUK1X0Z8Q/p1643296774183100?thread_ts=1643253820.181400&cid=CUK1X0Z8Q

Slack message to go along with version ytt v0.40.0 release:

Hello ytt users 👋

As of the release of `ytt` v0.40.0, the go module has been renamed from [github.com/k14s/ytt](http://github.com/k14s/ytt) to [github.com/vmware-tanzu/carvel-ytt](http://github.com/v

[2022-02-16 21:42] pivotaljohn commented on #601
Oh, yeah, lookin' sweet. 👍🏻

Great use of `overlay.apply()` for focused edits... alongside the simpler `template.replace()` when needed.

That's great to hear.
I agree, this all seems rather readable/maintainable by my eye.

Couldn't agree more. One of the very next tracks of development we're taking on as a team is developing guides for _how_ to use all this stuff. Heads-up: you're likely to find

[2022-02-17 17:07] gcheadle-vmware commented on #520
OSM file has been created. Attached is the approved OSL file. Please check it into your product build, the file name should be open_source_licenses.txt. Also, the OSL should be posted to the download location for your product. Once posted, please provide the applicable URL and this ticket will be resolved. Since this is a Beta release, there is no Open Source Disclosure Package (ODP) to post.

[2022-02-17 19:27] gcheadle-vmware commented on #585
Completed in [ytt v0.40.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.40.0)

[2022-02-17 19:27] #585 closed, assigned to gcheadle-vmware

[2022-02-17 19:38] gcheadle-vmware commented on #598
- OSM request: https://osm.eng.vmware.com/oss/#/version-cloning-requests/23981
- [x] fixed: rate limiting with the new pivnet pipeline: https://runway-ci.eng.vmware.com/teams/carvel/pipelines/pivnet-sync/jobs/upload-ytt/builds/1

- [x] Rerun website index crawler

[2022-02-17 20:50] adriens opened #607 "🐦 Please tweet about v0.40.0 release 🚀"
Hi folks, could you please tweet about [v0.40.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.40.0) ❔ So I'll can RT it 🙏

[2022-02-17 21:37] cari-lynn commented on #607
Hey! It should be tweeted after the weekend, when our social media person is back 🙂

[2022-02-17 23:43] adriens commented on #607
🙆‍♂️ i'm waiting for you.
Have a nice week-end 🍸 🏖️ ☺️

[2022-02-18 14:16] pivotaljohn opened #608 "Teach GitHub how to recognize ytt YAML as a language"
https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-a-language

Overall:
- [ ] find 200+ unique GitHub repos that are using ytt

For ytt modules (templates, overlays, library files) — `.yml`, `.yaml`:
- [ ] write a syntax grammar
- [ ] get the Bayesian classifier to correctly pick out ytt from a file of `.yml`/`.yaml` files of various dialects
- [ ] create PR with required "evide

[2022-02-18 16:35] pivotaljohn commented on #608
Which is more appropriate: attempt to extend the existing Starlark Linguist syntax to optionally include the `end`?
...or submit an entirely different dialect?

Note: currently, the Starlark entry in [`language.yml`](https://github.com/github/linguist/blob/dea6d4733b4fd68c67d248bfd0cfc5e1fa3cfa29/lib/linguist/languages.yml#L5986-L6004) does _not_ include `.star`

[2022-02-18 18:43] cari-lynn commented on #608
Extending the language would result in having only one starlark language. If it's necessary to also have 200+ unique GitHub repos for ytt's starlark dialect then that could reduce work there.

However I am not sure that would be possible or accepted by the starlark maintainers because it is a syntax outside of the project.

[2022-02-19 00:53] cari-lynn opened #610 "Report error when assigning key to Starlark Builtin"
**Describe the problem/challenge you have**
When assigning any [starlark builtin](https://github.com/google/starlark-go/blob/7a1108eaa0124ea025e567d9feb4e41aab4bb024/starlark/library.go#L77-L143) without invoking it to a yaml key, a panic is reported. While this is invalid code since its a reserved name in starlark, an error could be reported instead of panicing.

[code]

results in:

[code]
**Des

[2022-02-22 18:08] microwavables commented on #607
Here ya go! https://twitter.com/carvel_dev/status/1496184927007694849?s=20&t=mOF4eQhI0OZPclY1YclECg

THank you @adriens !

[2022-02-22 18:08] #607 closed, assigned to nobody

[2022-02-22 18:25] #520 closed, assigned to nobody

[2022-02-22 20:40] pivotaljohn opened #611 "Annotate Data Value Schema with validation"
**Given** a Data Values schema, annotated with a validation rule:

[code]

Details at [Proposal > Specification > `@schema/validation`](https://github.com/vmware-tanzu/carvel/blob/004-schema-validation/proposals/ytt/004-schema-validation/README.md#schemavalidation).

### Scenario: Invalid Data Value

**Given** the final Data Value's value does not satisfies the rule:
**When** `ytt` runs
**Then** r

[2022-02-22 20:45] pivotaljohn commented on #604
Split this story into two:
- _this_ story covers the `@assert/validate` annotation (and required plumbing)
- #611 is scoped to emitting `@assert/validate` annotations, given a schema declaring validations.

[2022-02-22 22:03] cari-lynn commented on #524
@joshrosso We are actively working on this now. Do you have a reproduction scenario so I can understand when this happens?

[2022-02-24 00:18] gcheadle-vmware commented on #598
Unassigning myself until the OSL file comes next week (likely Friday March 4th)

[2022-02-24 06:05] #601 closed, assigned to nobody

[2022-02-24 16:36] pivotaljohn commented on #598
Thanks for carrying this water, @gcheadle-vmware. 👍🏻

[2022-02-24 16:38] pivotaljohn commented on #608
Agreed.
Yeah, it would also couple the two projects.
We've already made some changes and want to retain the freedom to do more — if absolutely necessary. 👍🏻

[2022-02-28 20:23] pivotaljohn opened #615 "v0.37.1"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
- [x] [Create an OSM Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#OSM-Release)
    - [x] [Create a Github release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-a-Github-Release)
    - [x] [Create the Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Creat

[2022-03-01 01:22] pivotaljohn commented on #589
Fixed in v0.39.0.
Backported to v0.37.1

[2022-03-01 01:22] #589 closed, assigned to pivotaljohn

[2022-03-01 03:37] pivotaljohn commented on #598
Happened to stumble through the PivNet/TanzuNet upload "build"... it [failed for v0.40.0](https://runway-ci.eng.vmware.com/teams/carvel/pipelines/pivnet-sync/jobs/upload-ytt/builds/2) back on 2022-02-17.
However, when I simply re-ran the build on 2022-02-28 (with identical inputs), it [succeeded](https://runway-ci.eng.vmware.com/teams/carvel/pipelines/pivnet-sync/jobs/upload-ytt/builds/2.1).

Noti

[2022-03-01 07:03] adriens opened #616 "🐦 Please tweet about v0.37.1 release 🎆"
... so I can RT it to announce chocolatey release cf https://github.com/adriens/chocolatey-ytt/issues/16

[2022-03-01 18:23] pivotaljohn commented on #616
Hey @adriens!  So, every once in a great while, we'll do one of these patch releases. They are intended for our Long Term Support efforts. They will always contain backports of fixes that are already available in a later version of the tool.

No need to bundle up this release. 👍🏻

[2022-03-01 18:23] #616 closed, assigned to nobody

[2022-03-01 21:25] adriens commented on #616
:+1:

[2022-03-02 06:50] ameena007 opened #618 "The video "Discover ytt in [video](https://youtu.be/KbB5tI_g3bo)" is private"
The video "Discover ytt in [video](https://youtu.be/KbB5tI_g3bo)" is private.

Can it be made public,  So that people can learn more about ytt via the video?

[2022-03-02 16:48] pivotaljohn opened #619 "v0.40.1"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-03-02 18:40] cari-lynn commented on #618
Hey, thanks for submitting this! There is an open [PR](https://github.com/vmware-tanzu/carvel-ytt/pull/614) to fix this. Meanwhile, here's the [link](https://youtu.be/WJw1MDFMVuk) directly.

[2022-03-02 23:27] adriens commented on #619
Hi, could you please 🐦 about the release so I can RT it 🙏 https://github.com/adriens/chocolatey-ytt/issues/17

[2022-03-03 20:18] pivotaljohn opened #621 "Error when a non-template annotation is used for setting the value of a node"
**Describe the problem/challenge you have**
When I accidentally write non-template-code for an inline comment in my template, the resulting value is `null`.

Example:

[code]
yields:
[code]
_(from: https://carvel.dev/ytt/#gist:https://gist.github.com/XudongLiuHarold/d99b14e347601b9254e86330e99aa9ad)_

This is a bad experience because `ytt` returns a value giving me the impression that the template

[2022-03-04 21:44] pivotaljohn commented on #619
👍🏻

https://twitter.com/carvel_dev/status/1499176870025351169?s=20&t=4nnYXVfkMyH8FdpDaFVGUw

[2022-03-04 23:55] gcheadle-vmware commented on #598
Uploaded OSL file to TanzuNet, closing this issue.

[2022-03-04 23:55] #598 closed, assigned to gcheadle-vmware

[2022-03-07 17:46] #486 closed, assigned to vmunishwar

[2022-03-07 17:46] aaronshurley commented on #486
This will be available in the next version ([v0.41.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.41.0)).

[2022-03-07 20:10] cari-lynn commented on #621
Related to https://github.com/vmware-tanzu/carvel-ytt/issues/114 "[lang] stricter annotation building"
and https://github.com/vmware-tanzu/carvel-ytt/issues/532 ""#@data.values" [no space after @] should error with a helpful hint".
Maybe these separate but related issues belong together in an epic?

[2022-03-07 23:33] pivotaljohn commented on #618
That PR was merged. 👍🏻

[2022-03-07 23:33] #618 closed, assigned to nobody

[2022-03-07 23:39] pivotaljohn commented on #621
Thanks for laying down the connective tissue between these three issues.

My hope is that wherever someone starts with this work, they can see these references and take on the appropriate scope.
In terms of organizing the backlog, I think you did the needful, right there... that there's nothing more we need to do, right now.

[2022-03-09 05:15] ameena007 commented on #618
Wow !!! thank a lot!

[2022-03-10 05:56] johnSchnake opened #622 "ytt Value different than starlark.Value"
Hoping for some direction/clarity:

I'm using ytt as a library in a project where I'm trying to add a group of different modules together; some from ytt (e.g. the semver, assert, or ipaddr modules) alongside  the modules created via [isopod](https://github.com/cruise-automation/isopod) modules (which provide methods like `kube.get` to get k8s resources).

However, whenever I try to combine these t

[2022-03-10 17:29] pivotaljohn opened #623 "Disable Data Value validations"
## First Class Feature Flags

**As the** person consuming a ytt library
**When** I don't want validations on Data Values to run (e.g. a number of those validations are inappropriate for my situation; failing validations are preventing me from getting downstream information [like looking at `--debug` output]; I'm in the middle of modifying the library and want validations to get out of my way; ...)

[2022-03-11 05:40] GrahamDumpleton opened #624 "--file-mark '**/*.ext:type=xxx' should not error when no files matched"
**Describe the problem/challenge you have**

If using file marks and you use a pattern if no files match then `ytt` errors when there is really no need for it to error.

[code]

For the case where an explicit file name is given, then yes error. Eg., for ``--file-mark 'file.ext:type=xxx'``. Just not when it is a wildcard.

Not giving an error when using wildcards makes it practical to use `ytt` as

[2022-03-11 05:44] GrahamDumpleton opened #625 "Remember input file permissions for when using --output-files."
**Describe the problem/challenge you have**

When you use ``--output-files``, files are always generated with user permissions of `rwx------` and the original user permissions are not used. Further, output files have no group/other permissions at all.

This can cause problems due to execute bits being added to files.

**Describe the solution you'd like**

Remember the user permissions for input fi

[2022-03-11 06:09] GrahamDumpleton opened #626 "Provide api call to exclude files from output."
**Describe the problem/challenge you have**

One can conditionally exclude a single YAML file from being output by using:

[code]

This even works when you use ``--output-files`` and not even an empty file is created.

When you have a whole directory of files, possibly of multiple levels, it is inconvenient to modify every single file to add into a conditional check.

There may well be a convolute

[2022-03-11 23:08] cari-lynn commented on #622
Hey @johnSchnake, I would love to hear more on this use case. Can you share examples or link to the code on where you are running into this issue? Seeing the code may help us understand how it would be possible to use these differing Starlark values together.

We have some [docs](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/integrating-with-ytt/apis.md#as-a-go-module) that ment

[2022-03-15 05:05] GrahamDumpleton opened #628 "Document how comments can be used with text templating."
**Describe the problem/challenge you have**

I wanted to be able to have comments in file when using text templating, but couldn't find an example in the documentation. I therefore had to make an educated guess as to whether it was even possible and then work out how to do it.

**Describe the solution you'd like**

Add some documentation to:

* https://carvel.dev/ytt/docs/v0.40.0/ytt-text-templati

[2022-03-15 06:53] GrahamDumpleton opened #629 "imgpkg push help string references --lock option that doesn't exist."
**What steps did you take:**

Run:

[code]

This generates:

[code]

There is however no `--lock` option listed and trying to supply the option results in an error.

[code]

**What happened:**

Shows incorrect message. Luckily did not catch on fire.

**What did you expect:**

That help string would be accurate.

**Anything else you would like to add:**

Nope.

**Environment:**

- ytt version (use

[2022-03-15 06:54] GrahamDumpleton commented on #629
Whoops, wrong repo. Can someone move this to the correct repo.\

[2022-03-15 13:54] johnSchnake commented on #622
So I'm trying to just utilize the library functions for starlark from ytt and [isopod](https://github.com/cruise-automation/isopod). Isopod was built using the default starlark-go library but since ytt uses its own modified `github.com/k14s/starlark-go/starlark` then nothing can work together.

The point is that isopod had built some great functions `kube.[get|exists|delete|put]` that allow you to

[2022-03-16 00:13] pivotaljohn commented on #622
Thanks for that additional context, @johnSchnake. 👍🏻

The changes we've made in our fork are actually rather isolated: it's mostly about redefining a "block" as being what lies between a starting token and an `end` (rather than indentation).
Here's the delta: https://github.com/vmware-tanzu/starlark-go/compare/master...ytt-1-jul-2020

We have made genuine extensions and most of that code lives her

[2022-03-16 16:00] pivotaljohn opened #630 "@ytt:toml.decode() fails to marshal TOML array of table values"
reported: https://kubernetes.slack.com/archives/CH8KCCKA5/p1647400515157369
minimal example: https://carvel.dev/ytt/#gist:https://gist.github.com/pivotaljohn/81df98b1024374ca04ad30ad987cc70b
TOML docs:  https://toml.io/en/v1.0.0#array-of-tableshttps://toml.io/en/v1.0.0#array-of-tables

**Environment:**

- ytt version (use `ytt --version`): v0.40.1

---
Vote on this request

This is an invitation t

[2022-03-17 10:41] cppforlife opened #633 "missing file name in error from .star files"
**What steps did you take:**
[A clear and concise description steps and yaml files that can be used to reproduce the problem.]
https://carvel.dev/ytt/#gist:https://gist.github.com/cppforlife/7938159ae6f403599eb033a383e7c43f

**What happened:**
[A small description of the result or the yaml that was generated]

**What did you expect:**
[A description of what was expected and the yaml that should ha

[2022-03-17 14:50] ramkrishna2k3 opened #635 "- struct has no .scrapeTimeout field or method"
I have a weird issue. Unable to resolve, Kindly help

error :
[code]

I pass the value in config.yml from values.yml

**config.yml**
[code]

**values.yml**
[code]
**But when I give podMonitor, enabled false then reconcile is succeed, but when i give false reconcile get failed.**

**pkginstall.yml**
[code]

---
2022-03-21 (@pivotaljohn) — added code fences to make clearer the indentation of the pro

[2022-03-17 19:02] pivotaljohn commented on #628
Recently, the same request came through as a question: https://kubernetes.slack.com/archives/CH8KCCKA5/p1646377927106589

[2022-03-17 22:50] adriens opened #634 ":loudspeaker: Add ytt to the Official YAM Seb Site :zap:"
Currently `ytt` is not listed  on [`YAML.org`](https://yaml.org/) :

![image](https://user-images.githubusercontent.com/5235127/158906913-06df24dc-6744-4297-9b90-82feeeca437b.png)

That could be a nice place for `ytt` :smile_cat:

[2022-03-17 22:50] adriens commented on #634
Now waiting for https://github.com/yaml/www.yaml.org/pull/106

[2022-03-17 22:50] adriens commented on #634
:crossed_fingers:

[2022-03-18 00:06] pivotaljohn commented on #634
🙏🏻

[2022-03-18 06:38] rohitagg2020 commented on #635
When podMonitor enabled is `false`, then ytt doesn't try to run over below code and hence it is passing
[code]
But when it is set to true, then ytt run over the above code. Can you share the files with the correct indentation. I think there might be some misindentation w.r.t. `scrapeTimeout: 30s`

[2022-03-18 06:39] renuy commented on #635
@ramkrishna2k3 , this looks like a ytt issue, transferred to the ytt repo.

[2022-03-18 09:30] ramkrishna2k3 commented on #635
[config.yml.txt](https://github.com/vmware-tanzu/carvel-ytt/files/8303280/config.yml.txt)
[pkginstall.yml.txt](https://github.com/vmware-tanzu/carvel-ytt/files/8303281/pkginstall.yml.txt)
[values.yml.txt](https://github.com/vmware-tanzu/carvel-ytt/files/8303282/values.yml.txt)

[2022-03-18 09:31] ramkrishna2k3 commented on #635
@renuy : how do that, please help.

[2022-03-21 20:34] pivotaljohn commented on #625
_(triaged w/ @cari-lynn and @vmunishwar)_

This issue was also discussed in #302 and vmware-tanzu/carvel-imgpkg#93.
What's different here is that in _this_ situation, there are a variety of file permissions, all of which are intentionally set and likely having an affect on whether downstream use is successful or not.
For those who are using `ytt` in the context described in _this_ issue, this beha

[2022-03-21 20:54] pivotaljohn commented on #626
We're gonna have to chew on this one for a bit, @GrahamDumpleton.

At first blush, it has the potential to bring along a non-trivial chunk of complexity:
- it's a poor UX for a user to attempt to exclude a file from output but receive an error message if the template fails;
- we've deliberately pruned this scenario in our `for-output` file-mark (i.e. one can only _include_ a file for output; but n

[2022-03-21 22:11] cppforlife commented on #634
nice!

[2022-03-21 22:20] adriens commented on #634
Still waiting for PR to be reviewed and merged :crossed_fingers:
![image](https://user-images.githubusercontent.com/5235127/159372779-e88aabce-f8e8-42a0-9b35-e686f9cd5ecd.png)

[2022-03-21 22:26] GrahamDumpleton commented on #626
This one was definitely a little bit pie in the sky at this point. Just seemed like an interesting idea for more complicated template usage when using ``--output-files``. If only given some thought at this point, that is still fine.

[2022-03-21 22:28] GrahamDumpleton commented on #625
Is `--output-files-preserve-permissions` intended to be applied on `imgpkg push`. So the OCI image would contain the full permissions, vs, the idea I proposed of at least unpacking permissions akin to what git does.

[2022-03-21 23:23] pivotaljohn commented on #625
The proposed flag is for `ytt`. We mentioned the corresponding imgpkg GitHub issue for context rather than definition.

Was thinking that we'd preserve the owner's permission bits very much like [how `imgpkg` is — as of v0.7.0 — is doing](https://github.com/vmware-tanzu/carvel-imgpkg/pull/140/files#diff-1f27d3b7fd0a995b844c25eba57643304a7fbad1da96ab425492e0e97e4fbafeR129).

Would this be sufficien

[2022-03-21 23:35] #619 closed, assigned to pivotaljohn

[2022-03-21 23:36] #615 closed, assigned to pivotaljohn

[2022-03-21 23:50] GrahamDumpleton commented on #625
Ahhh, getting things mixed up my head again. :-)

As to what you are suggesting, seems I still need to fix up group/other permissions since it is the loss of them which is also part of the issue for me.

[2022-03-21 23:55] pivotaljohn commented on #635
@ramkrishna2k3

I can't seem to make out where `values.yml` is located.
It _must_ be in the bundle of your package in order to be the schema for your package.
Given the fact that a data value that is most definitely defined in your schema is apparently undefined, I suspect `values.yml` is _not_ in the package.

Unrelated: heads-up, the tomcat credential (i.e. Secret named `tomcat`) appears to not

[2022-03-22 06:57] databasedav commented on #23
hello from 2022, this solution still works and is the first non carvel.dev google result for `ytt multi document function`

[2022-03-22 15:46] pivotaljohn commented on #23
A reminder that this continues to be a rough edge for some number of folks. The desire to convert this from a panic to an error message (and provide a more approachable, actionable message) is still valuable. 👍🏻

[2022-03-22 15:50] pivotaljohn commented on #625
Can you elaborate on the difficulty, there? What happens/breaks when you lose the "group" and/or "other" permissions?

[2022-03-22 20:00] cari-lynn opened #637 "Allow `:` colons in data value flags yaml keys"
**Describe the problem/challenge you have**
It is valid yaml to have a colon in a YAML key and the `-f` flag allows it:
[code]
However, when using data values flags, this is disallowed:
[code]
[code]
Note:  the below `:` in the environment variable key is invalid in unix, but may be valid in windows
[code]
[code]
all result in an error:
[code]

**Describe the solution you'd like**
Do not report th

[2022-03-22 21:05] GrahamDumpleton commented on #625
As separately explained with `imgpkg` there are situations like where using the output as subsequent input to a docker build that can result in failure when group/other permissions are lost. Eg., files copied into a docker image which when run as a container is run as non root, which then fails as non root user can't read the files copied into the image as group/other permissions were thrown away

[2022-03-22 21:27] cppforlife commented on #637
im personally -1 on supporting `:`. there are other chars that we do not support (intentionally) such as `__` (double underscore) or `.` (period) since we use them in special ways to figure out key structure. additionally env vars on various OSes do not support various special chars.

this check seems to be quite important as well.

[2022-03-22 23:55] pivotaljohn commented on #625
Well, then. I'm apt to want to preserve all permissions: all nine bits for existing files, umask for new files.

[2022-03-23 18:21] cari-lynn commented on #637
Intentionally not supporting special chars in the key makes sense in the context of these flags. They all have a flag value of `key=value` and it's just the `key` portion of that we are talking about here.
- `--data-values-env`
- `--data-values-env-yaml`
- `--data-value`
- `--data-value-yaml`
- `--data-value-file`

That just leaves `--data-values-file`, which does not allow a key in the flag value

[2022-03-23 19:19] cari-lynn commented on #637
During testing for `:` in `--data-value-env` keys I learned that this currently is allowed. This issue is not meant to change that.

[2022-03-23 19:20] #637 closed, assigned to nobody

[2022-03-30 18:55] cari-lynn commented on #524
Hey this has been fixed in https://github.com/vmware-tanzu/carvel-ytt/pull/609. It has been fixed by allowing `:` in file paths  in `o.DataValuesFlags.FromFiles` or `--data-values-file`. This will allow Windows file paths to be used. This will be available once the next release is made (v0.41.0).

[2022-03-30 18:55] #524 closed, assigned to cari-lynn

[2022-04-04 15:21] pivotaljohn opened #641 "Conditionally skip validations for a Data Value"
Some validation rules only make sense when related values are in a particular range.

To handle cases like this☝🏻 ,
I want to be able to give the validation annotations/functions a predicate that will short-circuit/disable the entire validation.
As a very common special case, provide a syntax for when the value of the node is `null`.

👉🏻  In effect, address the [Conditional Validation](https://git

[2022-04-04 15:43] pivotaljohn opened #642 "Require consumer to supply a Data Value (string, scalar, maps)"
As a library/package author,
Some subset of Data Values I define, I can't possibly know what the values ought to be.
Or I want to force the end-user to supply a value.

To handle cases like this ☝🏻 ,
I want to be able to use out-of-the-box validation rules that generally cover this situation.

👉🏻  In effect, address the [Required Input](https://github.com/vmware-tanzu/carvel/blob/004-schema-valida

[2022-04-06 16:06] gcheadle-vmware commented on #604
Closing since follow up PR was merged.

[2022-04-06 16:06] #604 closed, assigned to gcheadle-vmware

[2022-04-06 20:33] martyspiewak commented on #593
@pivotaljohn If we were to submit a PR for this, what would it take to verify there are no breaking changes when we update the starlark library? Is running all of the tests sufficient? Is there something more we should try to do?

[2022-04-07 13:22] martyspiewak commented on #593
@pivotaljohn just looking through the commits, I notice that [this commit](https://github.com/vmware-tanzu/starlark-go/commit/16e44b11d94568b6de240a245c9f85c415e69bbc) is breaking.

If y'all are trying to avoid introducing breaking changes, would you be open to a PR to vmware-tanzu/starlark-go that just adds the cancellation behavior without the rest of the commits from google/starlark-go, or woul

[2022-04-07 16:28] pivotaljohn commented on #496
This is related to other less-than-great UX in templates:

src: https://kubernetes.slack.com/archives/CH8KCCKA5/p1649264496571349

[2022-04-08 17:07] cari-lynn commented on #136
We have also been defining a module as either a Starlark module or a YAML module. We have a section on [Terminology](https://carvel.dev/ytt/docs/v0.40.0/lang-ref-load/#terminology) that these definitions may belong in.

[2022-04-08 17:10] cari-lynn commented on #136
I believe the scope of this issue is to disambiguate `.lib.yml` (modules) with `libraries` (ie `_ytt_lib`) in both the documentation and/or in error messages or user facing messages.

[2022-04-08 17:12] #202 closed, assigned to nobody

[2022-04-08 17:54] cari-lynn commented on #179
The feature mentioned above has been implemented and should alleviate some concerns about flags that parse data values as strings.

When using a [data values schema](https://carvel.dev/ytt/docs/v0.40.0/how-to-write-schema/),  if a data value flag like `--data-values-env` parses a value as a string, but the schema expects an int, then feedback on the error will be provided right away and the value

[2022-04-08 17:54] #179 closed, assigned to nobody

[2022-04-09 01:19] GrahamDumpleton opened #643 "Error when handling files which use multiple levels of symlinks."
**What steps did you take:**

In Kubernetes mount a configmap or secret into a container. In the container run `ytt` on a file in the projected volume.

**What happened:**

You get an error:

[code]

It appears to be due to two levels of symlinks.

[code]

If you run:

[code]

it works fine.

**What did you expect:**

Expect it to not break on multiple levels of symlinks.

**Anything else you woul

[2022-04-10 22:26] GrahamDumpleton commented on #643
In a Slack discussion the options `--allow-symlink-destination` and `--dangerous-allow-all-symlink-destinations` were pointed out. The overall way that symlinks are handled, including these options is rather hostile to a user though and suggests that a user doesn't know what they are doing with the suggestion that it is dangerous to use symlinks. These options are only mentioned in the help string

[2022-04-11 20:51] cari-lynn opened #645 "Values file `data.list("/")` should read from root library"
**What steps did you take:**
When `data.list("/")` within a data values file, it should list the files relative to the root library. Playground reproduction example: https://carvel.dev/ytt/#gist:https://gist.github.com/cari-lynn/8b7c194fd28bcab0ec80e716eecc161f

**What happened:**
It will list no files at all.

**What did you expect:**
I expect that `data.list("/")` will list all files relative to

[2022-04-11 22:55] cari-lynn commented on #643
Hey @GrahamDumpleton , thanks for creating this. We want to avoid causing frustration around this and want ytt to work well with Kubernetes.

The background behind disallowing symlinks by default is for security. The security docs [here](https://carvel.dev/ytt/docs/v0.40.0/security/) give a overview:

code tries to load file contents from sensitive locations
A: templating is constrained to seeing

[2022-04-11 23:08] GrahamDumpleton commented on #643
In the context of that I can then understand. The problems are then:

* There is no good hint in the error message as to what to do, be that references to command line options or keywords to search in documentation.
* There is no where in the documentation that mentions the term `symlink`, which is pretty well the first thing one is going to search for if you realise the issue is related to symlin

[2022-04-11 23:30] cari-lynn commented on #643
Thanks for these suggestions, we can definitely improve the documentation to be searchable and the error message here. 👍

As for the solution you mentioned, `--allow-symlink-destination` takes the filename you want to allow a symlink to, so it would look like: `--allow-symlink-destination /opt/xxx/config/..2022_04_11_22_54_42.4157872851/workshop.yaml` and you can repeat the flag for nested symlink

[2022-04-11 23:38] GrahamDumpleton commented on #643
Ahhh, I saw `--allow` and assumed it was a boolean option like `--dangerous-allow-all-symlink-destinations` is. Was confused why it still asked for an argument. :-)

So yes, it seems I can do:

[code]

In other words you can specify any parent directory and doesn't have to be the specific file which is the target.

So is things like this which would be helpful in the docs, ie., that can specify a

[2022-04-11 23:50] cari-lynn commented on #643
Great! I'm glad that worked. We definitely need documentation on this 😄 . I made a PR to make it clear in the documentation FAQ and security page. Let me know if there's anything missing. https://github.com/vmware-tanzu/carvel/pull/413

I'll create a separate issue for updating the error text to hint at how to use symlinks and close this issue if that's alright with you.

[2022-04-11 23:53] GrahamDumpleton commented on #643
Looks good. I hope the search feature will still find `symlink` when except for the option name is always plural. :-)

Feel free to close.

[2022-04-11 23:58] cari-lynn opened #646 "Make symlink error message more helpful"
**Describe the problem/challenge you have**
Using symlinks like in Kubernetes to mount a configmap or secret into a container causes a error unless using `--allow-symlink-destination`. This error message is confusing as to why symlinks aren't allowed by default.

The current error:
[code]

**Describe the solution you'd like**
A more clear error that describes how to solve the problem:
[code]

**An

[2022-04-11 23:58] #643 closed, assigned to nobody

[2022-04-12 20:19] cppforlife commented on #646
this is a good example for using `hint`:

[code]

[2022-04-13 15:22] vicmarbev commented on #646
I would like to work on it!

[2022-04-13 17:08] cari-lynn commented on #646
@vicmarbev That's great to hear! We will keep an eye out for a PR from you. Let us know if you have any questions here or in the Kubernetes Slack in [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5) channel. :)

[2022-04-13 19:24] #318 closed, assigned to cari-lynn

[2022-04-14 14:57] cppforlife commented on #646
merged!

[2022-04-14 14:57] #646 closed, assigned to nobody

[2022-04-19 16:39] cari-lynn commented on #645
It's also not possible to read from the root directory in data.read("/")  in a data values file only. It is still able to read from the same directory. I believe its caused by the same thing as this bug. [Heres](https://carvel.dev/ytt/#gist:https://gist.github.com/cari-lynn/421caea663d3752114626c71be3d8c02) my reproduction example.

[2022-04-19 18:52] cari-lynn opened #649 "Create Guide: How to convert Helm templates to ytt templates"
## Why
Helm is a common templating tool used in k8s. Often authors that want to use ytt already have helm templates. This guide would provide them with a high level resource to aid in mapping Helm concepts to ytt concepts and features.

## What
This guide would translate Helm concepts (values, templates, --set, template directive) into ytt concepts, and point to the appropriate docs in ytt. This g

[2022-04-19 19:03] cari-lynn opened #650 "Create guide: How to use ytt with Helm"
## Why
Authors or consumers can use helm and ytt together, but they may believe that it's not possible since we have no documentation on how to do it or what use cases it would serve. These guides are intended to be lightweight and highlight these use cases with simple examples.
## What
Some use cases we can touch on are:
- Patching Helm templates: show example of Helm templates with a ytt overlay

[2022-04-19 19:05] cari-lynn opened #651 "Create example: Templating in a multiline string"
## Why
A common use case for Kubernetes ConfigMaps and Secrets are to put values in a multiline string, which may need to be templated. Templating that multiline string isn’t obvious (it requires `yaml.encode()`).
## What
[There exists](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/k8s-config-map-files/config.yml) an example of this. Put this or another example into the official

[2022-04-19 21:52] gcheadle-vmware commented on #630
TOML is a little weird in the syntax for an array of tables(maps). Each array item is prefixed with the parent map key and double square brackets:

|  YAML  |
[code]
|  TOML  |
[code]
---
|  YAML  |
[code]
|  TOML  |
[code]

[2022-04-21 00:26] GrahamDumpleton commented on #624
Still want to see this.

[2022-04-21 22:30] pivotaljohn opened #655 "Import all environment variables as Data Values"
Started as a discussion in [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5/p1650410088599709) by @GrahamDumpleton

**Describe the problem/challenge you have**
When using ytt one can use the `--data-values-env` option to import as data values all environment variables starting with a designated prefix. In doing that, it will strip the prefix.
What I can't seem to find is an easy way of sa

[2022-04-21 22:56] pivotaljohn commented on #655
At this time, there are UX/UI details to work out, but the overall idea has a solid use-case.

[2022-04-22 15:54] pivotaljohn commented on #149
Requested: https://kubernetes.slack.com/archives/CH8KCCKA5/p1650629876052489

[2022-04-22 16:31] cmoulliard commented on #149
We should also to have the possibility to pass the function to the next line
Now
[code]
Expected
[code]

and pass the args on multilines
Now
[code]

Expected
[code]

[2022-04-25 14:59] #622 closed, assigned to pivotaljohn, cari-lynn

[2022-04-26 18:32] shmolyneaux opened #656 "Creating a schema for arbitrary keys in a map"
Hello!

I'm having trouble understanding how to create a schema that contains a map with arbitrary keys.

Here's an example of the sort of YAML I want to create a schema for:
[code]

This map doesn't have a fixed set of keys, but those keys are strings and it has values that I'd like to create a schema to match.

For comparison, the jsonschema spec has an [additionalProperties](https://json-schema

[2022-04-26 18:59] #630 closed, assigned to gcheadle-vmware

[2022-04-26 22:00] RichSilk commented on #656
+1
I'd like to see a schema syntax like this too.

[2022-04-26 22:43] pivotaljohn commented on #656
You are not misunderstanding anything: this is currently not possible with the current version of the schema feature in `ytt`.

However, we have put some thought into this use-case...

The current thinking is to introduce an annotation by which an author can apply constraints on the keys: `@schema/key`
Details in this section of the proposal/spec: https://hackmd.io/pODV3wzbT56MbQTxbQOOKQ?view#sche

[2022-04-26 23:04] pivotaljohn commented on #149
I see how the format you're looking for is more intuitive. 👍🏻

However, it's one thing to recognize an annotation is spilling over onto subsequent lines.
It's a whole 'nother thing to start to attach annotations to a node that is _above_ the annotation.

Little known fact: the `#@ ` is a short-hand for two annotations.
When `#@ ` appears to the right of a node, it's (internally) identified as a `#

[2022-04-26 23:06] pivotaljohn commented on #624
Yeah, so do we. Aggressive little stalebot.

Moving this into "Carvel Accepted" to make that clear.

[2022-04-26 23:24] pivotaljohn commented on #593
Apologies for the long delay in replying, @martyspiewak.

Yes, we are generally confident in the coverage of our test suite.

Yeah, we are pretty aggressive about avoiding breaking changes. I need a minute to remind myself of the history here. Is it possible to cherry-pick the cancel functionality... or in someway skip that breaking change?

[2022-04-26 23:49] shmolyneaux commented on #656
Hi John, thanks for confirming that! I'm glad to hear that you're starting to talk about that.

Just to be clear, I'm not actually interested in the size of planets. It's just illustrative of an existing (more complex/application-specific) yaml structure I'm trying to represent.

If I'm understanding the proposal correctly, that seems pretty reasonable. The `@schema/key` annotation allows you to s

[2022-04-27 16:02] pivotaljohn commented on #656
That's a solid summary, there, @shmolyneaux. 👍🏻

Yes, and the intent there is to loosen the constraints on the annotated key (here, `_`) while still maintaining the structure (here, a map, containing one map item, having a key "size" containing a floating point value).

Yeah, that totally makes sense. This card might have been played, tho... as in the `@overlay/match` annotation, we picked `expect

[2022-04-28 18:55] voor opened #657 "data-values-file should accept an entire directory"
**Describe the problem/challenge you have**
I keep my values files in a directory, which I'm very sure contains only values files.  I don't have a lot of control over the naming of the files in that folder.

**Describe the solution you'd like**
I understand that currently
`ytt --data-value-file /values`
does not work, because it expects:
`ytt --data-value-file /values/file.yaml --data-value-file /

[2022-04-29 04:02] martyspiewak commented on #593
It looks like y'all are really using the [ytt-1-jul-2020 branch](https://github.com/vmware-tanzu/starlark-go/tree/ytt-1-jul-2020) in starlark-go (the commit referenced the go.mod file [here](https://github.com/vmware-tanzu/carvel-ytt/blob/develop/go.mod#L13) only exists on that branch).

I was able to cherry-pick the commit that adds this functionality to that branch on a fork (of starlark-go) and

[2022-04-29 15:19] martyspiewak commented on #593
Opened a [PR](https://github.com/vmware-tanzu/starlark-go/pull/3) against the ytt-1-jul-2020 branch. happy to change to a different branch if you want me to

[2022-05-02 15:53] pivotaljohn commented on #626
I'm not seeing an approach, here, that wouldn't introduce disproportionate interface and implementation complexity (especially the latter).

One might also say that this aspect of templating: deciding which files are to be included for output is an aspect of the task that sits _juuuuust_ in front of the templating tool.

Either way, closing, for now.

[2022-05-02 15:53] #626 closed, assigned to nobody

[2022-05-02 18:28] pivotaljohn commented on #657
Yeah, this is a particularly handy feature for when `ytt` is in a sandwich of automation and it's hard/infeasible to enumerate the filenames. 👍🏻

As a guiding principle, let's aim for `--data-values-file` to enumerate and sort the files from the filesystem identically to `--file`:
- it's not just the named directory, but all sub-directories, recursively;
- the sort order is alphabetical of the _en

[2022-05-09 17:13] aaronshurley opened #664 "Why did dependabot miss the cobra 1.4.0 bump?"

[2022-05-10 14:00] mojito317 opened #665 "Clone the content of a node to another"
I would like to clone (without duplication) the right side of an `A` node to a `B` node keeping `A` node as is. Can I somehow reach this with overlays in ytt?

Example input:

[code]

Expected output:
[code]

[2022-05-10 18:58] pivotaljohn commented on #665
Hey @mojito317, good question.

Yes, you can.

If you mean wholesale duplicate a single key, you can use the `@overlay/replace` operation to capture and duplicate the contents:

[code]
Note:
- I'm using [a custom matcher](https://carvel.dev/ytt/docs/v0.40.0/lang-ref-ytt-overlay/#custom-overlay-matcher-functions) to ensure that I only match on documents that contain the `A:` key at the top level.
-

[2022-05-10 21:08] #645 closed, assigned to gcheadle-vmware

[2022-05-10 21:08] #611 closed, assigned to vmunishwar

[2022-05-10 21:31] voor commented on #645
Is there an incoming reason for closing this issue?

[2022-05-11 11:44] mojito317 commented on #665
@pivotaljohn thank you for your help, I would not figure this out by myself. I kept trying with the `replace`, but I was far from this solution.

I don't mean to question it, but better understand what you're dealing with.

It's a tricky one. We are using ytt for overlaying an OpenAPI descriptor, where we have one schema with a tiny difference from the original, but we want to keep both of them, s

[2022-05-11 16:41] pivotaljohn commented on #645
Ah! I thought that this issue was linked with it's PR (it is in ZenHub, but not GitHub).

It's been fixed, sir.

We're looking at cutting the next version soon!

[2022-05-12 15:00] pivotaljohn commented on #593
Reviewed the PR, yesterday w/ @cppforlife.

We also spoke in depth about what approach would meet our goals, here: that is what API would ytt expose to afford users and integrators to terminate the invocation.

While Starlark (with the PR you've cherry-picked, thank you) provides the ability to set a maximum "step execution", the way that `ytt` manages Starlark threads would make it infeasible to

[2022-05-13 19:20] pivotaljohn commented on #63
A potentially related example: the ability to — from within a template — take a YAML Fragment and encode it (complete with its annotations) ... Being able to do so means that such values (e.g. a k8s Secret who's data is an overlay) could be closer to being editable (overlay-able) as well... 🤔

https://kubernetes.slack.com/archives/CH8KCCKA5/p1652468285086519?thread_ts=1652465480.622579&cid=CH8KCCK

[2022-05-13 21:56] pivotaljohn opened #668 "Including a comment in a `@template/value` causes an unexpected template error"
**What steps did you take:**

Adding a comment after setting a value for a node...

[code]

**What happened:**
Results in an error:

[code]

**What did you expect:**

For the comment to simply be ignored.

**Anything else you would like to add:**

- reported [#carvel ~ 2021-07-16](https://kubernetes.slack.com/archives/CH8KCCKA5/p1626440295463700) by @larssb
- reported [#carvel ~ 2022-05-31](https:

[2022-05-13 22:14] #623 closed, assigned to pivotaljohn

[2022-05-13 22:19] pivotaljohn commented on #665
I'm delighted you got there. Happy to help.

Dropping your questions in a GitHub issue like you just did is good and spot on.

Note that you can also get support on our Kubernetes Slack channel: [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5). If you're not already in the Kubernetes Slack workspace, you can get an invite here: http://slack.k8s.io/

[2022-05-13 22:19] pivotaljohn commented on #665
Closing this issue to note that we've got a solution. If you'd like any additional support feel free to ask!

[2022-05-13 22:19] #665 closed, assigned to pivotaljohn

[2022-05-14 23:51] GrahamDumpleton opened #671 "Provide way to escape "." in key name when using --data-value options."
**Describe the problem/challenge you have**

I want to use `--data-value` to set a key where the key name includes a ".".

Trying with various possible conventions used by other tools there currently appears to be no way of doing this:

[code]

This means that if a data value schema uses a "." in a key name, eg. "file.yaml", "tls.crt" or "tls.key", there is no way to set it from the command line a

[2022-05-15 06:09] GrahamDumpleton opened #672 "Add a -o jsonpath option and `jsonpath` library module."
**Describe the problem/challenge you have**

The usual use case for `ytt` is to generate a set of YAML documents. If working in the Kubernetes space this would often be fed into `kubectl` or `kapp`.

During development and testing one sometimes wants to be able to extract a sub set of resource objects from the generated YAML documents, or you may want to generate summary details on what was genera

[2022-05-15 06:21] GrahamDumpleton commented on #672
BTW, I could be wrongly assuming that `jsonpath` can do more than it can. It is the transformations one can do in `jq` and `yq` to mutate structures into different shapes that am ultimately interested in and think would be useful. It is quite possible `jsonpath` can't do that.

That said, some `jsonpath` libraries have means to pass in functions to apply to data selected by the `jsonpath` expressi

[2022-05-16 18:36] gcheadle-vmware commented on #671
Hi @GrahamDumpleton 👋

Thank you for creating this issue and cross posting the link to the slack conversation. This request is definitely something that we think would add value to ytt. Also, since there is no workaround for escaping "." in key names, the priority of this request is 'important-longterm' but could be bumped up if more users support this request.

One thing that we want to consider

[2022-05-16 19:27] pivotaljohn commented on #672
Whew! there's a lot in here. Thanks for the detailed and thoughful write-up, @GrahamDumpleton.

We hear two requests with overlapping functionality:

1. Provide a command-line flag, `-o jsonpath=""` that reshapes the output from `ytt` to a projection described by a JSON Path expression.
   1. further, please return the ultimate result as a Kubernetes List resource.
2. Provide a "`ytt` Standard Lib

[2022-05-17 19:33] #186 closed, assigned to nobody

[2022-05-17 19:34] pivotaljohn commented on #186
Released in [v0.39.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.39.0).

[2022-05-17 19:51] dprotaso commented on #186
woot! thanks!

[2022-05-20 07:38] zyyw opened #674 "how to manipulate multiline nginx.conf in configmap"
suppose there is a configmap as below:
[code]
we want to delete `listen 8443 ssl;` if it's network env is ipv6 only, or delete `listen [::]:8443 ssl;` if it's ipv4 only, or keep both if it supports ipv4 & ipv6.

Our currently implementation is
[code]

But this above overlay generate nginx.conf as a single-line string with '\n' in it. How can we make it formatted into multi-line?

[2022-05-20 11:42] cppforlife commented on #674
im assuming this is more of a cosmetic problem since single-line result that gets generated is valid (valid yaml and valid nginx config). it just doesnt look as readable as one may want.

the reason why it becomes single line is because yaml does not like having lines within text that are only made out of spaces and newline (e.g. `            \n`). this happens when you replace listen chunk with a

[2022-05-21 11:15] voor commented on #227
For anyone finding this issue and wondering what we're talking about, here's a quick example: https://carvel.dev/ytt/#gist:https://gist.github.com/voor/234e08ff06f3e14eb2e0a1c3a8630862

[2022-05-23 22:05] #641 closed, assigned to gcheadle-vmware

[2022-05-24 22:17] #657 closed, assigned to pivotaljohn

[2022-05-24 23:30] voor commented on #657
Hurray!

[2022-05-26 16:59] gcheadle-vmware opened #678 "v0.41.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-05-26 18:43] pivotaljohn commented on #619
This release did not produce new binaries. The binaries in _this_ release are identical to those in [v0.40.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.40.0).

There was an issue where the "latest" release link (i.e. https://github.com/vmware-tanzu/carvel-ytt/releases/latest) was pointing to v0.39.0 instead of v0.40.0.

Creating this bug-fix release was a way of ensuring users wer

[2022-05-26 22:04] pivotaljohn opened #679 "(regression) --data-value-file flag broken"
**What steps did you take:**

With file,

`values.yml`
[code]

[code]

**What happened:**
[code]

**What did you expect:**
[code]

**Anything else you would like to add:**

**Environment:**

- ytt version (use `ytt --version`): v0.41.0
- OS (e.g. from `/etc/os-release`): (all)

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Us

[2022-05-26 22:29] adriens commented on #619
:+1:

[2022-05-26 23:03] #679 closed, assigned to pivotaljohn

[2022-05-26 23:03] pivotaljohn opened #681 "v0.41.1"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-05-26 23:52] pivotaljohn commented on #681
While doing some exploratory testing, discovered a regression.

The `--data-value-file` flag was broken which warranted an immediate patch release.

[2022-05-27 21:27] gcheadle-vmware commented on #678
v0.41.1 with the patch fix will been the one available on TanzuNet. We do not need to follow up with the OSM license for this release (v0.41.0). Closing issue.

[2022-05-27 21:27] #678 closed, assigned to gcheadle-vmware

[2022-06-01 19:16] cppforlife commented on #674
going to close. feel free to reopen if solution is not clear.

[2022-06-01 19:16] #674 closed, assigned to nobody

[2022-06-02 21:56] pivotaljohn opened #682 "Better handling of HTTP-sourced files"
**Describe the problem/challenge you have**
As described here: https://github.com/vmware-tanzu/carvel-kapp/issues/521#issuecomment-1145323232 ...

Whenever an HTTP GET is performed, if the response succeeds but is a non-200 result, that response is being read as the contents of the named fail.

**Describe the solution you'd like**
Whenever there is a non-200 response from the HTTP resource, stop a

[2022-06-03 15:18] Hugal31 opened #683 "How to overlay arbitrary packages from a YAML file."
I am building a robot and I am using YTT to configure it. Each robot has specific "instance" parameters, as well as "series" parameters, common to a series of almost identical robots, and some general parameters that are usually true for every robot.

My (a bit simplified) file hierarchy looks like this:
[code]

All the files are overlay files, except for init.yaml.

Then I invoke ytt like this:
[

[2022-06-04 00:29] pivotaljohn commented on #683
If I'm tracking well, the core of what we're trying to accomplish, here, is conditionally apply overlays...

That one can accomplish this at the command-line by either including or omitting directories that contain those overlays.

But this puts the onus on the person running `ytt` to generate the robot's config: they have to remember to include _all_ of the prior versions (and name each one).

So

[2022-06-04 00:32] pivotaljohn commented on #683
In case you we not aware, we also have a Slack channel on the Kubernetes workspace: [#carvel](https://kubernetes.slack.com/archives/CH8KCCKA5) (if you're not already signed-up, you can quickly get an invite here: http://slack.k8s.io/). You can also ask your question, there, which can allow for a little more back-and-forth. 👍🏻

Of course, we can continue here as well.

[2022-06-05 10:24] Hugal31 commented on #683
Thanks for your quick reply, I'll try the second solution. I'll go on the Slack channel if I need more help.

[2022-06-05 10:24] #683 closed, assigned to nobody

[2022-06-07 16:28] joe-kimmel-vmw opened #684 "Dict Equality Checks rapidly exceeds max recursion"
**What steps did you take:**
I wanted to compare two (yaml) structures that had been read into data.values and turned into dictionaries.
I used the `==` operator as is our traditional way.

**What happened:**
`- comparison exceeded maximum recursion depth`

**What did you expect:**
a boolean

**Anything else you would like to add:**
the culprit is here: https://github.com/vmware-tanzu/carvel-ytt/b

[2022-06-08 20:37] pivotaljohn commented on #684
Related upstream: https://github.com/google/starlark-go/issues/360

[2022-06-08 20:42] pivotaljohn commented on #684
Until recently, Starlark as a language operated (and through many integrations) under this comparison limit.

Hypotheses:
- given that Starlark is meant to be used as a configuration language, this domain — in practice — does not need such depth.
- folks ran into this limit and opted-out of using Starlark
- ???

What brought this up, @joe-kimmel-vmw?

[2022-06-08 20:46] pivotaljohn commented on #684
This is Starlark behaving as designed: limit depth to avoid "infinite recursion". Increasing or making this limit greater is more of an enhancement than a bug. 🤷🏻

[2022-06-14 01:50] GrahamDumpleton opened #687 "Bad error message and process panic when using exported library functions."
**What steps did you take, what happened and what did you expect:**

Create a single level library structure.

[code]

In `default.yaml` add:

[code]

In `_ytt_lib/mylib/local.star` add:

[code]

Run `ytt -f .` and you get the output:

[code]

Now change `_ytt_lib/mylib/local.star` to:

[code]

Run `ytt -f .` and you get the output:

[code]

So as expected get nice error message about what the pro

[2022-06-14 01:56] GrahamDumpleton commented on #687
Related to issue https://github.com/vmware-tanzu/carvel-ytt/issues/156

[2022-06-14 15:47] astaruch opened #688 "How to render GitLab's "!reference [some, rule]" line with ytt"
Hello,

I am struggling with the ytt and advanced use of GitLab's  [child-parent pipelines](https://docs.gitlab.com/ee/ci/pipelines/parent_child_pipelines.html#dynamic-child-pipelines).

I want to use [`!reference`](https://docs.gitlab.com/ee/ci/yaml/yaml_optimization.html#reference-tags) tag feature in the child pipeline, that will be generated by the `ytt`.

Let's go into the playground - https:

[2022-06-14 18:52] astaruch commented on #688
After reading the [YAML specification for tags](https://yaml.org/spec/1.2.2/#tags), I understand that:
- `!reference` is denoting a special tag created by GitLab (https://gitlab.com/gitlab-org/gitlab/-/issues/266173)
- since `ytt` is rendering it and doesn't know anything about types, it is just ignoring it and displaying it as an array

I am thinking about the two following workarounds directly w

[2022-06-14 22:22] pivotaljohn commented on #688
Hello @astaruch.

TL;DR. `ytt` does not (currently) emit tags in its output.

Yeah, that there is a YAML tag... as you noted, it's parsed and processed by `ytt` as such. This is because `ytt` operates _from within_ the YAML structure. In fact, first step — before _any_ processing occurs — `ytt` delegates parsing the YAML to the de facto standard Go YAML parser.
On the output side, `ytt` currently

[2022-06-14 22:33] #681 closed, assigned to pivotaljohn

[2022-06-14 22:35] pivotaljohn commented on #635
@ramkrishna2k3 if you still need assistance with this issue, please feel free to comment here and we'll be notified.

For now, closing.

[2022-06-14 22:35] #635 closed, assigned to nobody

[2022-06-17 14:43] pivotaljohn commented on #156
@GrahamDumpleton's report ☝🏻  contains additional valuable nuance.

[2022-06-17 14:44] pivotaljohn commented on #156
Diagnosis (in progress):

- The `CompiledTemplate` (or more precisely, the `CompiledTemplateMultiError` sub-component) assumes that whatever source of Starlark that has errored out is available as a template to the `TemplateLoader` that was driving the evaluation.
  - `CompiledTemplateMultiError` is attempting to build up the error message _including filename, position, and source text_ of the imp

[2022-06-17 14:46] pivotaljohn commented on #687
@GrahamDumpleton — thank you for this thorough treatment of this bug. The additional detail will likely prove to be helpful in shaping the ultimate fix. 🙏🏻

This issue and #156 are not just related, but point to the exact same defect.
I've highlighted the fact that details in this issue should be considered when troubleshooting.

For clarity's sake, I'll close this issue in favor of keeping the hi

[2022-06-17 14:46] #687 closed, assigned to nobody

[2022-06-20 12:09] Hugal31 opened #689 "Add support for a math module"
**Describe the problem/challenge you have**

We are using YTT to generate the configuration for our robot. Robotics often need to compute rotation, angles, etc... so we often have to use pi, and sometimes cos, sin, etc... However, there are no such functions in YTT.

**Describe the solution you'd like**
Add support for basic math functions :
[code]

starlark-go already defines a ["math" module](ht

[2022-06-21 15:38] pivotaljohn opened #691 "Validate a value is within an enumeration"
As a library/package author,
Sometimes I want to limit the range of valid values to a specific and finite set.

To handle cases like this ☝🏻 ,
I want to be able to use out-of-the-box validation rules that generally cover this situation.

👉🏻  In effect, address the [Enumeration](https://github.com/vmware-tanzu/carvel/blob/004-schema-validation/proposals/ytt/004-schema-validation/README.md#use-case-

[2022-06-21 15:45] pivotaljohn opened #692 "Validate that of a set of siblings, exactly one is not null (union structures)"
As a library/package author,
Sometimes, I want to declare multiple possible sibling configuration / subtree (e.g. database connection information)
But want to make clear that only one of those subtree should be specified for any given run.

To handle cases like this ☝🏻 ,
I want to be able to use out-of-the-box validation rules that generally cover this situation.

👉🏻  In effect, address the [Union

[2022-06-21 20:43] voor commented on #656
Just wanted to actually save reference to me mentioning this exact use case and then losing track of it, and needing to find it again, so here it is: [Slack conversation](https://kubernetes.slack.com/archives/CH8KCCKA5/p1651154285892129)

[2022-06-22 17:58] pivotaljohn commented on #692
In IPM: we discussed the fact that `one_not_null()` outside the context of writing validation rules seems like it would accept a sequence of values and report whether exactly one was not null.

How might be clear up this potential confusion?
- a "better" name? `one_map_item_not_null()`
- use different values for the keyword arg in the validation than the function name?

[2022-06-24 21:25] pivotaljohn commented on #656
Additionally, having such a feature allows for partial use of schema: [thread in #carvel](https://kubernetes.slack.com/archives/CH8KCCKA5/p1656099409095809).

[2022-06-27 17:32] #682 closed, assigned to nobody

[2022-06-28 19:25] #156 closed

[2022-06-29 16:40] vrabbi commented on #655
--data-values-env-all seems pretty non deterministic in my opinion but having the option to not strip a suffix would be great.
The reason i say it would be non deterministic is that you may very likely have an env var with the same name as a variable in your ytt data values that is not related but would override it giving you an unexpected result. also how would this work with schema where you wou

[2022-06-29 20:59] GrahamDumpleton commented on #655
Then provide a way for the argument when enabling passing all environment variables to supply a key prefix under which the values are to be added. Or make the key prefix mandatory. Eg.

[code]

would result in:

[code]

If say prefix is empty string then add them at root for `data.values`.

The use case for this is such that usually only environment variables would be passed anyway. If not you can

[2022-07-01 22:01] #689 closed, assigned to pivotaljohn

[2022-07-05 21:18] pivotaljohn opened #702 "Lift keyword-containing text from Starlark docs to `ytt` docs to increase hit rate / decrease time to answer"
**Describe the problem/challenge you have**
Documentation about core Starlark language functionality is pointed too (and not copied) and doesn't show up in search results.

Exhibit A:

![image](https://user-images.githubusercontent.com/12101915/177417576-5fa64e50-549e-4498-a72a-a863ae02c849.png)

**Describe the solution you'd like**
Select portions of Starlark docs that include likely keywords and

[2022-07-06 15:38] gberche-orange commented on #97
Related backlog entry in intellij regarding Starlark support https://youtrack.jetbrains.com/issue/GO-7511/Support-for-Starlark-configuration-language

[2022-07-07 17:08] pivotaljohn commented on #692
For those following at home, we've cherry-picked over the work from the original PR into #677.

[2022-07-07 17:15] pivotaljohn opened #703 "v0.42.0"
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-the-Release-Notes)
    - [x] [Generate Binaries and Checksum](https://hackmd.io/uVp

[2022-07-07 17:19] pivotaljohn commented on #688
It's been a minute. Closing for now. @astaruch, if you'd still like support with this issue, feel free to comment on it, we'll get notified. 👍🏻

[2022-07-07 17:19] #688 closed, assigned to pivotaljohn

[2022-07-11 18:07] pivotaljohn opened #704 "template.replace() can't replace a map item with the same key"
**What steps did you take:**
[code]

**What happened:**
[code]

**What did you expect:**
The map item to simply be replaced.

**Anything else you would like to add:**
[#carvel @ 2022-07-11](https://kubernetes.slack.com/archives/CH8KCCKA5/p1657433680791589)

**Environment:**

- ytt version (use `ytt --version`):
- OS (e.g. from `/etc/os-release`):

---
Vote on this request

This is an invitation to

[2022-07-14 13:01] jeffwubj opened #705 "Add version compare lib/func"
**Describe the problem/challenge you have**
 I managed to get K8s version and store it in a variable, want to check whether there is some handy lib that can compare version

**Describe the solution you'd like**
maybe a new func from version module:
[code]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

---
Vote on this request

This is an

[2022-07-19 19:11] #642 closed, assigned to pivotaljohn, vmunishwar

[2022-07-19 21:21] #692 closed, assigned to pivotaljohn, gcheadle-vmware

[2022-07-20 18:31] pivotaljohn commented on #106
Came up again: https://kubernetes.slack.com/archives/CH8KCCKA5/p1658338062768589

[2022-07-20 20:55] voor commented on #106
Providing the salt to make things consistent seems like a doable workaround, since the password would already need to be stored securely and the salt could be generated prior to ytt call

[2022-07-21 16:41] #691 closed, assigned to pivotaljohn

[2022-07-21 17:13] pivotaljohn opened #707 "User-Test ytt Schema Validation"
With the core validation rules implemented, let's get usability and suitability feedback from users.

The goal is to vet our assumptions so that we can either confidently adjust or move forward with our implementation towards General Availability of this feature.

---

[📝  ytt Validations Usability Testing Plan (Google Doc)](https://docs.google.com/document/d/1hcbeE8HoXl3TikIf8m2HENkTiU5y_ze7AT2y4

[2022-07-21 23:56] pivotaljohn commented on #106
Re-opened because we're seriously entertaining this. Exploring the viability of the "workaround" suggested, here.

[2022-07-22 21:29] joe-kimmel-vmw commented on #460
note from side conversation:  this might be a general "export" feature, e.g. "help me export this to a zip" or "populate my paste-buffer with something that will upload a gist of this".   the underlying user story is "copy-and-pasting multiple docs from the playground is slow/tedious":   what's the simplest possible thing we could do that would allow you to save from the playground, without requir

[2022-07-25 15:59] pivotaljohn commented on #664
Not sure... but it picked up Cobra 1.5.0...

Gonna close this for now... if we see this happen again, we can re-open and investigate.

[2022-07-25 15:59] #664 closed, assigned to nobody

[2022-07-26 23:09] pivotaljohn commented on #593
The contents of vmware-tanzu/starlark-go#3 are likely GTG, but tests on that branch are not running successfully.

_That_ work needs be complete before this can proceed.

[2022-07-27 00:46] pivotaljohn commented on #687
Released in [v0.42.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.42.0).

[2022-07-27 00:47] pivotaljohn commented on #156
Published in [v0.42.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.42.0).

[2022-07-29 19:17] pivotaljohn opened #710 "v0.43.0"
- [x] Update Documentation by [generating a new docs version](#Generate-new-docs-version)
- [x] Create release in Github
    - [x] [Bump Version](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Bump-version)
    - [x] [Create Draft Github Release](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#Create-Draft-Github-Release)
    - [x] [Create Release Notes](https://hackmd.io/uVpvITUuR4Cbwzkzb7MEpQ?view#

[2022-07-29 19:19] pivotaljohn commented on #703
Pending OSL file production.

[2022-07-29 20:59] pivotaljohn opened #711 "when `not_null=` rule is present, run first and stop if not satisfied"
When a value is `null` and `not_null=True`, no other validation rules should run.

## Current behavior

[code]

[code]
yet…

[code]

[code]

## Desired behavior

[code]

[code]

[2022-07-29 21:02] pivotaljohn opened #712 "Encode YAML Fragments to strings in violation messages"
Convert YAML Fragments to Starlark equivalents when reporting these values in error messages.

## Current Behavior

[code]

yields:

[code]

## Desired Behavior
[code]

Notes:
- this example shows this behavior for `min=`/`min()`; the scope of this work is to check all of the current rules to ensure they properly encode in violation messages.
- given that data values may contain sensitive data, do

[2022-08-05 23:52] pivotaljohn commented on #705
A workaround (which can serve as a reference implementation):

https://github.com/pivotaljohn/tanzu-framework/blob/ac3165c8/pkg/v1/providers/ytt/lib/helpers.star#L349-L360

[2022-08-19 06:36] mamachanko opened #716 "Q: Can the right-hand side of an overlay reference the left?"
There are situations where an overlay would depend on the original left-hand side. For example:

* Increment `Deployment.spec.replicas` by `n`
* Backup original `ConfigMap.stringData` into an annotation
* Set a new annotation to the value of a present annotation
* ...

Afaik this isn't possible after studying [the overlay docs](https://carvel.dev/ytt/docs/v0.42.0/lang-ref-ytt-overlay). Am I missin

[2022-08-19 06:39] mamachanko commented on #716
🤔 I may have overlooked [overlay.replace](https://carvel.dev/ytt/docs/v0.42.0/lang-ref-ytt-overlay/#overlayreplace). It's `via=Function` allows to compute the right from the left.

[2022-08-21 14:32] mamachanko opened #718 "Panics when appending to "empty""
**What steps did you take:**

[code]

[code]

**What happened:**

[code]

**What did you expect:**

A helpful error message.

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- ytt version (use `ytt --version`): `ytt version 0.42.0`
- OS (e.g. from `/etc/os-release`): macOS

---
Vote on this request

This is an invitation t

[2022-08-21 14:52] mamachanko opened #719 "Q: How to access root-level `_ytt_lib` from inside config tree?"
Libraries in `_ytt_lib` can only be accessed from within modules at the same directory level as `_ytt_lib` as far as I can tell.

However, I would love to modularize shared code into a library and share it across my deeply-nested config file-tree. I understand that this comes at a cost because now each sub-tree can't be `ytt`'d on its own.

Maybe this is possible already, but I can't tell how. 🤔

[2022-08-22 06:11] #716 closed, assigned to nobody

[2022-08-23 06:03] gabyx opened #721 "[question]: Why is accessing a node variable not allowed in text templating"
Consider the following:

[code]

I would have liked to have access to the current document values `a` and `b` somehow to be able to use them in text templating. Why was that design choice ctaken to dissallow this? Whats the reason behind?

[2022-08-23 16:53] mamachanko commented on #721
I cannot speak to the design, but in the meantime, if you are stuck on this, [overlay.replace](https://carvel.dev/ytt/docs/v0.42.0/lang-ref-ytt-overlay/#overlayreplace) could help you to merge a and b into all.

[2022-08-23 17:46] #404 closed, assigned to joe-kimmel-vmw

[2022-08-23 23:53] pivotaljohn commented on #721
Right: there is no "this" reference.

@cppforlife can elaborate on the thinking behind this specific instance.

In general, I'll say that there's a deliberate attempt to maximize expressiveness while keeping the underlying mechanisms as simple as possible.

There are a couple sources of complexity in such expressions:
- it introduces a path-expression syntax that doesn't currently exist in the too

[2022-08-24 00:02] pivotaljohn commented on #721
In terms of a solution, @mamachanko rightly pointed to Overlays as a way to update the value of `all:` with an expression. It gets a little complicated because the `@overlay/replace` needs to be placed on the lowest-common ancestor of the node receiving the evaluated expression and the nodes supplying values. Overlays also represent a level of indirection: it's a patch applied after the fact and t

[2022-08-24 00:15] pivotaljohn commented on #718
This is absolutely a bug.

From the docs:
https://carvel.dev/ytt/docs/v0.42.0/lang-ref-ytt-overlay/#overlayappend

[2022-08-24 00:16] pivotaljohn commented on #718
@mamachanko a workaround:

[code]

[2022-08-26 14:24] pivotaljohn commented on #719
I think of this as the "Common Dependency" use-case. We talk about private libraries being "a dependency" for its enclosing library.

That's right: the design decision to require that all dependencies be contained within that enclosing library's directory was to attempt to keep the overall library easy to reason about (and this idea of being able to execute `ytt` on a dependency/library is the per

[2022-08-26 14:33] pivotaljohn commented on #705
While there's some minor questions about naming and proper home of things (if someone's game, sparking a quick conversation [on Slack](https://kubernetes.slack.com/archives/CH8KCCKA5) might well resolve this), this would be a nice add to the `ytt` "standard library". 👍🏻

[2022-08-26 15:42] #703 closed, assigned to pivotaljohn

[2022-08-27 12:25] mamachanko commented on #719
Thank you @pivotaljohn for describing these approaches in such detail!

Concerning _"`vendir sync` Common Dependencies"_, I assume the `vendir.yml` would contain a `path` specific for each nested config-level that depends on the dependency, wouldn't there?

[2022-08-29 22:16] #272 closed, assigned to joe-kimmel-vmw

[2022-08-29 22:22] pivotaljohn opened #722 "one_not_null= treats missing keys as null valued"
_(From #707 synthesis: [one_not_null= should treat the absence of a key as equivalent to present and null.](https://miro.com/app/board/uXjVOgHIamo=/?moveToWidget=3458764531736782450&cot=14))_

---

With this schema:

[code]

this fails:

[code]

Instead, it should succeed, treating `rootdirectory` as missing to be equivalent to it being present with a `null` value.

[2022-08-29 22:59] pivotaljohn opened #723 "Allow `@schema/nullable` alongside `@schema/type any=True`"
_(From #707 synthesis: ["Allow both nullable and type any=True"](https://miro.com/app/board/uXjVOgHIamo=/?moveToWidget=3458764531612096396&cot=14))_

---
In #400 (implemented in #517), we specifically disallowed both `@schema/type` and `@schema/nullable`.

We have now found a use-case where we'd like to allow it:

[code]

Fails with:

[code]

However — as became evident in our usability testing (i

[2022-08-29 23:02] pivotaljohn opened #724 "Schema Validation v2"
_(this is the next feature increment of #561)_

---

**As a** Configuration Author
**I want to** declare what constitutes a _valid_ Data Value right in my schema definition
**In a way that** requires even less custom Starlark code from me ⭐
**And** I can write fewer annotations ⭐  because `ytt` can confidently infer for what _have_ written.
*So that**
- I can state those invariants in one central

[2022-08-29 23:12] pivotaljohn opened #725 ""Writing Schema" includes guidance on including validations"
Update https://carvel.dev/ytt/docs/v0.42.0/how-to-write-schema/ to include proper mention of validations.

A sketch of potential new sections:
![image](https://user-images.githubusercontent.com/12101915/187319471-c3ecdc94-8035-4e33-85ab-84ac89bfcecb.png)

That said, you may discover it's appropriate to include other sections.

This page should also point to the Cheat Sheet (#726) _and_ the attenda

[2022-08-29 23:12] pivotaljohn opened #726 "Validations Cheat Sheet"
Create the first (of many) cheat sheets, this one for "Schema Validations"

![image](https://user-images.githubusercontent.com/12101915/187316371-c3574fb4-4f6c-4e47-918a-d4c7c2470bcc.png)

Based on https://docs.google.com/document/d/1PjrmNDdw1HoUpwfJmp6HcjaVzcsqzO7QI4ac3JyLAx8/edit

Incorporate insights from usability tests, including (but not limited to):
- ["Cheat Sheets are very appealing for d

[2022-08-29 23:12] pivotaljohn opened #727 "Add "Writing Validations""
Notes:
- _includes_ [likely points-of-confusion](https://github.com/vmware-tanzu/carvel/blob/004-schema-validation/proposals/ytt/004-schema-validation/README.md#consideration-proactively-address-likely-challenging-topics-in-documentation)
- `one_not_null=`
  - explicitly call-out the need to mark target fields with `@schema/nullable`
- ["To avoid confusion: convey this mapping from typed-terms to